/* Global properties == */
html, body {width:100%; padding:0; margin:0;}
body { 	 
	font: 14px Arial, Helvetica, sans-serif;
	min-width:1080px;
	background: #ddd;
}

#menu {
	min-width: 700px;
	width: 100%;
	height: 100px;
	position: fixed;
	background-image: url(logo-cecosda-formation-small.png);
	background-repeat: no-repeat;
	background-position:3%;
	top: 0px;
	background-color: #09F;
	
}

#menu > ul {
	list-style-type: none;	
	padding-left: 600px;
}
	
#menu > ul > li {
	float: left;
	text-align: center;  
	position: relative;
	margin: 20px;
	
}
#menu ul::after{
	content: "";
	display: table;
	clear: both;
}
#menu ul li a {
	display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
	font: bold 16px "arial";
	height:45%;
	
}

#menu ul li a:hover {
	color: #F96;
	border-bottom: 4px solid gold;
}
.sous-menu{
	display: none;
	background-color: #09F;
	position: absolute;
	
	z-index: 1000;
	list-style-type: none;
}

 .sous-menu > li {
	float: none;
    width: 100%;
	text-align: left;
	margin-left: -20px;
	
}
#menu > ul li:hover .sous-menu {	
	display: block;
}

.sous-menu ul li a {
    border-bottom: none;
    padding: 5px;
	color: white;
	line-height: 30px;
}
.sous-menu ul li a:hover {
	
	background-color: #F93;

}

.deroulant > a::after {
	content: "▼";
}

.slide > img {
	width: 1550px;
	height: 650px;
	padding-top: 100px;
}
#banner-content {
	background-color: rgb(25, 47, 163);
	height: 200px;
	margin-top: -19px;
}
#banner-content > p, .image, h1, h3 {
	text-align: justify;
	margin-left: 250px;
}
#banner-content > h1, h3 {
	color: white;
}
.image{
	width: 40px;
	height: 40px;
	padding-top: 20px;
}

article,aside,footer,section {
	display:block;
}

section#content {
	width:1000px;
	float:left;
}



aside {
	float: right;
	width: 300px;
	position: relative;
	left: -120px;
	top: 35px;
}


.wrapper {
	width:100%;
	overflow:hidden;
}

.atouts {
	margin-top:-20px;
}
.atouts > li {
	line-height:20px;
	padding-top:20px;
	text-align: justify;
}
.inside > p {
	text-align: justify;
	line-height:25px;
}
.partenaires {
	margin-top:-20px;
}
.partenaires img {
	height: 100px;
}
.services {
	padding-bottom:26px;
	margin-left: 60px;

}
.services1 {

	margin-left: 50px;

}

h2 {
	text-transform:uppercase;
	text-align: center;
	background-color: #F93;
	height: 50px;
	padding-top: -40px;
	border-radius: 10px;
	line-height: 50px;	
	margin-top: 30px;
	color: white;	
}
h4 {
	font-size: 30px;
	text-align: center;
	color: #F93;
	height: 40px;
	padding-top: -35px;
	border-radius: 10px;
	margin-top: 20px;
	line-height: 40px;	
	margin-left: 60px;
	text-decoration: underline;

}

.box .inner {
	padding:25px 49px 45px 49px;
}
.box h2 {
	font-size:1.923em;
	margin-bottom:50px;
}

#content .inside {
	padding:24px 40px 30px 50px;
}
footer {
	width:100%; 
	overflow:hidden; 
	margin:0 auto; 
	padding:31px 0px 20px 0; 
	background-color:#09F;
	height: 100px;
}
footer > p {
	margin-top: -15px;
	text-align:center; 
	font-family: 'Montserrat', sans-serif; 
	color:#FFFFFF;
	line-height: 25px;

}
.inside1{
	padding-left: 10px;
	margin-left: 20px;

}
.inside2{
	padding-top: 185px;
}

#photo > img {
	width: 1520px;
	height: 300px;
	padding-top: 100px;
	margin: 0;

}
#corps {
	margin-top:50px;	
	
}

#formations-1 {
	
	border-bottom:20px;
}
.formations {
	width:1300px;
	margin-bottom:40px;	
	height:550px;
	
	
}
#titre-image-1 {
	
	width:400px;
	float:left;	
	
}
#titre-image-3 {
	
	width:300px;
	float:left;	
	
}

#titre-image-4 {
	
	width:300px;
	float:left;	
	
}



div#titre-atout-1 {
	
	float:left;
	
}



div.inscript {
position:relative;	
}


.inscript > a > img {
	margin-top:50px;
	margin-left:50px;
	float:left;	
	width:490px;
	height:110px;
		
}
.inscript > a > img:hover {
	margin-top:50px;
	margin-left:50px;
	float:left;	
	width:516px;
	height:127px;
		
}

.contenu {
	text-align:justify;
	padding-top:20px;
	width:500px;	
	float:right;
	position:relative;
	left: 100px;
}

.contenu > h2 {
	text-align: center;
	padding-top:10px;
	width:600px;	
	float:left;
	position:relative;
	margin-top: -22px;
	right: 400px;
}
.contenu > p {
	text-align: justify;
	padding-top:10px;
	right: 350px;
	float:left;
	position:relative;
	line-height: 25px;
}

.formations ul {
	list-style: square;
		
}
.formations ul > li {
	margin-bottom:5px;
		
}



img > p{
	float:left;
	position:relative;
	
}
div#formations-1 img{

	width:500px;
	height:500px;
	border:0;
	margin-left:0px;
}


div#formations-3 img{
	width:500px;
	height:500px;

}

div#formations-4 img{
	width:500px;
	height:500px;
	

}
.inner > p {
	text-align: justify;
	line-height: 25px;
}

@media (max-width: 1000px){
	body {width:100%; padding:0; margin:0;}
	.slider, #banner-content, #menu {
		position: relative;
		width: 100%;
		text-align: center;
		top: 0%;
		
	}

	#content {
		width: 100%;
	}
}
.inscription {
	display: inline-block;
	background-color: #F93;
	text-decoration: none;
	padding: 15px; 
	color:#FFF;
	font: 18px 'Montserrat', sans-serif;
	border-radius: 30px 30px 30px 30px;
	overflow: hidden;
}
.inscription:hover {
	background-color: #FFF;
	color:#F93;
}

.inscription .banner-content a:hover {
    color: black;
	background-color:lightgrey;

}
#corp{
	left: 300px;
}
#corp ul {
	list-style-type: none;
}



