#header {

    background-image:url("images/baner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}


#content > h1{
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font:bold 24px "Tahoma";
  color: #FFF;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  top:0;
  transition: .5s ease;

}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  width: 70%;
  left: 50%; 
  top:200px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.text {
  opacity: 1;
  color: white;
  text-align: center;
  
}

.text a:hover{ 
  text-decoration: none
}
.text h1{
  color: white;
  font:bold 28px "Tahoma";
  padding: 10px;
  background-color: #101de68c;
  z-index:2000 ;
}
.text h5{
    font:bold 18px "Tahoma";
    color: #d11d1d;
}
.text h1 a{
  color: white;
  font:bold 40px "Tahoma";
  padding: 10px;
  text-decoration: blink;
}
.text h1 a:hover{
  color: gold;
  font:bold 40px "Tahoma";
  padding: 10px;
  text-decoration: blink;
}
.text .mini{
  color: white;
  
  background-color: #7b81da8c;
}
.text .mini h4{
  text-decoration: none;
  font:bold 24px "Tahoma";
}

.detail{

    font: 12px "Tahoma";
    color:#000;
    border: 1px;
}
p.details{

    font: bold 18px "Tahoma";
    color:#000;
    border: 1px;
}
/* Fading animation */

b::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}
.fade {
    -webkit-animation-name: fade;
    
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    font:bold 24px "Tw Cen Mt";
    color: #000;
  }

@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  
@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .bounceInRight {
    -webkit-animation-name: bounceInRight;
    -webkit-animation-duration: 3s;
    animation-name: bounceInRight;
    animation-duration: 3s;
  }
  @-webkit-keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .bounce {
    -webkit-animation-name: bounce;
      -ms-animation-name: bounce;
      -moz-transition: bounce;
      -o-transition: bounce;
    -webkit-animation-duration: unset;
    animation-name: bounce;
    animation-duration: unset;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  
  @-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
    
 
#description > h2 {
    font: bold 24px "Tw Cen MT";
    color: #FFF;
    background-color: #09F;
    padding: 10px 10px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
#decouvrez h2 {
    border-radius: 10px;
    background-color: rgb(236, 172, 140);
    font: bold 18px "Tw Cen MT";
    color: #FFF;
    padding: 5px 5px;
}

#decouvrez h2 a, a:hover {
    text-decoration: none;
}
#decouvrez h2:hover{
    font: bold 24px "Tw Cen MT";
    color: rgb(247, 159, 159);
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#decouvrez h1{

    background-color: #09F;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    
}
.formation {
    font: bold 18px "Tw Cen MT";
}
@media screen and (min-width: 1200px){
    #header {
   height: 198px;
    }
    .middle {
      transition: .5s ease;
      opacity: 1;
      position: absolute;
      width: 70%;
      left: 50%; 
      top:196px;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
}

@media screen and (max-width: 1200px){
    #header {
   height: 98px ;
    }  
    .middle {
      transition: .5s ease;
      opacity: 1;
      position: absolute;
      width: 100%;
      left: 50%; 
      top:250px;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    #menu > ul {
      list-style-type: none;	
      float:right;
      width:100%;
      position: relative;
      top: -10px;
      background-color:rgba(0, 103, 172, 0.534) ;
      text-align: center;
    }
}

#register{

    border-radius: 10px;
    border: #09F;
   
}

section#intro-header .wrap-headline {
    position: relative;
    padding-bottom: 10%;

}


section#intro-header h2 {
    font-size: 2rem;
}
section#intro-header h1 i{
    color:#f96;
}
section#intro-header hr {
    width: 10%;
}
section#intro-header .btn-default {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

nav img {

    width: 50%;

}
h3 {
    color: #243C9B;
}

#img {
    width:5%;
}
div.navbar-header{

    margin-bottom: 15px;
}



.hidden-element {
    display: none;
}

#nav-menu {
    margin-right: 1rem;
    }
nav .btn-group {
    margin: 0.8rem 2rem 0 0;
}
nav .form-control {
    margin: 0.8rem 2rem 0 0;
}


#bloc {

    border:#8c8c8c 2px;
    color:#FFF;
    border-radius: 10px;
    background: #2F92CA ;
    text-align: left;
    opacity: 0.8;

}

#bloc select {
    color: #000;
    font: bold 14px "Tw Cen MT";
}
h2 #lien {
    color: white;
}
div  h1 img {

     width: 300px;
    height: 300px;
}
div.form-group img {
    width: 100px;
    height: 100px;
}
div h5 {
    color: rgb(0, 0, 0);
    font: bold 18px "Tw Cen MT";

}
#cours li{
  
  margin: 7px;
   
}
#cours a{
  padding: 6px;
  border-radius: 5px;
  font: bold 16px "Tw Cen MT";
  text-decoration: none;
  color: #FFF;
  margin: 10px;
  background-color: #09F;
  
}

.blink{
  text-decoration: blink;
  -webkit-animation-name: blinker;
  animation-name: blinker;
  -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
    -moz-animation-timing-function:ease-in-out;
    -ms-animation-timing-function:ease-in-out;
    -o-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes blinker {
  from {opacity: 1.0;}
  to   {opacity: 0.0;}
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.panel-title h2{
  font: 16px arial;
  overflow: hidden;
  margin:0px;
  color: #FFF;
  padding:20px;
}

#cours a:hover{
  padding: 6px;
  border-radius: 5px;
  font: bold 16px "Tw Cen MT";
  text-decoration: none;
  color: #09F;
  margin: 10px;
  background-color: #FFF;
  cursor: pointer;
  
}

img.inter {
  width: 100%;  
}

 .btn-right:hover, .btn-left:hover{ 
  color:#000;
  background-color: white;
}


.monslide .btn-right{ 
  position: relative;
  top:-250px;
  float: right;
  display: block;
}
.monslide .btn-left{ 
  position: relative;
  top:-250px;
  float: left;
  display: block;
}

.slide {
  color: #FFF;
  
}
.slide h4 {
  background-color: rgba(0, 0, 255, 0.452);
  font: 14px arial;
  text-align: center;
  position: relative;
  border-radius: 0px;
  text-decoration: none;
  padding: 0px;
  height: 10%;
  margin:0px;
}

.slide img{
  padding-top: 0px;
  height: 100%;
  margin-top:10px
}
.slide .bottom-text{
  position: relative;
  bottom: 80px;
  background-color: rgba(30, 143, 255, 0.541);
  text-transform: uppercase;
  width: 100%;
 

}
.utile {
  background-color: rgb(229, 241, 252);
}

#copyright{
  background-color: #8cc8e6;
  font: bold 16px 'Tw Cen MT';
}
.utile a{
 color: #f96;
 font:bold 18px "Tw Cen MT";
 height: 100px;
}
