/**
Custom CSS made by Hydil Aicard Sokeing shydilaicard@gmail.com GreenSoft-Group Technologies
 */

.form-group ul li {
    color: red;
    font-size: 13px;
}

fieldset{
    border: 1px solid  #05652a;
    padding: 0 1.1em 1.1em 1em;
    margin: 0 0 0 0;
}

legend{
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    color: #05652a;
}


.instruction-title {
    font-size: 20px; font-weight: bold;
}

/*.instruction-content {
    display: inline-block !important;
}*/

.alert-message {
    color: red;
}

.level p {
    display: inline-block;
}

.status-active {
    background: green;
    padding: 20px;
    font-weight: 500;
}

.coaching-form input, .coaching-form textarea{
    background-color: #ebebeb;
    border-radius: 10px;
}

.schedule {
    position: relative;
}

.schedule__table {
    width:100%;
    height: calc(100vh - 128px);
}

.schedule__table td {
    padding: 10px;
    border: 1px solid #000;
    vertical-align: top;
    width: 12.5%;
    height: 10%;
}

.schedule__hour{
    font-weight: bold;
    color: #000;
    font-size:1.1em;
    text-align: center;
}
.schedule__day{
    position: absolute;
    display: block;
    font-size: 1.3em;
    transition: transform 0.3s;
}

.schedule__course {
    font-size: 1.1em;
    color: #000;
    text-align: center;
}

.schedule__day:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.schedule-modal {
    font-size: 20px;
}

.schedule__break {
    font-size:1.2em;
    padding: auto;
    text-align: center;
    font-weight:bold;
}
.schedule__course span {
    font-weight:bold;
}

input, select, textarea {
    border: 1px solid black !important;
}

.flashbag {
    font-size:20px;
    margin-top: 24px;
    box-shadow: 3px 4px 15px #101010d1;
    color: black;
}

.btn-header {
    height: 100px !important;
}

a {
    cursor: pointer !important;
}

.span__hide {
    display: none;
}

.hide_span {
    display: none;
}
@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.blink{
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
}

.card-box {
    padding: 12px !important;
}

.input_style {
    font-size: 16px; color: #6610f2; background-color: white; border: 2px solid #6610f2 !important;
}

div.dataTables_wrapper div.dataTables_length select{
    width: 50px !important;
}
