a:focus{
    color: inherit !important;
}

.a-icon{
    height: 24px;
    width: 24px;
}

.devoir-detail{
  font-size: 17px;
}
.devoir-detail .text-black{
  color: black;
}

.devoir-detail .card-body .lien{
  font-size: 18px !important;
}

.devoir-detail .card-body .fa, .fa-custum{
  color: #f17e11;
  font-size: 18px;
}

.devoir-detail .card-body ul{
  list-style: none;
}

.devoir-detail .card-body ul li{
  list-style: none;
  font-weight: 700;
  margin: 8px;
}

.devoir-detail .card-header{
  background: #060c52 !important;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
}
.table-full{
  width: -webkit-fill-available;
}

.lecon-title {
    width: 100%;
    border-bottom: 1px darkblue dashed;
}

.lecon{
  width: 100%;
  /*border-bottom: 1px darkblue dashed;*/
}

.lecon{
  font-size: 16px;
}
.vspace{
  margin-top: 20px;
}

.hspace{
  margin-right: 10px;
}

.inspace{
  padding: 10px;
}

.palier-zone{
  width: 290px;
}

.palierA{
    color: black;
    cursor: pointer;
}

.niveauA{
  background: #52d252 !important;
  padding: 2px !important;
}

.niveauA button{
  background: lime;
    width: 100%;
    text-align: left;
    font-weight: 500;
    color: black;
    font-size: 18px;
    padding-left: 15px !important;
}

.hidden{
  display: none;
}

.account-box2{

  box-shadow: 3px 4px 15px #101010d1;
}


.account-box{
  box-shadow: 3px 4px 15px #101010d1;
}

.account-box3{
  width: 500px;
}

.lien{
  color: #009efb !important;
}

.rond{
  height: 30px;
  margin-left: 2px;
  margin-right: 2px;
}

.devoirTitle{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.exercice{
  margin-top: 10px;
}

#time{
  font-size: 46px;
  color: red;
}

.lien-student li a{
    padding: 3px 20px !important;
}

.sidebar-menu-student li a{
  color: white !important;
}

.bloc-inscription{
  border: 1px dashed darkblue;
}
.palier-choix{
  padding: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white; 
}


::-webkit-scrollbar-thumb {
  background: #009efb; 
}

.modal-backdrop
{
  opacity: 0.5 !important;
  background: black !important;
}

.lecon-det{
  font-size: 16px;
}

.bloc-palier{
  background: white;
  color: white;
  text-align: center;
  padding: 35px !important;
  border: 1px solid black !important;
}

.bloc-palier-1{
    
}

.palier-prix{
  font-size: 19px;
  font-weight: 600;
  padding: 5px;
}


.palier-prix small{
    color: black;
    font-weight: 600;
}

.sous-rubri{
  margin-left: 30px !important;
  border-left: 12px solid #b2b2b2;
  margin-right: 10px !important;

}

.footer{
    width: 100%;
    background: #060c52;
    padding-bottom: 10px;
    color: white!important;
    bottom: 0;
}


.h4-shop{
  background: #022140;
  padding: 9px;
  color: white;
  font-size: 16px;
}

.bloc-boutique img{
  width: 100%;
  height: 257px;
}

.bloc-boutique{
  background: white;
}

.elt-sous-rubri{
  margin-left: 30px !important;
}

.card-body.col-md-4.bloc-palier:hover {
    
}

.tools {
  font-size: 17px;
}

.tools i{
      font-size: 60px;
}

.tools b{
  color: darkblue;
}

.zoom {
  padding: 20px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
   
}

.rubri{
    background-color: #022140 !important;
}

.rubri-tet{
  font-size: 15px !important;
    font-weight: 600;
}

#titre{
  padding: 8px !important;
  font-size: 18px;
  color: #00669c !important;
}

.lien-student-rubri li a {
    font-size: 17px !important;
}

/*Personnalisation du li actif sur sidebar*/

/*Le Li qui est actif*/
.li-active{
  display: -webkit-inline-box;
}

.i-actif{
  width: 100px;
  margin-left: -49px;
}

.elt-rubri-actif{
  margin-top: 1px !important;
  font-size: 18px !important;
  font-weight: bold;
  padding: 0px !important;
}


.img-coach{
  width: 245px;
}
/* completer le style avec le csss manuel dans l'element dans la vue twig*/

.card-body2:hover{
  box-shadow: 2px 7px 25px 5px #0000003d;
  transform: scale(1.1);
  transition: transform .6s;
}

.niv-part{
  font-size: 16px;
  margin-bottom: 10px;
  padding: 6px;
}

.counter{

}

#time{

}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #060c52;
  color: #f1f1f1;
  z-index: 9;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.profilStud a:hover{
  background: grey;
}

#toggle_btn, #mobile_btn{
    margin-left: 5px;
    margin-top: 18px;
}

.sidebar-overlay{
  margin-top: 40px;
}



.btn-steve:hover{
    background: white !important;
    color: blue !important;
    border: 1px solid !important;
}

.dernier{
  border-right: none;
}

[data-toggle="collapse"] .fa:before {   
  content: "\f139";
  color: white;
  font-size: 18px;
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
  color: white;
  font-size: 18px;
}

.question, .question-2{
    font-size: 40px;
    margin-left: 20px;
    color: #FF5722;
    cursor: pointer;
    position: relative;
    bottom: 0;
}

.question-show{
  text-align: center;
    font-size: 29px;
    color: white;
    font-weight: bold;
    background: darkblue;
}

#myAnimation {
  position: absolute;
}


.btn-choose-level {
  background: white !important;
  color: blue !important;
  border: 1px solid !important;
  padding: 20px !important;
  font-size: 18px;
}

.enter-class-link{
  padding-top: 25px;margin-top:20px;list-style:none;
}

.MsoTableGrid {
  width: 100% !important;
  margin-left: 0px !important;
  margin-bottom: 10px;
}

.save-bloc {
  background-color: #cad7dc;
}


#mobile_btn.menu-cache{
  left: 210px !important;
  position: fixed !important;
  margin-top: 70% !important;
  border-radius: 0px 68px 68px 0px !important;
  background: #022140 !important;
}

.open-right{
  left: 222px;
  position: fixed;
  height: 41px;
  border-radius: 21px;
  margin-top: 3px;
}

.sweet-alert p {
    color: #101010bf !important;
    font-size: 19px !important;
    font-weight: bold !important;
}

.nav-tabs {
    border-bottom: 1px solid #000 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #000 #000 #FFF !important;
    border: 2px solid;
}

.nav-tabs .nav-item .nav-link {
    font-weight: bolder !important;
}

/* Blink button */

.blink {
    animation: blink 1s steps(1, end) infinite;
    /*background-color: #00a8ff;*/
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1023px){
    .menu-opened .sidebar-overlay {
      display: none !important;
    }
    .mobile_menu{
      display: none !important;
    }
}

.lien-student{
  display: block !important;
}

