tr, td {
    padding:10px;
}

#contact-name, #contact-surname, #contact-email, #contact-ville, #contact-phone {
    margin:10px;
}

footer {
    margin-top: 100px;

}


.m{
    margin: 0;

}
#img02{

    font: bold 24px "Tw Cen MT";
    color: #0f0f0f;
    text-align: justify;

}
#img01{

    font: bold 24px "Tw Cen MT";
    color: #1b6d85;
    text-align: justify;

}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(245, 222, 179, 0.719);
    color: rgba(0, 102, 153, 0.842);
}
#myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(245, 222, 179, 0.719);
    color: rgba(0, 102, 153, 0.842);
}

#myImg2:hover {
    opacity: 0.7;
}
#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
     /* Fallback color */
    background-color: #f0f8ff63;
}
/* Black w/ opacity */


/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 900px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
}

.lock {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
}
.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
}
.close2:hover,
.close2:focus {
    color: rgb(184, 123, 123);
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(184, 123, 123);
    text-decoration: none;
    cursor: pointer;
}

h2 {
    padding: 10px 10px;
    font: bold 30px Tahoma;
    color:#FFF;
    background-color: #069;
    text-align: center;
    border-radius: 10px;

}
h3 {
    font: bold 23px "Tw Cen MT";
    text-align: justify;
}
h4  {
    color: #00AAE7;
    text-align: center;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    .close:hover,
    .close:focus {
    color:  rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
}
table {
    width: 800px;
}
.titre_test{
    padding: 10px;
    border-radius: 10px;
    font: bold 18px Tahoma;
    color: #FFF;
    background-color: #00AAE7;
    text-align: center;
}

footer {
    margin-top: 100px;
}


/*css reset */
