/* Global properties == */
html, body {width:100%; padding:0; margin:0;}
h2 {
	text-transform:uppercase;
	text-align: center;
	background-color: #F93;
	padding-top: -40px;
	border-radius: 10px;
	line-height: 50px;	
	margin-top: 30px;
	color: white;	
}
h4 {
	font-size: 30px;
	text-align: center;
	color: #F93;
	height: 40px;
	padding-top: -35px;
	border-radius: 10px;
	margin-top: 20px;	
	margin-left: 60px;
	text-decoration: underline;

}
@media screen and (min-width: 1200px){

	#menu {
		position: relative;
		height: 421px;
		top: 0px;
		font:bold 16px Arial, sans-serif;
		background-color: #E0E1DB;
	
		
	}
    
}

@media screen and (max-width: 1200px){

	#menu {
		position: relative;
		height: 500px;
		top: 0px;
		font:bold 16px Arial, sans-serif;
		background-color: #E0E1DB;
	
		
	}
}
#menu .banniere{

    position: absolute;
    opacity: 0.2;
    width: 100%;
    top: -5px;
    z-index: 0;
}
#menu > img{
	text-align: left;
	margin: 5px;
	position: relative;
	top:20px;
	left: 20px;
	
}
#menu > h1 {
	list-style-type: none;	
	float:right;
	width:85%;
	font:bold 30px Arial, sans-serif;
	text-transform: uppercase;
	color: rgb(0, 103, 172);
	text-align: center;
	margin: 10px;
}
#menu > h3 {
	list-style-type: none;	
	float:right;
	width:90%;
	font:bold 20px Arial, sans-serif;
	text-transform: uppercase;
	color: rgb(0, 103, 172);
	text-align: center;
	margin: 0px;
}
#menu > h6 {
	list-style-type: none;	
	float:right;
	width:90%;
	font:bold 20px Arial, sans-serif;
	text-transform: uppercase;
	color: #F96;
	text-align: center;
	margin: 10px;
}

.containers  .image {
	opacity: .7;
	display: block;
	width: 100%;
	height: 400px;
	margin:10px;
	transition: .5s ease;
	backface-visibility: hidden;
  }
ul.menu {
	   list-style-type: none;
	   float:left;
	   width:100%;
	   position: relative;
	   margin: 0px;
	   background-color:rgba(0, 103, 172, 0.534) ;
	   text-align: center;
   }
ul.menu > li {
	float: left;
	text-align: center;  
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	font:bold 14px Arial, sans-serif;
	margin-left: 60px;

}

ul.menu > li >a {
	display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
	border-bottom: 2px solid transparent;
	
}

ul.menu li a:hover {
	color: #F96;
	border-bottom: 2px solid gold;
	text-decoration: none;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
#welcome .lettrine{

	float:left;
	font-family:"Tw Cen MT";
	font-size:3em;
	text-indent:0;
	margin-right:0.1em;

}
span p{
	padding: 0px;
}

.block {
	text-align: center;
}
#laterale p a {
	position: relative;
	top:0;
	background-color: #f96;
	color: #FFF;
	font: bold 14px arial;
	text-align: justify;
	padding:10px;
	border-radius: 20px;
  }
  #laterale p a:hover {
	text-decoration: none;
	color: #f96;
	background-color: #fff;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
  }
  #laterale p {
	background-color:transparent;
	text-align: justify;
	padding:20px;
  }
  #laterale h2 {
  
	  background-color:rgba(255, 11, 11, 0.76);
	  text-transform: uppercase;
	  font:bold 20px Arial, sans-serif;
	  padding: 10px;
  
  }
  #laterale h3 {
  
	  margin:10px;
	  
  
  }  
  
#laterale .logo {
		  
	width: 50%;


}
  #laterale img {
	width: 100%;
	  height: auto;

}
 .polaroid  {
	width: 100%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	height: 450px;
  }
  
  .polaroid  p{
	width: 100%;
	height: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  .polaroid  h3{
	width: 100%;
	color:white;
	background-color: rgba(30, 143, 255, 0.74);
	margin: 0em;
	text-align: center;
  }
.polaroid  img{
	height: 218px;
	width: 100%;

}
@media screen and (max-width: 1200px){
    #header {
   height: 98px ;
    }  
    #menu > ul {
		list-style-type: none;	
		float:right;
		width:100%;
		position: relative;
		top: -10px;
		background-color:rgba(0, 103, 172, 0.534) ;
		text-align: center;
	}
	#menu > h1 {
		list-style-type: none;	
		float:right;
		width:85%;
		font:bold 30px Arial, sans-serif;
		text-transform: uppercase;
		color: rgb(0, 103, 172);
		text-align: center;
		margin: 10px;
	}
	#menu > h3 {
		list-style-type: none;	
		float:right;
		width:80%;
		font:bold 20px Arial, sans-serif;
		text-transform: uppercase;
		color: rgb(0, 103, 172);
		text-align: center;
		margin: 0px;
	}
	#menu > h6 {
		list-style-type: none;	
		float:right;
		width:90%;
		font:bold 20px Arial, sans-serif;
		text-transform: uppercase;
		color: #F96;
		text-align: center;
		margin: 10px;
	}
	.containers  .image {
		opacity: .7;
		display: block;
		width: 100%;
		height: 400px;
		margin:10px;
		transition: .5s ease;
		backface-visibility: hidden;
	  }
	  
	#menu > ul > li {
	  float: left;
	  text-align: center;  
	  text-transform: uppercase;
	  margin: 10px;
	  position: relative;
	  font:bold 14px Arial, sans-serif;
	}
	
	#menu ul> li >a {
	  display: block;
		padding: 10px;
		color: white;
		text-decoration: none;
	  border-bottom: 2px solid transparent;
	  
	}
	
	#menu ul li a:hover {
	  color: #F96;
	  border-bottom: 2px solid gold;
	  text-decoration: none;
	  -webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
	}
	#laterale p a {
		position: relative;
		top:0;
		background-color: #f96;
		color: #FFF;
		font: bold 20px arial;
		text-align: justify;
		padding:20px;
		border-radius: 40px;
	  }
	  #laterale p a:hover {
		text-decoration: none;
		color: #f96;
		background-color: #fff;
		font: bold 25px arial;
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		-ms-transition: all 150ms ease-in-out;
		-o-transition: all 150ms ease-in-out;
		transition: all 150ms ease-in-out;
	  }
	  #laterale p {
		background-color:transparent;
		text-align: justify;
		padding:20px;
	  }
	  #laterale h2 {
	  
		  background-color:rgba(255, 11, 11, 0.76);
		  text-transform: uppercase;
		  font:bold 20px Arial, sans-serif;
		  padding: 10px;
	  
	  }
	  #laterale h3 {
	  
		  margin:10px;
		  
	  
	  }
	   #laterale img {
	  
		  width: 100%;
		  height: auto;
	  
	  }
	  .polaroid  {
		width: 100%;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-bottom: 25px;
		height:auto;
	  }
	  
	  .polaroid  p{
		width: 100%;
		height: 300px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 22px;
	  }
	  
	  .polaroid  h3{
		width: 100%;
		color:white;
		background-color: rgba(30, 143, 255, 0.74);
		margin: 0em;
		text-align: center;
	  }
	  .polaroid  img{
		height: 25%;
		width: 100%;

	  }
  }
.sous-menu{
	display: none;
	background-color: rgb(0, 103, 172);
	position: absolute;
	text-align: left;
	width:290%;
}

table {
	color: rgb(0, 0, 0);
	font: 20px "Tw Cen MT";
}
.sous-menu > li {
	list-style-type: none;	
	float: left;
	position: relative;
	border-bottom: none;
    padding: 5px;
	color: white;
	
}
.sous-menu > li >a{
		
	color:#FFF;
	list-style-type: none;	
	float: left;
	position: relative;
	text-decoration: none;
	font:bold 12px Arial, sans-serif;
}
.sous-menu > li >a:hover{
		
	border-bottom: 5px solid gold;

}
#menu > ul li:hover .sous-menu {	
	display: block;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.sous-menu .desc {
	text-transform: capitalize;
}

.containers ul{
	position: relative;
	width: 100%;
	color: rgb(9, 90, 194);
	text-align:left;

	font:bold 14px Arial, sans-serif;

  }  
.containers h3{
	position: relative;
	width: 100%;
	margin:10px;
	padding: 10px;
	color: #FFF;
	text-transform: uppercase;
	text-align:center;
	background-color: #7b81da8c;
	font:bold 19px Arial, sans-serif;

  }  

  .containers .text {
	opacity: 1;
	color: white;
	text-align: left;
	padding: 10px;
	background-color: rgba(0, 153, 255, 0.541);
	font:bold 40px Arial, sans-serif;
  }


#programme-formations{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(245, 222, 179, 0.719);
    color: rgba(0, 102, 153, 0.842);
}

#programme-formations-2{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(245, 222, 179, 0.719);
    color: rgba(0, 102, 153, 0.842);
}
.containers .milieu {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    width: 95%;
    top: 400px;
    margin: 10px;
    text-align: center;
}
.containers .milieu a {
    background-color: #F93;
    text-decoration: none;
    padding: 15px;
    color: #FFF;
    font: bold 18px 'Montserrat', sans-serif;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    top: 20px;
}

.containers .text-titre {
	opacity: 1;
	color: white;
	text-align: left;
	padding: 10px;
	background-color: rgba(0, 153, 255, 0.541);
	font: bold 20px Arial, sans-serif;
}
  .containers .text2 {
	opacity: 1;
	color: white;
	text-align: left;
	padding: 10px;
	background-color: rgba(0, 153, 255, 0.541);
	font:bold 20px Arial, sans-serif;
  }
  .containers .middle {
	transition: .5s ease;
	opacity: 1;
	position: absolute;
	width: 95%;
	left: 50%; 
	   top:300px;
	   margin:10px;
	
	text-align: center;
  }
   .containers .middle a {
	background-color: #F93;
	text-decoration: none;
	padding: 15px; 
	color:#FFF;
	font: bold 18px 'Montserrat', sans-serif;
	border-radius: 30px ;
	overflow: hidden;
	position: relative;
	top:20px;
  }
  .containers .middle a:hover {
	background-color: #FFF;
	color:#F93;
  }

#container h2{
	text-transform:uppercase;
	font:bold 18px Arial, sans-serif;
	text-align: center;
	background-color: rgba(0, 153, 255, 0.856);
	border-radius: 7px;
	padding: 5px;
	color: white;	
}

.container1 {
	position: absolute;
	width: 100%;
  }
  
  #container p {
  
	text-align: justify;
	padding:20px;
  }
  #container p img{
  
	float: left;
  
  }

  .container1 h2{
	position: relative;
	width: 100%;
	background: #09F;
	color: #FFF;
  }
  

.slide > img {
	width: 1550px;
	height: 650px;
	padding-top: 100px;
}
#banner-content {
	background-color: rgb(25, 47, 163);
	height: 200px;
	margin-top: -19px;
}
#banner-content > p, .image, h1, h3 {
	margin-left: 250px;
}
#banner-content > h1, h3 {
	color: white;
}
.image{
	width: 40px;
	height: 40px;
	padding-top: 20px;
}

article,aside,footer,section {
	display:block;
}

section#content {
	width:1000px;
	float:left;
}



aside {
	float: right;
	width: 300px;
	position: relative;
	left: -120px;
	top: 35px;
}


.wrapper {
	width:100%;
	overflow:hidden;
}

.atouts {
	margin-top:-20px;
}
.atouts > li {
	line-height:20px;
	padding-top:20px;
	text-align: justify;
}
.inside > p {
	text-align: justify;
	line-height:25px;
}
.partenaires {
	margin-top:-20px;
}
.partenaires img {
	margin-top: 20px;
	height: 100px;
}
.services {
	padding-bottom:26px;
	margin-left: 60px;

}
.services1 {

	margin-left: 50px;

}



.box .inner {
	padding:25px 49px 45px 49px;
}
.box h2 {
	font-size:1.923em;
	margin-bottom:50px;
}

#content .inside {
	padding:24px 40px 30px 50px;
}
footer {
	width:100%; 
	overflow:hidden; 
	margin:0 auto; 
	padding:0px 0px 20px 0; 
	
}
footer > p {
	
	text-align:center; 
	font-family: 'Montserrat', sans-serif; 
	color: #000;
	
}
.inside1{
	padding-left: 10px;
	margin-left: 20px;

}
.inside2{
	padding-top: 185px;
}

#photo > img {
	width: 1520px;
	height: 300px;
	padding-top: 100px;
	margin: 0;

}
#corps {
	margin-top:50px;	
	
}

#formations-1 {
	
	border-bottom:20px;
}
.formations {
	width:1300px;
	margin-bottom:40px;	
	height:550px;
	
	
}
#titre-image-1 {
	
	width:400px;
	float:left;	
	
}
#titre-image-3 {
	
	width:300px;
	float:left;	
	
}

#titre-image-4 {
	
	width:300px;
	float:left;	
	
}



div#titre-atout-1 {
	
	float:left;
	
}



div.inscript {
position:relative;	
}

.inscript > a > img {
	margin-top:50px;
	margin-left:50px;
	float:left;	
	width:490px;
	height:110px;
		
}
.inscript > a > img:hover {
	margin-top:50px;
	margin-left:50px;
	float:left;	
	width:516px;
	height:127px;
		
}

.contenu {
	text-align:justify;
	padding-top:20px;
	width:500px;	
	float:right;
	position:relative;
	left: 100px;
}

.contenu > h2 {
	text-align: center;
	padding-top:10px;
	width:600px;	
	float:left;
	position:relative;
	margin-top: -22px;
	right: 400px;
}
.contenu > p {
	text-align: justify;
	padding-top:10px;
	right: 350px;
	float:left;
	position:relative;
	line-height: 25px;
}

.formations ul {
	list-style: square;
		
}
.formations ul > li {
	margin-bottom:5px;
		
}



img > p{
	float:left;
	position:relative;
	
}
div#formations-1 img{

	width:500px;
	height:500px;
	border:0;
	margin-left:0px;
}


div#formations-3 img{
	width:500px;
	height:500px;

}

div#formations-4 img{
	width:500px;
	height:500px;
	

}
.inner > p {
	text-align: justify;
	line-height: 25px;
}


.inscription {
	display: inline-block;
	background-color: #F93;
	text-decoration: none;
	padding: 10px;
	color:#FFF;
	font: 18px 'Montserrat', sans-serif;
	border-radius: 30px 30px 30px 30px;
	overflow: hidden;
}
.inscription:hover {
	background-color: #FFF;
	color:#F93;
}

.inscription .banner-content a:hover {
    color: black;
	background-color:lightgrey;

}
#corp{
	left: 300px;
}
#corp ul {
	list-style-type: none;
}

.text-center span.glyphicon{
	font-size: 50px;
	color: #F93;
}

.monslide{
	margin-bottom: 0;
	height: 30%;
}

