{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}
	Liste des inscriptions prepajeunes
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 50px;">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">inscriptions</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-9">
			<h3 class="text-center">Liste des inscriptions</h3>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-md-12">
			<div class="card-box">
				<div class="card-block">
					<div class="table-responsive">
						<table class="table table-bordered mb-0" id="datatable">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom de l'enfant</th>
									<th>Classe de l'enfant</th>
									<th>Langue de l'enfant</th>
									<th>Sexe de l'enfant</th>
									<th>Ville</th>
									<th>Nombre de mois</th>
									<th>Type de formation</th>
									<th>Nom du parent</th>
									<th>Téléphone</th>
									<th>E-mail</th>
									<th>Date de création</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if inscriptionsprepa %}
									{% for inscription in inscriptionsprepa %}
										<tr>
											<td>{{ loop.index }}</td>
											<td>{{ inscription.nomenfant }}</td>
											<td>{{ inscription.classe }}</td>
											<td>{{ inscription.langue }}</td>
											<td>{{ inscription.sexe }}</td>
											<td>{{ inscription.ville }}</td>
											<td>{{ inscription.dureeformation }}</td>
											<td>{{ inscription.type }}</td>
											<td>{{ inscription.nomparent }}</td>
											<td>{{ inscription.telephone }}</td>
											<td>{{ inscription.email }}</td>
									{% endfor %}
								{% endif %}
										</tr>
									</tbody>
								</table>
							</tbody>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ asset('assets/js/inscription.js') }}"></script>
	{% endblock %}
