{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}
	Liste des inscriptions prepajeunes
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 50px;">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('admin_inscriptions_index') }}">Inscriptions</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Détails</li>
				</ol>
			</nav>
		</div>
	</div>

	<h2 class="text-center">Détails d'une inscription</h2>
	<div class="row">
		<div class="col-6">
			<fieldset>
				<legend>Informations sur la personne</legend>
				<table class="table table-bordered">
					<tr>
						<th>Nom et prénom</th>
						<td>{{ inscription.nomenfant }}</td>
					</tr>
					<tr>
						<th>Téléphone</th>
						<td>{{ inscription.telephone }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ inscription.email }}</td>
					</tr>
					<tr>
						<th>Sexe</th>
						<td>{{ inscription.sexe }}</td>
					</tr>
					<tr>
						<th>Personne à contacter</th>
						<td>{{ inscription.nomparent }}</td>
					</tr>
					<tr>
						<th>Langue</th>
						<td>{{ inscription.langue }}</td>
					</tr>
					<tr>
						<th>Pays</th>
						<td>{{ inscription.classe }}</td>
					</tr>
					<tr>
						<th>Ville</th>
						<td>{{ inscription.ville }}</td>
					</tr>
					<tr>
						<th>Date de création</th>
						<td>{{ inscription.createdAt | date("d/m/Y H:i:s")  }}</td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div class="col-6">
			<fieldset>
				<legend>Fichiers & Informations sur la formations</legend>
				<table class="table table-bordered">

					<tr>
						<th>Filière</th>
						<td>{{ inscription.dureeformation}}</td>
					</tr>
					<tr>
						<th>Type</th>
						<td>{{ inscription.type }}</td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div class="p-3"></div>
	</div>
	<div class="form-group mt-3">
	<a class="btn btn-secondary" href="{{ path('admin_inscriptions_index') }}">Retour</a>
	</div>
	<script src="{{ asset('assets/js/inscription.js') }}"></script>
{% endblock %}
