<div id="contenu-mail-modal-{{ email.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding-bottom: 40px;">
            <div class="modal-header bg-primary">
                <button type="button" id="close" class="close form-modal" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body schedule-modal" style="color: black">
                {{ email.content | raw }}
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>