<ul style="margin-bottom: 50px;">
	<li class="{% if dashboard_link is defined and dashboard_link == 'dashboard_index' %}active{% endif %}">
		<a href="{{ path('admin_index') }}">
			<i class="fa fa-dashboard"></i>
			<span>Tableau de bord</span>
		</a>
	</li>
	<li class="{% if filiere_link is defined and filiere_link == 'filiere_index' %}active{% endif %}">
		<a href="{{ path('admin_filieres_index') }}">
			<i class="fa fa-graduation-cap"></i>
			<span>Filières</span>
		</a>
	</li>
	<li class="{% if optionapprentissage_link is defined and optionapprentissage_link == 'optionapprentissage_index' %}active{% endif %}">
		<a href="{{ path('admin_optionapprentissages_index') }}">
			<i class="fa fa-superpowers"></i>
			<span>Options d'apprentissage</span>
		</a>
	</li>
  <li class="{% if searchindex_link is defined and searchindex_link == 'searchindex_index' %}active{% endif %}">
		<a href="{{ path('admin_searchindexes_index') }}">
			<i class="fa fa-search"></i>
			<span>Index de recherche</span>
		</a>
	</li>
	<li class="{% if rejoindre_link is defined and rejoindre_link == 'rejoindre_index' %}active{% endif %}">
		<a href="{{ path('admin_rejoindres_index') }}">
			<i class="fa fa-user-plus"></i>
			<span>Vacataires - Candidatures</span>
		</a>
	</li>
	<li class="{% if inscription_link is defined and inscription_link == 'inscription_index' %}active{% endif %}">
		<a href="{{ path('admin_inscriptions_index') }}">
			<i class="fa fa-users"></i>
			<span>Inscriptions</span>
		</a>
	</li>
	<li class="{% if inscription_link is defined and inscription_link == 'inscriptionprepa_index' %}active{% endif %}">
		<a href="{{ path('admin_inscriptionsprepa_index') }}">
			<i class="fa fa-users"></i>
			<span>Prepa Jeunes</span>
		</a>
	</li>
	<li class="{% if contact_link is defined and contact_link == 'contact_index' %}active{% endif %}">
		<a href="{{ path('admin_contacts_index') }}">
			<i class="fa fa-envelope"></i>
			<span>Messages</span>
		</a>
	</li>
  <li class="submenu">
        <a href="#"><i class="fa fa-envelope"></i> <span> Communication </span> <span class="menu-arrow"></span></a>
        <ul style="display: none;" class="link_admin">
            <li><a class="{% if email_link is defined and email_link == 'admin_email_list' %}active{% endif %}" href="{{ path('list_all_mails_sent') }}">Gestion des mails</a></li>
            <li><a class="{% if email_link is defined and email_link == 'email_index' %}active{% endif %}" href="{{ path('send_mail_admin') }}">Envoyer un mail</a></li>
            <li><a class="{% if destinataire_link is defined and destinataire_link == 'destinataire_index' %}active{% endif %}" href="{{ path('admin_destinataires_index') }}">Catégories de destinataires</a></li>
        </ul>
    </li>
	<li class="submenu">
        <a href="#"><i class="fa fa-newspaper-o"></i> <span> Articles </span> <span class="menu-arrow"></span></a>
        <ul style="display: none;" class="link_admin">
            <li><a class="{% if article_link is defined and article_link == 'admin_articles_list' %}active{% endif %}" href="{{ path('admin_articles_index') }}">Gestion des Articles</a></li>
            <li><a class="{% if article_link is defined and article_link == 'article_index' %}active{% endif %}" href="{{ path('admin_articles_new') }}">Ecrire un article</a></li>

        </ul>
    </li>
	<li class="submenu">
        <a href="#"><i class="fa fa-newspaper-o"></i> <span> Catégories </span> <span class="menu-arrow"></span></a>
        <ul style="display: none;" class="link_admin">
            <li><a class="{% if categorie_link is defined and categorie_link == 'admin_categories_list' %}active{% endif %}" href="{{ path('admin_categories_index') }}">Gestion des Catégories</a></li>
            <li><a class="{% if categorie_link is defined and categorie_link == 'categorie_index' %}active{% endif %}" href="{{ path('admin_categories_new') }}">Ajouter une catégorie</a></li>

        </ul>
    </li>
</ul>
