<div class="header" style="height: 100px">
	<div class="header-left">
		<a href="{{ path('homepage') }}" class="logo navbar-brand-head" data-url="{{ app.request.getSchemeAndHttpHost() }}">
			<span>CECOSDAFormation</span>
		</a>
	</div>
	<a id="toggle_btn" href="javascript:void(0);" class="font-weight-bold">
		<i class="fa fa-bars"></i>Menu</a>
	<a id="mobile_btn" class="mobile_btn float-left font-weight-bold" href="#sidebar">
		<i class="fa fa-bars"></i>Menu</a>
	<ul class="nav user-menu float-right"></ul>
</div>
