<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Faire une recherche</h5>
        <button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">
        ×
        </button>
        
      </div>
      <div class="modal-body">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> 
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Saisir quelque chose ... " id="search-val">
        </div>
      </div>
      <div class="container">
       <h6 class="text-center text-muted" style="display:none" id="loader">Recherche en cours ...</h6>
       <div id="search-results" class="row m-0 py-3"></div>
      </div>
    </div>
  </div>
</div>
<script src="{{asset('assets/js/search.js') }}" type="application/javascript"></script>