<div class="sidebar" id="sidebar" style="z-index: 1000;">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul class="hide-md"></ul>
			{% include 'partials/admin.html.twig' %}
		</div>
	</div>
</div>
