{{ form_start(form) }}
{{ form_row(form._token) }}
<div class="row">
  <div class="col-sm-3">
        <div class="form-group">
            {{ form_label(form.langue) }}<span class="text-danger">*</span>
            {{ form_widget(form.langue) }}
            {{ form_errors(form.langue) }}
        </div>
    </div>
  <div class="col-sm-3">
        <div class="form-group">
            {{ form_label(form.categorie) }}<span class="text-danger">*</span>
            {{ form_widget(form.categorie) }}
            {{ form_errors(form.categorie) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            {{ form_label(form.titre) }}<span class="text-danger">*</span>
            {{ form_widget(form.titre) }}
            {{ form_errors(form.titre) }}
        </div>
    </div>
 
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_label(form.auteur) }}<span class="text-danger">*</span>
                {{ form_widget(form.auteur) }}
                {{ form_errors(form.auteur) }}
            </div>
        </div>
   
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            {{ form_label(form.description) }}<span class="text-danger">*</span>
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.contenu) }}<span class="text-danger">*</span>
                {{ form_widget(form.contenu) }}
                {{ form_errors(form.contenu) }}
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            {{ form_label(form.estpublie) }}<span class="text-danger">*</span>
            {{ form_widget(form.estpublie) }}
            {{ form_errors(form.estpublie) }}
        </div>
    </div>
</div>

{% if article.id %}
    {% include 'partials/buttons/button_update.html.twig' %}
{% else %}
    {% include 'partials/buttons/button_save.html.twig' %}
{% endif %}
{{ form_rest(form) }}
{{ form_end(form) }}
<script type="text/javascript">
    CKEDITOR.replace( 'app_bundle_articles_contenu', { height: 300 } );
</script>
