{% extends 'admin/base.html.twig' %}
{% block title %}
    {{ parent() }} Créer un article de blog
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="margin-top: 50px;">
                    <li class="breadcrumb-item">
                        <a href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Articles</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-9">
            <h3 class="text-center">Liste des articles</h3>
        </div>
        <div class="col-sm-4 col-3 text-right m-b-20">
            <a href="{{ path('admin_articles_new') }}" class="btn btn-primary float-right btn-rounded">
                <i class="fa fa-plus"></i>
                Nouvel article</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-md-12">
            <div class="card-box">
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0" id="datatable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Auteur</th>                                
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Contenu</th>
                                <th>Etat</th>
                                <th>Categories</th>
                                <th>Action</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            {% if articles %}
                                {% for article in articles %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                         <td>
                                            {{ article.auteur }}
                                        </td>
                                        <td>
                                            {{ article.titre }}
                                        </td>
                                         <td>
                                            {{ article.description }}
                                        </td>
                                        <td>{{ article.contenu|raw }}</td>
                                        <td>
                                            {{ article.estpublie }}
                                        </td>
                                        <td>
                                            {{ article.categorie }}
                                        </td>
                                        <td>
                                            <a class="btn btn-success" href="{{ path('admin_articles_edit', {id : article.id}) }}" title="Modifier">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger ajax-Article-delete " style="color:white !important;" href="javascript:void(0)" data-id="{{ article.id }}" data-url="{{ path('admin_article_delete', {id : article.id}) }}" title="Supprimer">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" style="text-align: center">
                                        <h4>Aucun article Enregistré</h4>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/article.js') }}"></script>
{% endblock %}
