{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}Liste des option d'apprentissages
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 50px;">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Options d'apprentissage</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-9">
			<h3 class="text-center">Liste des options d'apprentissage</h3>
		</div>
		<div class="col-sm-4 col-3 text-right m-b-20">
			<a href="{{ path('admin_optionapprentissages_new') }}" class="btn btn-primary float-right btn-rounded">
				<i class="fa fa-plus"></i>
				Nouvelle option d'apprentissage</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-md-12">
			<div class="card-box">
				<div class="card-block">
					<div class="table-responsive">
						<table class="table table-bordered mb-0" id="datatable">
							<thead>
								<tr>
									<th>#</th>
									<th>Libellé</th>
									<th>Date de création</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if optionapprentissages %}
									{% for optionapprentissage in optionapprentissages %}
										<tr>
											<td>{{ loop.index }}</td>
											<td>
												<a href="{{ path('admin_inscription_index_per_optionapprentissage', {id : optionapprentissage.id}) }}" title="Afficher les inscriptions de cette option d'apprentissage">{{ optionapprentissage.libelle }}</a>
											</td>
											<td>{{ optionapprentissage.createdAt | date("d/m/Y H:i:s") }}</td>
											<td>
												<a class="btn btn-success" href="{{ path('admin_optionapprentissages_edit', {id : optionapprentissage.id}) }}" title="Modifier">
													<i class="fa fa-edit"></i>
												</a>
												<a class="btn btn-danger ajax-optionapprentissage-delete" style="color:white !important;" href="javascript:void(0)" data-id="{{ optionapprentissage.id }}" data-url="{{ path('admin_optionapprentissages_delete', {id : optionapprentissage.id}) }}" title="Supprimer">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td colspan="5" style="text-align: center">
											<h4>Aucuns option d'apprentissage Enregistrée</h4>
										</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ asset('assets/js/optionapprentissage.js') }}"></script>
{% endblock %}
