<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta content="Centre de Formation Professionel pour les m&eacute;tiers du num&eacute;rique et de l'administration"
              name="description">
        <title>{% block title %}CECOSDAFormation - Centre de formation professionnel{% endblock %}</title>
        {% block stylesheets %}
                <link rel="icon" type="image/x-icon"   href="{{ asset('assets/img/logo-cecosda-formation-small.png') }}">
                <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/base.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/FeedEk.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/quiz.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.css')  }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="menu" class="embed-responsive img-responsive">
    {% block entete %}
        <!-- header -->

            <img class="banniere" src="{{ asset('assets/photos/banner-second.png') }}">
            <img src="{{ asset('assets/img/logo-cecosda-formation-small.png') }}" >
            <h1> Centre de formation professionnelle pour la communication et le développement durable</h1>
            <h3>Agrément N° 200/MINEFOP/SG/DFOP/SDGSF/SACD/2020</h3>
            <h6>Au-delà du diplôme, la compétence…</h6>



            <div class="">
                <ul class="menu">
                    <li><a href="./"><span class='glyphicon glyphicon-home '></span>Accueil</a></li>
                    <li class="deroulant"><a href="{{ path('cqp') }}">Formations CQP<span class='glyphicon glyphicon-menu-down '></span></a>
                        <!--	<li class="deroulant"><a href="../formations/specifiques/">Formations Spécifiques PRO<span class='glyphicon glyphicon-menu-down '></span></a>
                            -->
                    <li class="deroulant"><a href="{{ path('vacancespro') }}">Formations Vacances<span class='glyphicon glyphicon-menu-down '></span></a>
                    </li>
                    <li><a href="{{ path('enpresentiel') }}"> En présentiel</a></li>
                    <li><a href="{{ path('enligne') }}">En ligne</a></li>
                    <li><a href="{{ path('homepage') }}#contact">Contact</a></li>
                </ul>
            </div>

            {% endblock %}

{% block entetecontent %}{% endblock %}
    </div>
        {% block body %}{% endblock %}
    {% block footer %}
        <!--footer-->

        <footer>
            <div class="container utile">
                <h5 class="text-center">Liens utiles:	 </h5>
                <div class="col-md-4 col-xs-4">
                    <ul>
                        <li><a href="http://cecosda.org">CECOSDA</a></li>
                        <li><a href="http://minefop.gov.cm">MINEFOP</a></li>
                        <li><a href="http://minjec.gov.cm">MINJEC</li>
                    </ul>


                </div>
                <div class="col-md-4 col-xs-4">
                    <ul>
                        <li><a href="http://jeduc.org">JEDUC</a></li>
                        <li><a href="http://scribo.cm">SCRIBO</a></li>
                        <li><a href="http://Lingua-Express.cm">LINGUA-EXPRESS</a></li>
                    </ul>


                </div>
                <div class="col-md-4 col-xs-4">
                    <ul>
                        <li><a href="http://courses.cecosdaformation.com">CQP en ligne</a></li>
                        <li><a href="http://anglaisenligne.cm">anglais en Ligne</a></li>
                        <li><a href="http://formations-courtes.cm">formations courtes</a></li>
                    </ul>


                </div>
            </div>


            <div id="copyright" class="container text-center" >Copyright &copy; cecosdaformation 2019</div>


        </footer>



    {% endblock %}
        {% block javascripts %}

            <script src="{{ asset('assets/js/jquery-1.11.3.js') }}" type="application/javascript"></script>
            <script src="{{ asset('assets/js/bootstrap.js') }}" type="application/javascript"></script>

        {% endblock %}
    </body>
</html>
