<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>{{ 'accueil.title'|trans}}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-791060304"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'AW-791060304');
		</script>
		<!-- Event snippet for Website traffic conversion page -->
		<script>
		gtag('event', 'conversion', {'send_to': 'AW-791060304/xlqRCLmAqe0BENC-mvkC'});
		</script>

	<!-- End Google Tag Manager -->
	<meta content="Formation à distance, formation continue,formation des enseignants, formation des tuteurs, formation d’adultes, formation initiale, formation ouverte à distance, spécialisation après l'université, insertion professionnelle rapide, formation sur le digital au Cameroun,	formations en ligne, certificats de qualifications professionnelle, Ministère de la formation professionnelle, formations courtes, formations rapides, formations pratiques" name="keywords">
    {% block metadescription %}
		<meta content="Centre de formation professionnelle pour la spécialisation post universitaire au Cameroun. Découvrez les conditions d'admission. Les formations sont adaptées pour ceux qui souhaiteraient travailler dans les ONG, les entreprises internationales, la fonction publique et les PME. Les cours se font en ligne et en présentiel et c'est 100% pratique. LE diplôme est délivré par le ministère de la formation professionnelle" name="description">
    {% endblock %}
	
	<link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logo-cecosda-formation-small.png') }}">
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
	<link href="{{asset('site/lib/animate/animate.min.css')}}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/FeedEk.css') }}"/>
	<link href="{{asset('site/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script async src="https://cse.google.com/cse.js?cx=5bd6d372cbec6c2ba"></script>
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lobibox.min.css') }}">
	<link href="{{ asset('assets/css/sweetalert.css') }}" rel="stylesheet">
	<link href="{{asset('site/css/style.css')}}" rel="stylesheet">
	{% block stylecss %}
	{% endblock %}
	<script>
        $(document).ready(function () {

            $("#annonce-link").click('click', function (e) {
                e.preventDefault();
                $("#myModal3").modal('show');
            });

            $("#rentree-btn").click('click', function (e) {
                e.preventDefault();
                $("#myModal3").modal('show');
            });
        });
	</script>
  <style>
  .modal-header > button {
    color: white !important;
  }
  </style>
  <style>
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



  </style>
</head>

<body>

<!-- Messenger Plugin de discussion Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin de discussion code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
    var chatbox = document.getElementById('fb-customer-chat');
      	chatbox.setAttribute("page_id", "460956167589343");
      	chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v15.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
<div class="row hidden">
    {% for type, msgs in app.session.flashbag.all %}
        {%for msg in msgs %}
			<input type="hidden" id="hidden_flash_bag_message" name="hidden_flash_bag_message" class="hidden_message" value="{{ msg }}">
			<input type="hidden" id="hidden_flash_bag_type" value="{{ type }}">
        {% endfor %}
    {% endfor %}
</div>
<div class="wrapper">
	<!-- Top Bar Debut -->
	<div class="top-bar">
		<div class="container-fluid">
			<div class="py-2 bg-light">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-9 d-none d-lg-block">
							
							<a href="#" class="small mr-3">
								<span class="fa fa-phone-alt mr-2"></span>
								(+237) 222 311 875 / 677 325 343</a>
							<a href="#" class="small mr-3">
								<span class="fa fa-envelope mr-2"></span>
								infos@cecosdaformation.com</a>
						</div>

						<div class="col-lg-3 text-right">
							<a class="ml-1" href="https://facebook.com/CECOSDAFormation"><i class="fab fa-facebook-f"></i></a>
							<a class="ml-1" href="https://www.instagram.com/cecosdaformation/"><i class="fab fa-instagram"></i></a>
							<a class="ml-1" href="https://www.youtube.com/channel/UCnQxdrggyGvP0V9vg6kqjTQ"><i class="fab fa-youtube"></i></a>
							<a class="ml-1" href="https://www.linkedin.com/company/cecosdaformation-cameroun/"><i class="fab fa-linkedin"></i></a>
							<a class="ml-1" href="https://wa.me/237677325343"><i class="fab fa-whatsapp"></i></a>
						</div>
					</div>
				</div>
			</div>

		<div class="row">
				{# <div class="col-12">
						<i class="fa fa-phone-alt"></i>  677-325-343  <i class="fa fa-envelope"></i> E-mail: infos@cecosdaformation.com
						Agrément N° 200/MINEFOP/SG/DFOP/SDGSF/SACD/2020 
						<a class="ml-1" href="https://facebook.com/CECOSDAFormation"><i class="fab fa-facebook-f"></i></a>
						<a class="ml-1" href="https://www.instagram.com/cecosdaformation/"><i class="fab fa-instagram"></i></a>
						<a class="ml-1" href="https://www.youtube.com/channel/UCnQxdrggyGvP0V9vg6kqjTQ"><i class="fab fa-youtube"></i></a>
						<a class="ml-1" href="https://www.linkedin.com/company/cecosdaformation-cameroun/"><i class="fab fa-linkedin"></i></a>
						<a class="ml-1" href="https://wa.me/237677325343"><i class="fab fa-whatsapp"></i></a>
						
				</div> #}
				<div class="col-lg-2 col-xs-3 hidden-lg">
					<div class="logo logo-d">

						<a href="{{path('homepage')}}" style="display: block;text-align: center;">
							<img src="{{ asset('assets/img/logo-cecosda-formation-small.png') }}" alt="Logo CECOSDAFormation">	
						</a>
					</div>
					<div class="col-lg-10 link-flou">
								<div class="row">
									<div class="col-md-12">
									<b>CECOSDAFormation</b>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
									<p style="font-size:10px">{% trans into app.request.locale %}Agrément {% endtrans %}{% trans into app.request.locale %}200/MINEFOP/SG/DFOP/SDGSF/SACD/2020{% endtrans %}</b></p>
									</div>
								</div>
								</div>
				</div>
				
				<div class="col-lg-10 mt-2 link-clair ">
					<div class="row">
						<div class="col-md-6">
						<b style="font-size: 20px; color: #3752a3;" class="mb-2">CECOSDAFormation</b>		
						<p style="font-size:13px; color: #000000;">{% trans into app.request.locale %}Agrément {% endtrans %}{% trans into app.request.locale %}200/MINEFOP/SG/DFOP/SDGSF/SACD/2020{% endtrans %}</b></p>										
						</div>
						<div class="col-md-6 bonome" >
							<a href="{{path('homepage')}}" style="display: block;text-align: center;">
							<img src="{{ asset('assets/img/bonome-diplome.jpg') }}" style="width:28%" alt="Laureat CECOSDAFormation">	
							<div class="bonome-cote-text text-left">{% trans into app.request.locale %}Obtenez votre certificat de qualification{% endtrans %}<br> {% trans into app.request.locale %}professionnelle (CQP) en 12 mois {% endtrans %}!</div>
							</a>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>	
				
		</div>
</div>
	<!-- Nav Bar Debut -->
	<div class="nav-bar nav-bar-edit">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<div style="width:100%" class="agrement hide-desktop">
					<p style="color:#ffffef;margin-bottom: -15px;">{% trans into app.request.locale %}Agrément {% endtrans %}N°</p>
				</div>
			<a href="#" class="navbar-brand">200/MINEFOP/SG/DFOP/SDGSF/SACD/2020</a>	
								

				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" name="dropdown-menu">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
					<div class="navbar-nav mr-auto">
						
									
						<a href="{{ path('homepage')}}" class="nav-item nav-link active accueil">{% trans into app.request.locale %} Accueil {% endtrans %}</a>
						{# <a href="{{ path('qui_sommes_nous', {'_locale': app.request.locale}) }}" class="nav-item nav-link qui">{% trans into app.request.locale %}Qui sommes nous{% endtrans %}?</a> #}
						{# <a href="{{ path('nos_atouts', {'_locale': app.request.locale}) }}" class="nav-item nav-link atouts">{% trans into app.request.locale %}Nos atouts {% endtrans %}</a> #}
						<div class="nav-item dropdown">
							<a href="#" class="nav-item nav-link dropdown-toggle bac" data-toggle="dropdown">{% trans into app.request.locale %}Nos formations {% endtrans %}</a>
							<div class="dropdown-menu">
		{# 						<a href="{{ path('formations_assistanat' , {'_locale': app.request.locale}) }}" class="nav-item nav-link market">{% trans into app.request.locale %}Métiers de l'administration{% endtrans %}</a>
								<a href="{{ path('formations_digital' , {'_locale': app.request.locale}) }}" class="nav-item nav-link market">{% trans into app.request.locale %}Métiers du digital{% endtrans %}</a> #}
											<a href="{{ path('formations_assistanat' , {'_locale': app.request.locale}) }}" class="nav-item nav-link market">{% trans into app.request.locale %}Formation CQP{% endtrans %}</a>
								<a href="{{ path('formations_prepa', {'_locale': app.request.locale}) }}" class="nav-item nav-link gestion">{% trans into app.request.locale %}Samedi informatique{% endtrans %}</a>
								{# <a href="{{ path('formations_prepa', {'_locale': app.request.locale}) }}" class="nav-item nav-link gestion">{% trans into app.request.locale %}Samedi informatique {% endtrans %}</a> #}
								{# <a href="{{ path('formations_entreprise', {'_locale': app.request.locale}) }}" class="nav-item nav-link gestion">{% trans into app.request.locale %}Formation en privé/à la carte{% endtrans %}</a> #}
								{# <a href="{{ path('formations_entreprise', {'_locale': app.request.locale}) }}" class="nav-item nav-link info">{% trans into app.request.locale %}Formations entreprise{% endtrans %}</a> #}
								{# <a href="{{ path('formations_9_mois', {'_locale': app.request.locale}) }}" class="nav-item nav-link logi">{% trans into app.request.locale %}Formations 09 mois{% endtrans %}</a> #}
								{# <a href="{{ path('formations_free', {'_locale': app.request.locale}) }}" class="nav-item nav-link logi">{% trans into app.request.locale %}Formations gratuites{% endtrans %}</a> #}
								{# <a href="{{ path('formations_vacances', {'_locale': app.request.locale}) }}" class="nav-item nav-link logi">{% trans into app.request.locale %}Formations Vacances{% endtrans %}</a> #}
							</div> 
						</div>

						{# <div class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle flexible" data-toggle="dropdown">Formations niveaux Flexibles</a>
							<div class="dropdown-menu">
								<a href="{{ path('formationscourtes') }}" class="nav-item nav-link courtes">Formations BEPC-Probatoire-BAC</a>
								<a href="{{ path('ateliers') }}" class="nav-item nav-link ateliers">Ateliers de formations</a>
							</div>
						</div> #}
								
									
									{# <a href="{{ path('deja_professionnels', {'_locale': app.request.locale}) }}" class="nav-item nav-link pro">{% trans into app.request.locale %}VAE pour Professionnels{% endtrans %}</a>
									<a href="{{ path('nos_atouts', {'_locale': app.request.locale}) }}" class="nav-item nav-link atouts">{% trans into app.request.locale %}Nos prix {% endtrans %}</a> #}
									<div class="nav-item dropdown">
									<a class="nav-item nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-expanded="false">{% trans into app.request.locale %}Admission{% endtrans %}</a>
									<div class="dropdown-menu">
										<a href="{{ path('admissionCQP') }}" class="nav-item nav-link courtes">{% trans into app.request.locale %}CQP Assistant administratif{% endtrans %}</a>
										<a href="{{ path('admissionSPI') }}" class="nav-item nav-link ateliers">{% trans into app.request.locale %}Samedi informatique{% endtrans %}</a>
									</div>
									</div> 
									
									<a href="{{ path('rejoindre', {'_locale': app.request.locale}) }}" class="nav-item nav-link rejoindre">{% trans into app.request.locale %}Devenir formateur{% endtrans %}</a>

									<a href="{{ path('blogpost', {'_locale': app.request.locale}) }}" class="nav-item nav-link blog">{% trans into app.request.locale %}Blog{% endtrans %}</a>

									<a href="{{ path('homepage', {'_locale': app.request.locale}) }}#contact" class="nav-item nav-link">{% trans into app.request.locale %}Contacts{% endtrans %}</a>
									<a href="{{ path('rechercher', {'_locale': app.request.locale}) }}"   class="nav-item nav-link"><i class="fa fa-search" aria-hidden="true"></i></a>
								
									<div class="nav-item dropdown">
										{% if app.request.locale == 'fr' %}				
											<a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-expanded="false"><span class="flag-icon flag-icon-fr"> </span>Français</a>
											<div class="dropdown-menu" aria-labelledby="dropdown09">
												<a class="dropdown-item" href="{{path('homepage', {'_locale': 'en'}) }}" style="color: black"><span class="flag-icon flag-icon-us" > </span>English</a>
											</div>
										{% else %}					
											<a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span>Anglais</a>
											<div class="dropdown-menu" aria-labelledby="dropdown09">
												<a class="dropdown-item" href="{{path('homepage', {'_locale': 'fr'}) }}" style="color: black"><span class="flag-icon flag-icon-fr" > </span>French</a>
											</div>
											
										{% endif %}
									</div> 
					</div>
									
					
                                        <div class="ml-auto">
                                            <a id="rentree-btn" class="btn " href="#" style="background:#153aaa">{% trans into app.request.locale %}Rentrée{% endtrans %}CQP : {% trans into app.request.locale %}08 Janvier 2024{% endtrans %}</a>
                                        </div>
                                                        </div>
                                </nav>
                            </div>
                        </div>


                        <!-- Nav Bar Fin -->

    {% block caroussel %}

		<!-- Carousel Debut -->
		<div id="carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel" data-slide-to="0" class="active"></li>
				<li data-target="#carousel" data-slide-to="1"></li>
				<li data-target="#carousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{{asset('site/img/formation/formations-courtes-avec-cqp-du-minefop-en-ligne-et-en-presentiel.jpg')}}" alt="Décrochez un CQP du MINEFOP">
					<div class="carousel-caption">
						<h1 class="animated fadeInLeft">{% trans into app.request.locale %}Diplôme CQP agréé en 9 mois{% endtrans %}</h1>
						<p class="animated fadeInRight">{{ 'slide.soustitre0'|trans }}</p>
						
					</div>
				</div>
				<div class="carousel-item ">
					<img src="{{asset('site/img/formation/special-informatique-pour-adulte.jpg')}}" alt="Décrochez un CQP du MINEFOP">
					<div class="carousel-caption">
						<h1 class="animated fadeInLeft">{% trans into app.request.locale %}Formation en présentiel de qualité{% endtrans %}</h1>
						<p class="animated fadeInRight">{{ 'slide.soustitre1'|trans }}</p>
						<a class="btn animated fadeInUp" href="{{ path('formations_assistanat' , {'_locale': app.request.locale}) }}">{% trans into app.request.locale %}Découvrir{% endtrans %}</a>
					</div>
				</div>

				 <div class="carousel-item">
					<img src="{{asset('assets/img/formation-en-ligne-CECOSDAFormation.jpg')}}" alt="Devenez Assistant administratif">
					<div class="carousel-caption">
						<h1 class="animated fadeInLeft">{% trans into app.request.locale %}Formation en ligne disponible{% endtrans %}</h1>
						<p class="animated fadeInRight">{{ 'slide.soustitre2'|trans }}</p>
						<a class="btn animated fadeInUp" href="{{ path('formations_assistanat' , {'_locale': app.request.locale}) }}">{% trans into app.request.locale %}Découvrir{% endtrans %}</a>
					</div>
					</div> 
				

				<div class="carousel-item">
					<img src="{{asset('site/img/formation/Image tout petit devant ordi.JPG')}}" alt="Devenez Community manager diplômé">
					<div class="carousel-caption">
						<h1 class="animated fadeInLeft">{% trans into app.request.locale %}Samedi informatique pour tous{% endtrans %}</h1>
						<p class="animated fadeInRight">{% trans into app.request.locale %}apprenez l’informatique tous les samedis{% endtrans %}</p>
						<a class="btn animated fadeInUp" href="{{ path('formations_prepa' , {'_locale': app.request.locale}) }}">{% trans into app.request.locale %}Découvrir{% endtrans %}</a>
					</div>
				</div>
				{# 
				<div class="carousel-item">
					<img src="{{asset('site/img/formation/formation-entreprises-CECOSDAFormation.jpg')}}" alt="Tronc commun">
					<div class="carousel-caption">
						<h1 class="animated fadeInLeft">{% trans into app.request.locale %}Formations en privé et à la carte{% endtrans %}</h1>
						<p class="animated fadeInRight">{{ 'slide.soustitre4'|trans }}
						</p>
						<a class="btn animated fadeInUp" href="{{ path('formations_entreprise' , {'_locale': app.request.locale}) }}">{% trans into app.request.locale %}Découvrir{% endtrans %}</a>
					</div>
				</div> #}
			</div>

			<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<!-- Carousel Fin -->


		<!-- Top atouts Debut-->
		<div class="feature-top">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-6 col-sm-6 feature-elt animated fadeInUp">
						<a href="{{ path('formations_assistanat' , {'_locale': app.request.locale}) }}"><div class="feature-item">
							<i class="fa fa-book"></i>
							<h3>{% trans into app.request.locale %}Formation CQP{% endtrans %}
							</h3>
							<b>{% trans into app.request.locale %}assistant(e) de gestion, assistant(e) exécutif(ve), programme et secrétaire de direction{% endtrans %}</b>
							
						</div></a>
					</div>{# 
					<div class="col-md-3 col-sm-6 feature-elt animated fadeInUp">
						<a href="{{ path('formations_digital' , {'_locale': app.request.locale}) }}"><div class="feature-item">
							<i class="fa fa-graduation-cap"></i>
							<h3>{% trans into app.request.locale %}Métiers du digital {% endtrans %}</h3>
							<b>{% trans into app.request.locale %}Community manager{% endtrans %}</b>, <b>{% trans into app.request.locale %}Montage audio visuel{% endtrans %}</b>, <b>{% trans into app.request.locale %}Infographie{% endtrans %}</b>, <b>{% trans into app.request.locale %}Web design et blogs{% endtrans %}</b>
							
							
						</div></a>
					</div> #}
					<div class="col-md-6 col-sm-6 feature-elt animated fadeInUp">
						<a href="{{ path('formations_prepa' , {'_locale': app.request.locale}) }}"><div class="feature-item">
							<i class="far fa-building"></i>
							<h3>{% trans into app.request.locale %}Samedi informatique{% endtrans %}</h3>
							{% trans into app.request.locale %}Pour élèves, étudiants et adultes{% endtrans %},
							<b>{% trans into app.request.locale %}Tous les samedis{% endtrans %}</b>
							
							
						</div></a>
					</div>
					{# 
					<div class="col-md-4 col-sm-6 feature-elt animated fadeInUp">
						<a href="{{ path('formations_entreprise' , {'_locale': app.request.locale}) }}">
						<div class="feature-item">
							<i class="fa fa-user-tie"></i>
							<h3>{% trans into app.request.locale %}Formations Vacances {% endtrans %}</h3>
							{% trans into app.request.locale %}En partenariat avec SCHNEIDER{% endtrans %} <br>
							
								{% trans into app.request.locale %}Programme d'&eacute;co eng&eacute;nieur
								{% endtrans %}
							</p>
						</div></a>
					</div> #}
				</div>
			</div>
		</div>
		<!-- Top atouts Fin-->


		<!-- apropos Debut -->

		<!-- apropos Fin -->
    {% endblock caroussel %}

    {% block contenu %}{% endblock %}

    {% block formation %}
	
    {% endblock %}


    {% block reste %}
		<!-- plateforme Debut -->
		<div class="feature" id="plateforms">
			<div class="container">
				<div class="section-header animated fadeInLeft">
					<h2 class="about-title">
					{% trans into app.request.locale %}Assistant administratif bilingue{% endtrans %}</h2>
					<h5>{% trans into app.request.locale %}03 mois de stage en entreprise facilité par le centre de formation{% endtrans %}</h5>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h2 class="about-title-2 text-center">
							<a  class="formations text-center" style="text-decoration:blink" href="#">{% trans into app.request.locale %}En présentiel{% endtrans %}<span class="fa fa-info-circle"></span></a>
						</h2>
						<img src="{{asset('assets/img/seminaires-ecole-du-samedi-CECOSDAFormation.jpg')}}" style="width:100%">
						<p>{% trans into app.request.locale %}En mode présentiel profitez de nos salles équipées. Les cours en présentiel se déroulent 3 fois par semaine avec des activités pratiques en autonomie les autres jours{% endtrans %}
						</p>
						
					
					</div>
					<div class="col-md-6">
					<h2 class="about-title-2 text-center">
							<a class="formations text-center" style="text-decoration:blink" href="#">{% trans into app.request.locale %}En ligne{% endtrans %}<span class="fa fa-info-circle"></span></a>
						</h2>
						<img src="{{asset('assets/img/formation-en-ligne-CECOSDAFormation.jpg')}}" style="width:100%">
						<p>{% trans into app.request.locale %}Se former en E-learning et obtenir son CQP c’est possible. Dans notre centre, les apprenants en ligne ont accès à la plateforme des cours en ligne et les visio-conférences se déroulent 3 fois par semaine et les ateliers pratiques une fois par semaine{% endtrans %}
						</p>
					
					
					</div>
					
					<div class="col-md-12 text-center"> 
					<a class="btn btn-primary inscription" href="#" >{% trans into app.request.locale %}Je m’inscris à une formation{% endtrans %} </a>
					</div>
				
				</div>
				
				
				
				
				
				
				<div class="section-header animated fadeInLeft">
					<h2 class="about-title">
					{% trans into app.request.locale %}Samedi informatique{% endtrans %}</h2>
					<h5>
						{% trans into app.request.locale %}Tous les samedis{% endtrans %}</h5>
				</div>
				
				<div class="row">
					<div class="col-md-6">
					<h2 class="about-title-2 text-center">
							<a  class="formations text-center" style="text-decoration:blink" href="#">{% trans into app.request.locale %}Eveil informatique pour les enfants de 05 à 07ans{% endtrans %}<span class="fa fa-info-circle"></span></a>
						</h2>
						<img src="{{asset('site/img/formation/special-informatique-05-07-programme-deveil.png')}}" style="width:100%">
						<p>{% trans into app.request.locale %}Initier de manière ludique et adaptée les enfants aux bases de l'informatique{% endtrans %}
						</p>
					</div>
					<div class="col-md-6">
					<h2 class="about-title-2 text-center">
							<a  class="formations text-center" style="text-decoration:blink" href="#">{% trans into app.request.locale %}Créativité Digitale pour les enfants de 08 à 10ans{% endtrans %}<span class="fa fa-info-circle"></span></a>
						</h2>
						<img src="{{asset('site/img/formation/Formation-bureatique-special informatique.jpg')}}" style="width:100%">
						<p>{% trans into app.request.locale %}Notre programme d’éveil informatique pose les bases du génie informatique et du code chez les enfants{% endtrans %}</p>
					</div>
					<div class="col-md-6">
					<h2 class="about-title-2 text-center">
							<a  class="formations text-center" style="text-decoration:blink" href="#">{% trans into app.request.locale %}Informatique applique pour les enfants de 11 à 13ans{% endtrans %}<span class="fa fa-info-circle"></span></a>
						</h2>
						<img src="{{asset('site/img/formation/Image tout petit devant ordi.JPG')}}" style="width:100%">
						<p>{% trans into app.request.locale %}Notre programme de Créativité informatique et digitale aide chez les apprenants à réaliser des projets divers et à exprimer leur génie informatique et le code{% endtrans %}
						</p>
					</div>
					<div class="col-md-6">
					<h2 class="about-title-2 text-center">
							<a  class="formations text-center" style="text-decoration:blink" href="#">{% trans into app.request.locale %}Informatique spécialisé pour les élèves de 14+ et les étudiants{% endtrans %}<span class="fa fa-info-circle"></span></a>
						</h2>
						<img src="{{asset('site/img/formation/prepa-jeunes-cecosdaformation.jpeg')}}" style="width:100%">
						<p>{% trans into app.request.locale %}Nos formations spécialisées en informatique permettent aux élèves et étudiants de développer des compétences informatiques qui sont souvent recherchées par les entreprises, mais qui peuvent également être utilisées de manière indépendante que ce soit en infographie, programmation web, code, secrétariat bureautique, Excel ou tout autre logiciel utile en fonction des intérêts de chaque apprenant {% endtrans %}
						</p>
					</div>
					<div class="col-md-6">
					<h2 class="about-title-2 text-center">
							<a  class="formations text-center" style="text-decoration:blink" href="#">{% trans into app.request.locale %}Savoir numérique pour adultes pour les adultes{% endtrans %}<span class="fa fa-info-circle"></span></a>
						</h2>
						<img src="{{asset('site/img/formation/special-informatique-pour-adulte.jpg')}}" style="width:100%">
						<p>{% trans into app.request.locale %}Rejoignez nos cours d'informatique pour adultes chaque samedi et développez vos compétences numériques. Ce sont des cours d'informatique pour les adultes, que vous soyez parent, commerçant ou travailleur apprenez ce que vous voulez en informatique à 20 000XAF/ mois{% endtrans %}
						</p>
					</div>
				
				</div>
				
				{# 
				<div class="slideshow-container">
		
					<!-- Full-width images with number and caption text -->
					<div class="mySlides fadeInLeft">
						<h2 class="about-title-2">
							{% trans into app.request.locale %}Nous offrons des stages et des visites d'entreprises{% endtrans %}
						</h2>
						<img src="{{asset('assets/img/IRESCO-CECOSDAFormation.jpg')}}" style="width:100%">
					</div>
		
					<div class="mySlides fadeInLeft">
						<h2 class="about-title-2">{% trans into app.request.locale %}Nous offrons des tablettes de cours à nos apprenants{% endtrans %}</h2>
						<img src="{{asset('assets/img/tablettes-de-cours-CECOSDAFormation.png')}}" style="width:87%">
					</div>
				
		
				<div class="mySlides fadeInLeft">
					<h2 class="about-title-2">
						{% trans into app.request.locale %}Séminaires et école du samedi pour travailleurs{% endtrans %}</h2>
					<img src="{{asset('assets/img/seminaires-ecole-du-samedi-CECOSDAFormation.jpg')}}" style="width:100%">
		
				</div>
				<div class="mySlides fadeInLeft">
					<h2 class="about-title-2">{% trans into app.request.locale %}Nous avons des cours en présentiel et en ligne{% endtrans %}</h2>
					<img src="{{asset('assets/img/formation-en-ligne-CECOSDAFormation.jpg')}}" style="width:100%">
				</div>
				</div> #}
			</div>
		</div>


				{# 
				<div class="row mt-5">
					<div class="col-md-7" id="accordion">					
					
						
						<!-- Page Header End -->


						<!-- Single Page Start -->
						<div class="single">
							<div class="container">
								<div class="row">

									<div class="col-12">
										<div class="row text-justify">
											<p>
												{{ 'Qui'|trans}}
											</p>
											<ul>
												<li>{{ 'noussommes.atout1'|trans}}</li>
												<li>{{ 'noussommes.atout2'|trans}}</li>
												<li>{{ 'noussommes.atout3'|trans}}</li>
												<li>{{ 'noussommes.atout4'|trans}}</li>
												<li>{{ 'noussommes.atout5'|trans}}</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>

							
					</div>
					<div class="col-md-5">
						<img src="{{asset('assets/img/qui-sommes-nous-CECOSDAFormation.png')}}" style="width:100%;">
					</div>
					

				</div> #}

				<div class="row" id="choix">
					
				{# #}

				
		</div>
		{# <div class="container mt-3">
				<div class="section-header animated fadeInLeft">
					<h2 class="about-title">{% trans into app.request.locale %}Je veux plus d’informations{% endtrans %}</h2>
					<h5> {% trans into app.request.locale %}Un E-mail instantané vous sera envoyé{% endtrans %}</h5>
				</div>
				<ol>
				<li>{% trans into app.request.locale %}Assistant administratif bilingue{% endtrans %}</li>
					<ul>
					<li></li>
					<li><a  class="formations" href="#">{% trans into app.request.locale %}Formation en ligne{% endtrans %}</a></li>
					</ul>
				<li>{% trans into app.request.locale %}Samedi informatique{% endtrans %}</li>
				<ul>
			
				<li><a  class="formations" href="#">{% trans into app.request.locale %}Eveil informatique et digital 1 – enfants 5-7{% endtrans %}</a></li>
				<li><a  class="formations" href="#">{% trans into app.request.locale %}Eveil informatique et digital 2 – enfants 8-10 ans{% endtrans %}</a></li>
				<li><a  class="formations" href="#">{% trans into app.request.locale %}Créativité informatique et digital 1 – enfants 11-13 ans{% endtrans %}</a></li>
				<li><a  class="formations" href="#">{% trans into app.request.locale %}Créativité informatique et digital 2 – enfants 14-16 ans{% endtrans %}</a></li>
				<li><a  class="formations" href="#">{% trans into app.request.locale %}Informatique spécialisé – 16+ ans{% endtrans %}</a></li>
				<li><a  class="formations" href="#">{% trans into app.request.locale %}Informatique pour adultes, travailleurs, chercheurs d’emplois, commerçants et parents{% endtrans %}</a></li>

				</ul>
				</ol>
		</div> #}
		
		<div class="col-md-12 text-center m-b-15"> 
					<a class="btn btn-primary inscription" href="#" >{% trans into app.request.locale %}Je m’inscris à une formation{% endtrans %} </a>
					</div>
					<div id="inscription" class="container collapse text-center mt-3" data-parent="#choix">
					<a class="btn btn-primary" href="{{path('inscription')}}">{% trans into app.request.locale %}Assistant administratif bilingue{% endtrans %}</a>
					
					<a class="btn btn-primary" href="{{path('inscriptionprepa')}}">{% trans into app.request.locale %}Samedi informatique{% endtrans %}</a>
				</div> 
		<div id="myModal4" class="col-12 mt-2 modal fade">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<h5 style="color: darkblue;font-weight: 600;" class="modal-title">{% trans into app.request.locale %}Je souhaite avoir les informations sur{% endtrans %}</h5>
									<button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">×</button>
								</div>
								<div class="modal-body">
									<div class="form section-bg wow BounceInUp">
										<form action="{{path('contact_mail', {'locale': app.request.locale})}}" method="post">
											<div class="form-row">
												<h1 class="text-center" style="width:100%"></h1>
												<div class="form-group col-md-6">
													<input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" required=""/>
													<div class="validation"></div>
												</div>
												<div class="form-group col-md-6">
													<input type="email" class="form-control" required="" name="email" id="email" placeholder="Votre e-mail"/>
													<div class="validation"></div>
												</div>
											</div>
											<div class="form-group">{% trans into app.request.locale %}Un E-mail instantané vous sera envoyé a propos de{% endtrans %} :
												<p id="subject" name="subject">
												</p>
												<div class="validation"></div>
											</div>
											<p style="display:none" id="message">
											Pour sinscrire, remplir <a id="lien-inscription">le formulaire suivant</a>;
L’équipe de la scolarité va revoir votre inscription, confirmera votre éligibilité et vous enverra un quitus de paiement de l’inscription.
Après paiement envoyez le reçu à l’adresse infos@cecosdaformation.com.
Dès que votre inscription est confirmée le responsable de votre filière prendra contact avec vous pour vous intégrer dans la chaîne de communication de l’école et pour s’assurer que vos besoins seront pris en compte dans le déroulement de la formation.
											</p>
											<div class="text-center">
												<button type="submit">{% trans into app.request.locale %}Envoyez{% endtrans %}</button>
											</div>
										</form>
									</div>
								</div>
				</div>
				</div>
			</div>
		<!-- plateforme Fin -->
	
		<!-- Contact Debut -->
		
		<div class="contact" id="contact">
			<div class="container">
				<div class="section-header">
					<h2 class="about-title">{% trans into app.request.locale %}Contactez-nous {% endtrans %}</h2>
				</div>
				<div class="row">
					
						
							<div class="contact-item col-md-4">
								<i class="fa fa-map-marker-alt" style="border: none;"></i>
								<div class="contact-text">
									<h2>{% trans into app.request.locale %}Adresse {% endtrans %}</h2>
									<p>Yaoundé, Montée Jouvence</p>
								</div>
							</div>
							<div class="contact-item col-md-4">
								<i class="fa fa-phone-alt" style="border: none;"></i>
								<div class="contact-text">
									<h2>{% trans into app.request.locale %}Téléphone {% endtrans %}</h2>
									<p>(+237) 677 325 343
										<img src="{{ asset('assets/img/Logowhatsapp.png') }}" alt="Logo Whatsapp" style=" height:24px">
										<br>
										(+237) 222 311 875</p>
								</div>
							</div>
							<div class="contact-item col-md-4" style="border: none;">
								<i class="fa fa-envelope" style="border: none;"></i>
								<div class="contact-text">
									<h2>Email</h2>
									<p>infos@cecosdaformation.com
										<br/>cecosdaformation@gmail.com</p>
								</div>
							</div>
					
								
				</div>
			</div>
		</div>
		<!-- Contact Fin -->

    {% endblock reste %}
	<div class="bouton-whatsapp">
			<div class="whatsapp-message">
			<a href="https://wa.me/237677325343"><img src="{{ asset('assets/img/Logowhatsapp.png') }}" alt="Logo Whatsapp"></a>
			</div>
		</div>
	<!-- Footer Debut -->
	<div class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="footer-about">
						<h2>{% trans into app.request.locale %}A propos{% endtrans %}</h2>
						<p>
							{{ 'accueil.apropos'|trans}}
						</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-8">
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="footer-link">
								<h2>{% trans into app.request.locale %}Nos partenaires{% endtrans %}</h2>
								<a target="_blank" href="http://minefop.gov.cm/">MINEFOP</a>
								<a target="_blank" href="https://www.cecosda.org">CECOSDA</a>
								<a target="_blank" href="http://scribo.cm/">SCRIBO</a>
								<a target="_blank" href="http://unesco.org/">UNESCO</a>
								<a target="_blank" href="http://minjec.gov.cm/index.php?lang=fr">MINJEC</a>
							</div>
						</div>
						<div class="col-md-6 col-lg-6 foot" style="">
							<div class="footer-contact">
								<h2>{% trans into app.request.locale %}Contactez-nous{% endtrans %}</h2>
								<p>
									<i class="fa fa-map-marker-alt"></i>Yaoundé, Montée Jouvence</p>
								<p>
									<i class="fa fa-phone-alt"></i>(+237) 677 325 343
									<img src="{{ asset('assets/img/Logowhatsapp.png') }}" alt="Logo Whatsapp" style=" height:24px"></p>
								<p>
									<i class="fa fa-phone-alt"></i>(+237) 222 311 875</p>
								<p>
									<i class="fa fa-envelope"></i>infos@cecosdaformation.com<br>
									<i class="fa fa-envelope"></i>cecosdaformation@gmail.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container copyright">
			<div class="row">
				<div class="col-md-6">
					<p>&copy;
						<a href="#">CECOSDAFormation</a>, {% trans into app.request.locale %}Tous droits réservés. {% endtrans %}</p>
				</div>
				<div class="col-md-6">
					<p>{% trans into app.request.locale %}Développé par {% endtrans %}
						<a href="https://cecosda.org">cecosda.org</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Fin -->

	<a href="#" class="back-to-top" name="back-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>
</div>
		<div id="myModal5" class="modal fade">
			<div class="modal-dialog modal-md">
				<div class="modal-content" style="height: 490px;">
					<div class="modal-header">
						<h5 style="color: darkblue;font-weight: 600;" class="modal-title">{% trans into app.request.locale %}Choisissez la formation a laquelle vous souhaitez vous inscrire{% endtrans %}</h5>
						<button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="d-flex flex-column justify-content-center align-items-left">
							<p style="color: darkblue;"><a href="{{ path('inscriptionCQPenpresentiel')}}">{% trans into app.request.locale %}CQP Assistant administratif en presentiel{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionCQPenligne')}}">{% trans into app.request.locale %}CQP Assistant administratif en ligne{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIeveil')}}">{% trans into app.request.locale %}Eveil informatique{% endtrans %} {% trans into app.request.locale %}pour les enfants de 05 à 7ans{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIaventure')}}">{% trans into app.request.locale %}Créativité informatique{% endtrans %} {% trans into app.request.locale %}pour les enfants de 08 à 10ans{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIcreativity')}}">{% trans into app.request.locale %}Créativité appliquée{% endtrans %}  {% trans into app.request.locale %}pour les enfants de 11 à 13ans{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIspecial')}}">{% trans into app.request.locale %}Informatique spécialisé{% endtrans %} {% trans into app.request.locale %}pour les élèves de 14+ et les étudiants{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIadulte')}}">{% trans into app.request.locale %}Atelier informatique{% endtrans %} {% trans into app.request.locale %}pour adultes{% endtrans %}</a></p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="" class="modal fade">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<h5 style="color: darkblue;font-weight: 600;" class="modal-title">Programme CQP Community Managers</h5>
						<button style="border: 2px solid darkblue;background: red;" type="button" class="close2" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="d-flex flex-column justify-content-center align-items-center">
							<p style="color: darkblue;text-align: center">
								Création des sites internet</p>
							<p style="color: darkblue;text-align: center">Video Marketing</p>
							<p style="color: darkblue;text-align: center">Picture Marketing</p>
							<p style="color: darkblue;text-align: center">Outils de communication digitale (blog, réseaux sociaux, rédaction web)</p>
							<p style="color: darkblue;text-align: center">Référencement web</p>
							<p style="color: darkblue;text-align: center">Outils de publicité en ligne
							</p>


						</div>
						<br/>

					</div>
				</div>
			</div>
		</div>
<div id="myModal3" class="modal fade" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 style="color: darkblue;font-weight: 600;" class="modal-title">Rentrée CQP 2021 - Infos</h5>
				<button style="border: 2px solid darkblue;background: red;" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="d-flex flex-column justify-content-center align-items-center">
					<p style="color: darkblue;text-align: center">
						<span class="font-weight-bold">Pour la rentrée CQP 2021:</span><br>
						<span>
									CECOSDAFormation Centre pour la Spécialisation Post Universitaire, en partenariat avec le MINEFOP lance un appel à
																																																																																																																																																																																																																																	candidature pour la formation de
									<span class="font-weight-bold">25 Community Managers
									</span>
									et
									<span class="font-weight-bold">25 Assistants Administratifs</span>.
									</span></p><p><b>En cour du jour et cours du soir, en ligne et en présentiel</b></p>


					<br>
					Dernière semaine de réception des candidatures.
					<p></p>

				</div>
				<br>
				<p style="text-align: center">Contactez-nous par email, message, appel ou via whatsApp pour plus d'informations.</p>
				<center>

					<p style="font-weight: 600;">
						<a href="telto:+237677325343">+237 677 325 343</a>
						<img src="{{ asset('assets/img/Logowhatsapp.png') }}" alt="Logo Whatsapp" style="height:40px">
						<br>
						<a style="color:#9e0c08" href="mailto:infos@cecosdaformation.com">infos@cecosdaformation.com<br>cecosdaformation@gmail.com</a>
					</p>
				</center>
			</div>
		</div>
	</div>
</div>
{% block javascripts %}
	<script>

        // Get the modal
        $(".inscription").on('click', function(){
            $("#myModal5").modal('show');
            $("#myModal5").css('opacity:1');
        });
        
    



        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close1")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            $("#myModal5").modal('hide');
            $("#myModal5").css('opacity:0');
            $("#myModal5").css('display:none');
        };

        $(".formations").on('click', function(){
            var sujet = document.getElementById("subject");
            sujet.innerHTML = $(this)[0].textContent ;
            $("#myModal4").modal('show');
            $("#myModal4").css('opacity:1');
        });


        // Get the <span> element that closes the modal
        var span2 = document.getElementsByClassName("close1")[0];
        // When the user clicks on <span> (x), close the modal
        span2.onclick = function () {
            $(".inscription").css('opacity:0');
            $(".inscription").modal('hide');

        };

	let slideIndex = 0;
	showSlides();
	
	function showSlides() {
	  let i;
	  let slides = document.getElementsByClassName("mySlides");
	  for (i = 0; i < slides.length; i++) {
	    slides[i].style.display = "none";
	  }
	  slideIndex++;
	  if (slideIndex > slides.length) {slideIndex = 1}
	  slides[slideIndex-1].style.display = "block";
	  setTimeout(showSlides, 2000); // Change image every 2 seconds
	}

	</script>
	<!-- JavaScript Libraries -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
	<script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
	<script src="{{asset('site/lib/isotope/isotope.pkgd.min.js')}}"></script>
	<script src="{{asset('assets/js/FeedEk.js') }}" type="application/javascript"></script>
	<!-- Template Javascript -->
	<script src="{{asset('site/js/main.js')}}"></script>
	<script src="{{ asset('assets/js/library/sweetalert.min.js')}}"></script>
	<script src="{{ asset('assets/js/library/head.min.js')}}"></script>
	<script src="{{ asset('assets/js/notifs/lobibox.min.js') }}"></script>
	<script src="{{asset('assets/js/notifs/notifications.min.js')}}"></script>
	
	
{% endblock %}
 
</body>
</html>
