<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CECOSDAFormation - Au delà du diplôme, la compétence</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="Formation à distance, formation continue,formation des enseignants, formation des tuteurs, formation d’adultes, formation initiale, formation ouverte à distance, spécialisation après l'université, insertion professionnelle rapide, formation sur le digital au Cameroun,	formations en ligne, certificats de qualifications professionnelle, Ministère de la formation professionnelle, formations courtes, formations rapides, formations pratiques" name="keywords">
		{% block metadescription %}
			<meta content="Centre de formation professionnelle pour la spécialisation post universitaire au Cameroun. Découvrez les conditions d'admission. Les formations sont adaptées pour ceux qui souhaiteraient travailler dans les ONG, les entreprises internationales, la fonction publique et les PME. Les cours se font en ligne et en présentiel et c'est 100% pratique. LE diplôme est délivré par le ministère de la formation professionnelle" name="description">
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logo-cecosda-formation-small.png') }}">
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="{{asset('site/lib/animate/animate.min.css')}}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/FeedEk.css') }}"/>
		<link href="{{asset('site/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lobibox.min.css') }}">
		<link href="{{ asset('assets/css/sweetalert.css') }}" rel="stylesheet">
		<link href="{{asset('site/css/style.css')}}" rel="stylesheet">
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script>
			$(document).ready(function () {
if ($("#form-contact").length) {
$("#myModal3").modal('show');
} else {
$("#myModal3").modal('hide');
}

$("#annonce-link").click('click', function (e) {
e.preventDefault();
$("#myModal3").modal('show');
});
});
		</script>
	</head>

	<body>

		<div id="myModal3" class="modal fade">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">

						<h4 style="color: darkblue;font-weight: 600;" class="modal-title">Rentrée CQP 2021 - Infos</h4>
						<button style="border: 2px solid darkblue;background: red;" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="d-flex flex-column justify-content-center align-items-center">
							<p style="color: darkblue;font-size: 20px; text-align: center">
								<span class="font-weight-bold">Pour la rentrée CQP du 29 Novembre 2021:</span><br/>
								<span>
									CECOSDAFormation centre pour la spécialisation post universitaire, en partenariat avec le MINEFOP lance un appel à
																																																																																																																																																																																																																																	candidature pour la formation de
									<span class="font-weight-bold">25 Community Managers
									</span>
									et
									<span class="font-weight-bold">25 Assistants Administratifs</span>.
								</span>

								<br>
								Date limite de réception des candidatures le 24 Novembre 2021.
							</p>

						</div>
						<br/>
						<p style="text-align: center">Contactez-nous par email, message, appel ou via whatsApp pour plus d'informations.</p>
						<center>

							<p style="font-size: 22px; font-weight: 600;">
								<a href="telto:+237677325343">+237 677 325 343</a>
								<img src="https://i.pinimg.com/originals/91/9d/f0/919df067a8fbd22ce7b6f401b7688b35.png" height="40px">
								<br>
								<a style="color:#9e0c08" href="mailto:infos@cecosdaformation.com">infos@cecosdaformation.com<br/>cecosdaformation@gmail.com</a>
							</p>
						</center>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			{% for type, msgs in app.session.flashbag.all %}
				{%for msg in msgs %}
					<input type="hidden" id="hidden_flash_bag_message" name="hidden_flash_bag_message" class="hidden_message" value="{{ msg }}">
					<input type="hidden" id="hidden_flash_bag_type" value="{{ type }}">
				{% endfor %}
			{% endfor %}
		</div>
		<div
			class="wrapper">
			<!-- Top Bar Debut -->
			<div class="top-bar">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-4 col-xs-12">
							<div class="logo logo-d">
								<a href="{{path('homepage')}}" style="display: block;text-align: center;">
									<img src="{{ asset('assets/img/logo-cecosda-formation-small.png') }}" alt="Logo">
									<span class="logo-text" style="text-align: center;margin-right: -25px;">Centre de formation professionnel pour la spécialisation post universitaire</span>
								</a>
							</div>
						</div>
						<div class="col-lg-8 hidden-mobile">
							<div class="top-bar-right">
								<div class="text">
									<a target="_blank" href="http://diplome.cecosdaformation.com/validation/">
										<h3 class="h3-haut">Authentifier un diplôme</h3>
									</a>
								</div>
								<div class="text">
									<a target="_blank" href="http://courses.cecosdaformation.com/login.php?target=&client_id=CECOSDAFormation&cmd=force_login&lang=fr">
										<h3 class="h3-haut">Se connecter à la plateforme</h3>
									</a>

								</div>
								<div class="text">
									<a href="{{path('inscription')}}">
										<h3 class="h3-haut">S'inscrire à une formation CQP</h3>
									</a>
								</div>

								<div class="social">
									<a href="">
										<i class="fab fa-twitter"></i>
									</a>
									<a href="">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-center agrement">
							<p>
								<span class="hidden-mobile">Agrément N° 200/MINEFOP/SG/DFOP/SDGSF/SACD/2020 -
									<span class="font-weight-bold" style="color: #fcb040;">Au delà du diplôme, la compétence
									</span>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Nav Bar Debut -->
			<div class="nav-bar nav-bar-edit">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
						<div style="width:100%" class="agrement hide-desktop">
							<p style="color:#ffffef;margin-bottom: -15px;">Agrément N°</p>
						</div>
						<a href="#" class="navbar-brand">200/MINEFOP/SG/DFOP/SDGSF/SACD/2020</a>
						<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
							<div class="navbar-nav mr-auto">
								<a href="{{path('homepage')}}" class="nav-item nav-link active accueil">Accueil</a>
								<a href="{{ path('cqp') }}" class="nav-item nav-link assis">CQP assistant administratif</a>
								<a href="{{ path('cqpcm') }}" class="nav-item nav-link comm">CQP Community manager</a>
								<a href="{{path('inscription')}}" class="nav-item nav-link inscription">S’inscrire</a>
								<a href="{{ path('fluxrss') }}" class="nav-item nav-link formationblog">Blog</a>

								{#
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                                <div class="nav-item dropdown">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Lien avec sous menu</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                                    <div class="dropdown-menu">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                                        <a href="blog.html" class="dropdown-item">sous menu 1</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                                        <a href="single.html" class="dropdown-item">sous menu 2</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                                    </div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                                </div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                                #}
								<a href="{{ path('homepage') }}#contact" class="nav-item nav-link">Contact</a>
								<a id="annonce-link" href="#" class="nav-item nav-link">Annonces</a>
							</div>
							<div class="ml-auto">
								<a class="btn" href="" style="background:#153aaa">Rentrée CQP: 29 Novembre</a>
							</div>

						</div>
					</nav>
				</div>
			</div>
			<!-- Nav Bar Fin -->

			{% block caroussel %}

				<!-- Carousel Debut -->
				<div id="carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carousel" data-slide-to="0" class="active"></li>
						<li data-target="#carousel" data-slide-to="1"></li>
						<li data-target="#carousel" data-slide-to="2"></li>
						<li data-target="#carousel" data-slide-to="3"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{asset('site/img/slides/1.jpg')}}" alt="Carousel Image">
							<div class="carousel-caption">
								<h1 class="animated fadeInLeft">Décrochez un CQP du MINEFOP</h1>
								<p class="animated fadeInRight">Assistant administratif et Community manager : Décrochez un emploi dans les ONG, la fonction publique, les PME</p>
								<a class="btn animated fadeInUp" href="{{path('inscription')}}">S'inscrire</a>
							</div>
						</div>

						<div class="carousel-item">
							<img src="{{asset('site/img/slides/2.jpg')}}" alt="Carousel Image">
							<div class="carousel-caption">
								<h1 class="animated fadeInLeft">Devenez Assistant administratif</h1>
								<p class="animated fadeInRight">Tout en un : Secrétariat bureautique, ressources humaines, comptabilité, techniques commerciales, techniques d'assistanat, archivage, service client</p>
								<a class="btn animated fadeInUp" href="{{path('inscription')}}">S'inscrire</a>
							</div>
						</div>

						<div class="carousel-item">
							<img src="{{asset('site/img/slides/4.jpg')}}" alt="Carousel Image">
							<div class="carousel-caption">
								<h1 class="animated fadeInLeft">Devenez Community manager diplômé</h1>
								<p class="animated fadeInRight">Tout en un : Vidéos, picture marketing, création de site web, blogging, SEO, réseaux sociaux</p>
								<a class="btn animated fadeInUp" href="{{path('inscription')}}">S'inscrire</a>
							</div>
						</div>
						<div class="carousel-item">
							<img src="{{asset('site/img/slides/3.jpg')}}" alt="Carousel Image">
							<div class="carousel-caption">
								<h1 class="animated fadeInLeft">Tronc commun</h1>
								<p class="animated fadeInRight">Projets professionnels, rédaction administrative et emails professionnels,
								</p>
								<a class="btn animated fadeInUp" href="{{path('inscription')}}">S'inscrire</a>
							</div>
						</div>
					</div>

					<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<!-- Carousel Fin -->


				<!-- Top atouts Debut-->
				<div class="feature-top">
					<div class="container-fluid">
						<div class="row align-items-center">
							<div class="col-md-3 col-sm-6 feature-elt animated fadeInUp">
								<div class="feature-item">
									<i class="fa fa-book"></i>
									<h3>En ligne et en salle
									</h3>
									<p>
										<a target="_blank" href="http://courses.cecosdaformation.com/login.php?target=&client_id=CECOSDAFormation&cmd=force_login&lang=fr">Visiter la plateforme</a>
									</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 feature-elt animated fadeInUp">
								<div class="feature-item">
									<i class="fa fa-graduation-cap"></i>
									<h3>Stage académique</h3>
									<p>Négocié par CECOSDAFormation</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 feature-elt animated fadeInUp">
								<div class="feature-item">
									<i class="far fa-building"></i>
									<h3>Visite d’entreprise</h3>
									<p>conférence et activités pratiques</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 feature-elt animated fadeInUp">
								<div class="feature-item">
									<i class="fa fa-user-tie"></i>
									<h3>Diplômes vérifiables</h3>
									<p>
										<a target="_blank" href="http://diplome.cecosdaformation.com/validation/">Authentifier un diplôme ?</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Top atouts Fin-->


				<!-- apropos Debut -->
				<div class="about">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-5 col-md-6">
								<div class="about-img">
									<img src="{{asset('site/img/visite/7.jpg')}}" alt="a propos CECOSDAFormation">
								</div>
							</div>
							<div class="col-lg-7 col-md-6">
								<div class="section-header">
									<h2 class="about-title">A propos du centre</h2>
								</div>
								<div class="about-text">
									<p>
										CECOSDAFormation est un consortium de professionnels qui ont décidé de mettre leurs compétences acquises sur le terrain au service de la formation et de l’insertion professionnelles des jeunes, que ce soit en présentiel ou en E-learning.
									</p>
									<p>
										Agrée par le Ministère de la formation professionnelle et de l’emploi, CECOSDAformation offre aux futurs stagiaires un cadre idéal pour rapidement acquérir une expérience professionnelle pertinente pour pouvoir rapidement décrocher un emploi décent.
									</p>
									<a class="btn" href="{{ path('homepage') }}#contact">Contactez-nous</a>
								</div>
							</div>
							<div class="about-tex col-md-12" style="margin-top:40px">
								<div class="section-header">
									<h2 class="about-title animated fadeInUp">Notre vision</h2>
								</div>
								<p class="text-justify animated fadeInDown">
									CECOSDAFormation a pour vision de mettre à la disposition de personnes ayant fait des études 
																																																																																																																																																																																																																																																																																							universitaires ou en reconversion professionnelle, des formations professionnelles pratiques 
																																																																																																																																																																																																																																																																																							adaptées aux besoins des ONG, de la fonction publique et des PME. 
																																																																																																																																																																																																																																																																																							Les projets professionnels sont au cœur de notre méthodologie. 
																																																																																																																																																																																																																																																																																							L'objectif étant de plonger l'apprenant dans le métier dès le premier jour.
																																																																																																																																																																																																																																																																																							Les partenariats avec certaines institutions publiques, ONG et autres PME,
																																																																																																																																																																																																																																																																																							 nous permettent de garantir les stages à chaque apprenant.
																																																																																																																																																																																																																																																																																							Nous faisons des formations en présentiel et en ligne.
																																																																																																																																																																																																																																																																																							Les filières sont ouvertes en fonction des besoins exprimés par les institutions partenaires.
																																																																																																																																																																																																																																																																																							Pour l'année 2021-2022 02 filières ouvertes : Community Manager et Assistant Administratif
																																																																																																																																																																																																																																																																																							Les filières suivi et évaluation des projets, ouvrier en gestion des déchets, technicien
																																																																																																																																																																																																																																																																																							en énergie solaire seront ouvertes en 2023.
									<br>
									<br>
									<b class="d-block text-center" style="color:black">Faites confiance à CECOSDAFormation, et formez–vous dès maintenant, en présentiel ou en ligne. Vous ne regretterez pas !</b>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- apropos Fin -->
			{% endblock caroussel %}

			{% block contenu %}{% endblock %}

			{% block formation %}
				<!-- Formation Debut -->
				<div class="service">
					<div class="container">
						<div class="section-header animated fadeInLeft">
							<h2 class="about-title">Toutes nos formations</h2>
						</div>
						<div class="row animated fadeInRight">
							<div class="col-lg-4 col-md-6">
								<div class="service-item">
									<div class="service-icon">
										<img class="img-form" src="{{asset('site/img/visite/8.jpg')}}" alt="Image">
									</div>
									<div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
										<h3>Diplôme CQP pour Community manager</h3>
										<div>
											<a class="btn btn-form-left animated fadeInLeft" id="programme-formations">Voir le programme</a>
											<a class="btn btn-form-right animated fadeInRight" href="{{path('inscription')}}">S'inscrire</a>
										</div>
									</div>

									<p
										class="d-none"><!--  Compétence aujourd'hui très prisée par les recruteurs, avant la fin de la formation la plus part des apprenants sont déjà coptés par les entreprises. Vous Maitriserez les sites internets, réseaux sociaux, l'infographie, montage video. -->
									</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="service-item">
									<div class="service-icon">
										<img class="img-form" src="{{asset('site/img/formation/1.jpg')}}" alt="Image">
									</div>
									<div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
										<h3>Diplôme CQP pour assistants administratifs</h3>
										<div>
											<a class="btn btn-form-left animated fadeInLeft" id="programme-formations-2">Voir le programme</a>
											<a class="btn btn-form-right animated fadeInRight" href="{{path('inscription')}}">S'inscrire</a>
										</div>
									</div>
									<p
										class="d-none"><!-- Devenez des admins polyvalents. Avec une maitrise avancé de excel, vous pourrez gérer les appels d’offres, l’accueil, les techniques de RH, de l’assistanat, la comptabilité, le commercial, la mise à jour des sites internets. -->
									</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="service-item">
									<div class="service-icon">
										<img class="img-form" src="{{asset('site/img/visite/10.jpg')}}" alt="Image">
									</div>
									<div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
										<h3>Vous préférez vous formez en ligne ?</h3>
										<div>
											<a href="http://www.cecosdaformation.com/formations/enligne/" class="btn btn-form-left animated fadeInLeft">Comment ça marche?</a>
											<a class="btn btn-form-right animated fadeInRight" href="{{path('inscription')}}">S'inscrire</a>
										</div>
									</div>
									<p
										class="d-none"><!-- Via la plateforme, à toute heure vous pouvez vous connecter, suivre le cours et faire vos devoirs. Seule la filière assistant administratif est ouverte pour la formation en ligne pour ceux qui ne peuvent pas venir en présentiel. -->
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Formation Fin -->
			{% endblock %}


			{% block reste %}
				<!-- plateforme Debut -->
				<div class="feature">
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<div class="feature-img">
									<h2 class="about-title-black" style="background: #153aab;padding: 10px;color: white;">S'inscrire pour la prochaine rentrée</h2>
									<div class="inscription" style="margin-top:25px">
										<p class="text-center">L’inscription aux filières professionnelles de
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											                                cecosdaformation est sous étude de dossier.</p>
										<p>Les
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											                                candidatures pour la prochaine rentrée 2021/2022 sont
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											                                déjà ouvertes. Le délai de réception des dossiers est
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											                                fixé au 20 novembre 2021.</p>
										<div class="inscrip-bloc">
											<h3 class="about-title-black">Dossiers de demande d’inscription:</h3>
											<ol>
												<li>Photocopie du diplôme le plus récent ;</li>
												<li>Photocopie carte d’identité nationale ;</li>
												<li>
													Résultat cours préliminaire en ligne
												</li>
												<li>Formulaire de demande d’inscription dûment rempli en
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																													                                    ligne ou en présentiel
												</li>
											</ol>
										</div>
										<div class="col-md-12" style="margin-top:-20px">
											<center>
												<a href="{{path('inscription')}}">
													<img class="img-form" src="{{asset('site/img/formation/Pre-inscription.png')}}" alt="Image"></a>
											</center>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="section-header">
									<h2 class="about-title about-custum">Nos plateformes</h2>
								</div>
								<div class="row align-items-center feature-item">
									<div class="col-5">
										<div class="feature-icon">
											<img src="{{ asset('assets/img/logo-cecosda-formation-small.png') }}" alt="Logo">
										</div>
									</div>
									<div class="col-7">
										<h3>Plateforme de DQP en ligne</h3>
										<p>
											Suivez votre formation d'assistant administratif en ligne et obtenez votre diplôme sans vous déplacer.
											<a target="_blank" class="btn-link" href="http://courses.cecosdaformation.com/">Visiter la plateforme</a>
										</p>
									</div>
								</div>
								<div class="row align-items-center feature-item">
									<div class="col-5">
										<div class="feature-icon">
											<img src="https://anglaisenligne.cm/assets/site/images/LogoCL.png" height="80" alt="Logo">
										</div>
									</div>
									<div class="col-7">
										<h3>Anglais en ligne</h3>
										<p>
											Vous êtes francophone et désirez apprendre ou vous perfectionner en langue anglaise sans vous déplacer ?
											<a target="_blank" class="btn-link" href="https://anglaisenligne.cm/">Inscrivez-vous ici</a>
										</p>
									</div>
								</div>
								<div class="row align-items-center feature-item">
									<div class="col-5">
										<div class="feature-icon">
											<img src="{{ asset('assets/img/logo-cecosda-formation-small.png') }}" alt="Logo">
										</div>
									</div>
									<div class="col-7">
										<h3>Formations courtes</h3>
										<p>
											Vous souhaitez acquérir une expertise dans un domaine précis en quelque semaines auprès d'un expert ?
											<a target="_blank" class="btn-link" href="http://formations-courtes.cm/">Découvrez nos formations courtes</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- plateforme Fin -->

				<!-- Contact Debut -->
				<div class="contact" id="contact">
					<div class="container">
						<div class="section-header">
							<h2 class="about-title">Contactez-nous</h2>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="contact-info">
									<div class="contact-item">
										<i class="fa fa-map-marker-alt" style="border: none;"></i>
										<div class="contact-text">
											<h2>Adresse</h2>
											<p>Yaoundé, Montée Jouvence</p>
										</div>
									</div>
									<div class="contact-item">
										<i class="fa fa-phone-alt" style="border: none;"></i>
										<div class="contact-text">
											<h2>Téléphone</h2>
											<p>(+237) 677 325 343
												<img src="{{ asset('assets/img/Logowhatsapp.png') }}" style=" height:24px">
												<br>
												(+237) 222 311 875</p>
										</div>
									</div>
									<div class="contact-item" style="overflow-x: scroll;">
										<i class="fa fa-envelope" style="border: none;"></i>
										<div class="contact-text">
											<h2>Email</h2>
											<p>infos@cecosdaformation.com
												<br/>cecosdaformation@gmail.com</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="contact-form">
									{{form_start(form, {'action': path('contact'), 'method': 'POST', 'attr': {'id': 'form-contact'}	}) }}

									<div class="form-group">
										{{ form_widget(form.nom) }}

									</div>
									<div class="form-group">
										{{ form_widget(form.email) }}
									</div>
									<div class="form-group">
										{{ form_widget(form.objet) }}

									</div>
									<div class="form-group">
										{{ form_widget(form.message) }}

									</div>
									<div class="form-group col-md-12">
										<div class="g-recaptcha" data-sitekey="6LdCy5ocAAAAADUjMliY4dBGJJFXUubCGSRhGmyE" data-callback="correctCaptcha"></div>
									</div>
									<div>
										<button class="btn" type="submit">Envoyer</button>
									</div>
									{{ form_end(form) }}
								</div>
								<script>
									var correctCaptcha = function (response) {
console.log(response);
if (response && response.length) {
document.getElementById('form-contact').setAttribute("data-recaptcha-valid", true);
return true;
} else {
document.getElementById('form-contact').setAttribute("data-recaptcha-valid", false);
return false;
}
};
								</script>
							</div>
						</div>
					</div>
				</div>
				<!-- Contact Fin -->

			{% endblock reste %}

			<!-- Footer Debut -->
			<div class="footer" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="footer-about">
								<h2>A propos</h2>
								<p>
									Bienvenu sur le site du centre par excellence de la formation professionnelle au Cameroun. Si vous souhaitez une formation qui réponde aux normes internationales, et qui, au-delà du diplôme vous donne une compétence vraie, alors vous êtes au bon endroit !
								</p>
							</div>
						</div>
						<div class="col-md-6 col-lg-8">
							<div class="row">
								<div class="col-md-6 col-lg-4">
									<div class="footer-link">
										<h2>Nos partenaires</h2>
										<a target="_blank" href="http://minefop.gov.cm/">MINEFOP</a>
										<a target="_blank" href="https://www.cecosda.org">cecosda.org</a>
										<a target="_blank" href="http://scribo.cm/">SCRIBO.CM</a>
										<a target="_blank" href="http://minjec.gov.cm/index.php?lang=fr">MINJEC</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="footer-link">
										<h2>Nos formations</h2>
										<a href="">Assistant administratif</a>
										<a href="">Community management</a>
										<a href="">Anglais en ligne</a>
										<a href="">Vacances Pro</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 foot" style="">
									<div class="footer-contact">
										<h2>Contactez-nous</h2>
										<p>
											<i class="fa fa-map-marker-alt"></i>Yaoundé, Montée Jouvence</p>
										<p>
											<i class="fa fa-phone-alt"></i>(+237) 677 325 343
											<img src="{{ asset('assets/img/Logowhatsapp.png') }}" style=" height:24px"></p>
										<p>
											<i class="fa fa-phone-alt"></i>(+237) 222 311 875</p>
										<p>
											<i class="fa fa-envelope"></i>infos@cecosdaformation.com<br>
											<i class="fa fa-envelope"></i>cecosdaformation@gmail.com
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container copyright">
					<div class="row">
						<div class="col-md-6">
							<p>&copy;
								<a href="#">CECOSDAFormation</a>, Tous droits réservés.</p>
						</div>
						<div class="col-md-6">
							<p>Développé par
								<a href="https://cecosda.org">cecosda.org</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Fin -->

			<a href="#" class="back-to-top">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
		<div id="myModal" class="modal" style="overflow:auto">
			<div class="modal-content" id="img01" style="padding: 50px;background: #f7f5f2;">
				<div class="panel-group" id="accordion" role="tablist">
					<span class="close" style="
																																																																																																																																																																																																																																																																																																																																																																																																			                        font: bold 46px arial;
																																																																																																																																																																																																																																																																																																																																																																																																			                        background-color: #f10707;
																																																																																																																																																																																																																																																																																																																																																																																																			                        color: white;
																																																																																																																																																																																																																																																																																																																																																																																																			                        padding: 9px;
																																																																																																																																																																																																																																																																																																																																																																																																			                        float: right;
																																																																																																																																																																																																																																																																																																																																																																																																			                        cursor: pointer;
																																																																																																																																																																																																																																																																																																																																																																																																			                    ">x</span>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading11">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">

									MODULE 1 : Initiation aux outils  de bureautique et du numérique

								</a>
							</h4>
						</div>
						<div id="collapse11" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading11">
							<div class="panel-body">

								<table class="table table-hover table-responsive">
									<thead>
										<tr>
											<th class="info text-center">Intitulé U. E
											</th>
											<th class="info text-center">Cours
											</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="info text-center" rowspan="7">Initiation à la bureautique</td>
											<td class="info">Introduction à la maintenance des équipements informatiques et bureautique
											</td>
										</tr>
										<tr>

											<td class="info">Environnement Windows</td>

										</tr>
										<tr>

											<td class="info">Ms. Word essential pour assistant administratif</td>

										</tr>
										<tr>

											<td class="info">Ms. Excel Essential pour assistant administratif</td>

										</tr>
										<tr>

											<td class="info">Introduction aux bases de données avec Ms. Access</td>

										</tr>
										<tr>

											<td class="info">Ms. Power point Essential pour assistant administratif</td>

										</tr>
										<tr>

											<td class="info">Ms. Publisher pour  assistant administratif</td>

										</tr>
										<tr>
											<td class="info text-center" rowspan="4">Initiation au digital</td>
											<td class="info">Initiation à l’Internet pour  assistant administratif</td>

										</tr>
										<tr>

											<td class="info">Mise à jour des informations d’un site internet développé avec un CMS (Wordpress ou Joomla)t</td>

										</tr>
										<tr>

											<td class="info">Introduction aux médias sociaux : Facebook 1&2</td>

										</tr>
										<tr>

											<td class="info">Création et mise à jour de blog
											</td>

										</tr>

									</tbody>
								</table>
							</div>
						</div>

					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading12">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">

									MODULE 2 :Techniques d’assistanat et de gestion d’un bureau

								</a>
							</h4>
						</div>
						<div id="collapse12" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading12">
							<div class="panel-body">
								<table class="table table-hover table-responsive">
									<thead>
										<tr>
											<th class="info text-center">Intitulé U. E
											</th>
											<th class="info text-center">Cours
											</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="info text-center" rowspan="3">Gestion du front desk de l’entreprise</td>
											<td class="info">Techniques d’accueil physique et téléphonique en entreprise</td>

										</tr>
										<tr>

											<td class="info">Gestion du courrier, classement et archivage des documents professionnels</td>

										</tr>
										<tr>

											<td class="info">Technique d’organisation des contacts de l’entreprise</td>

										</tr>

										<tr>
											<td class="info text-center" rowspan="6">Assister un manager, une équipe ou un service de l’entreprise</td>
											<td class="info">Gestion des agendas et calendrier d’activités, des voyages d’affaires, missions et réunions</td>

										</tr>
										<tr>

											<td class="info">Technique de prise de note rapide</td>

										</tr>
										<tr>

											<td class="info">Rédaction professionnelle des correspondances et rapports en entreprise</td>

										</tr>
										<tr>

											<td class="info">Gestion de la messagerie électronique et rédaction des emails professionnels</td>

										</tr>
										<tr>

											<td class="info">Organisation d’événements internes et externes de l’entreprise</td>

										</tr>
										<tr>

											<td class="info">Gestion des relations avec les partenaires externes de l’administration de
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									                                        l’entreprise (impôts, banque, sécurité social, inspection, prestataire)</td>

										</tr>


										<tr>
											<td class="info text-center" rowspan="4">Gestion professionnelle d’un bureau</td>
											<td class="info">Organisation du bureau avec la méthode 5S</td>

										</tr>
										<tr>

											<td class="info">Gestion des stocks des fournitures de bureau</td>

										</tr>
										<tr>

											<td class="info">Entretien du bureau et du poste de travail</td>

										</tr>

									</tbody>
								</table>

							</div>
						</div>

					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading13">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapseOne">

									MODULE 3 : Initiation à la gestion comptable et commerciale

								</a>
							</h4>
						</div>
						<div id="collapse13" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading13">
							<div class="panel-body">
								<table class="table table-hover table-responsive">
									<thead>
										<tr>
											<th class="info text-center">Intitulé U. E
											</th>
											<th class="info text-center">Cours
											</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="info text-center" rowspan="5">Initiation à la gestion comptable</td>
											<td class="info">L’essentiel de la Comptabilité générale</td>

										</tr>
										<tr>

											<td class="info">L’essentiel de la Comptabilité analytique</td>

										</tr>
										<tr>

											<td class="info">Introduction à l’Economie générale d’entreprises
											</td>

										</tr>
										<tr>

											<td class="info">Initiation à la fiscalité des entreprises</td>

										</tr>
										<tr>

											<td class="info">Outils essentiels de gestion des opérations comptables : réalités de chaque type d’entreprise ou secteur d’activité</td>

										</tr>

										<tr>
											<td class="info text-center" rowspan="2">Initiation à la gestion commerciale</td>
											<td class="info">Prospection commerciale
											</td>

										</tr>
										<tr>

											<td class="info">Gestion du client</td>

										</tr>
										<tr>
											<td class="info text-center" rowspan="2">Initiation à la gestion informatisée de la comptabilité</td>
											<td class="info">Ms. Excel pour assistant comptable</td>

										</tr>
										<tr>

											<td class="info">Ms. Word pour assistant comptable</td>

										</tr>

									</tbody>
								</table>

							</div>
						</div>

					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading14">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapseOne">

									MODULE 4 : Initiation à la gestion des ressources humaines

								</a>
							</h4>
						</div>
						<div id="collapse14" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading14">
							<div class="panel-body">
								<table class="table table-hover table-responsive">
									<thead>
										<tr>
											<th class="info text-center">Intitulé U. E
											</th>
											<th class="info text-center">Cours
											</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="info text-center" rowspan="5">
												Pratiques de GRH
											</td>
											<td class="info">Introduction à la GRH</td>

										</tr>
										<tr>

											<td class="info">Droit du travail et GRH : aspects pratiques</td>

										</tr>
										<tr>

											<td class="info">Techniques de recrutement
											</td>

										</tr>
										<tr>

											<td class="info">Eléments essentiels de la gestion d’un employé
											</td>

										</tr>
										<tr>

											<td class="info">Technique d’organisation des ateliers de formation</td>

										</tr>

										<tr>
											<td class="info text-center" rowspan="4">Initiation à la gestion informatisée des RH</td>
											<td class="info">Excel pour ressources humaines
											</td>

										</tr>
										<tr>

											<td class="info">Ms. Word pour ressources humaines</td>

										</tr>
										<tr>

											<td class="info">Plateformes en ligne utilisées par les techniciens GRH pour le suivi
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									                                        des déclarations sociales courantes (CNPS, IMPOTS, Fonction publique)</td>

										</tr>
										<tr>

											<td class="info">Logiciel SAGE Saari - gestion de la paie
											</td>

										</tr>

									</tbody>
								</table>

							</div>
						</div>

					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading15">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapseOne">

									MODULE 5 : Insertion professionnelle, ateliers et stages

								</a>
							</h4>
						</div>
						<div id="collapse15" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading15">
							<div class="panel-body">
								<table class="table table-hover table-responsive">
									<thead>
										<tr>
											<th class="info text-center">Intitulé U. E
											</th>
											<th class="info text-center">Cours
											</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="info text-center" rowspan="4">Insertion et vie professionnelles</td>
											<td class="info">Techniques de recherche d’emploi : Elaborer un CV efficace pour AD,
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									                                        dénicher des offres, réussir son entretien d’embauche</td>

										</tr>
										<tr>

											<td class="info">Droit du travail pour employé</td>

										</tr>
										<tr>

											<td class="info">Techniques d’auto-emploi pour Assistant administratif</td>

										</tr>
										<tr>

											<td class="info">Cours de langue (anglais pour francophone)</td>

										</tr>
										<tr>
											<td class="info text-center" rowspan="3">Ateliers pratiques / Mini stages
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									                                        Stage en entreprise
											</td>
											<td class="info">Réseautage professionnel</td>

										</tr>
										<tr>

											<td class="info">Stage en entreprise</td>

										</tr>
										<tr>

											<td class="info">Soutenance / Présentation du rapport de stage devant jury</td>

										</tr>

									</tbody>
								</table>

							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div id="myModal2" class="modal" style="overflow:auto">
			<div class="modal-content" id="img02" style="padding: 50px;background: #f7f5f2;">
				<div class="panel-group" id="accordion2" role="tablist">
					<div class="panel panel-default">
						<span class="close2" style="
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				                        font: bold 46px arial;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				                        background-color: #f10707;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				                        color: white;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				                        padding: 9px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				                        float: right;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				                        cursor: pointer;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				                    ">x</span>
						<div class="panel-heading" role="tab" id="heading21">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21">

									MODULE 1 : Initiation aux outils  de bureautique et du numérique

								</a>
							</h4>
						</div>
						<div id="collapse21" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading11">
							<div class="panel-body">

								<table class="table table-hover table-responsive">
									<thead>
										<tr>
											<th class="info text-center">Intitulé U. E
											</th>
											<th class="info text-center">Cours
											</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="info text-center" rowspan="7">Initiation à la bureautique</td>
											<td class="info">Introduction à la maintenance des équipements informatiques et bureautique
											</td>
										</tr>
										<tr>

											<td class="info">Environnement Windows</td>

										</tr>
										<tr>

											<td class="info">Ms. Word essential pour assistant administratif</td>

										</tr>
										<tr>

											<td class="info">Ms. Excel Essential pour assistant administratif</td>

										</tr>
										<tr>

											<td class="info">Introduction aux bases de données avec Ms. Access</td>

										</tr>
										<tr>

											<td class="info">Ms. Power point Essential pour assistant administratif</td>

										</tr>
										<tr>

											<td class="info">Ms. Publisher pour  assistant administratif</td>

										</tr>
										<tr>
											<td class="info text-center" rowspan="4">Initiation au digital</td>
											<td class="info">Initiation à l’Internet pour  assistant administratif</td>

										</tr>
										<tr>

											<td class="info">Mise à jour des informations d’un site internet développé avec un CMS (Wordpress ou Joomla)t</td>

										</tr>
										<tr>

											<td class="info">Introduction aux médias sociaux : Facebook 1&2</td>

										</tr>
										<tr>

											<td class="info">Création et mise à jour de blog
											</td>

										</tr>

									</tbody>
								</table>
							</div>
						</div>


						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading22">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse22" aria-expanded="false" aria-controls="collapse2">

										MODULE 2 : Culture générale du web et maitrise des Médias sociaux

									</a>
								</h4>
							</div>
							<div id="collapse22" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading22">
								<div class="panel-body">
									<table class="table table-hover table-responsive">
										<thead>
											<tr>
												<th class="info text-center">Intitulé U. E
												</th>
												<th class="info text-center">Cours
												</th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="info text-center" rowspan="2">Culture générale du web</td>
												<td class="info">Le vocabulaire du web
												</td>

											</tr>
											<tr>

												<td class="info">Droit et medias sociaux</td>

											</tr>
											<tr>
												<td class="info text-center" rowspan="5">Maitrise des Médias sociaux</td>
												<td class="info">Facebook 1, 2, et 3</td>

											</tr>
											<tr>

												<td class="info">Twitter 1, 2, et 3</td>

											</tr>
											<tr>

												<td class="info">Youtube 1 et 2</td>

											</tr>
											<tr>

												<td class="info">Whatsapp business/Telegram</td>

											</tr>


										</tbody>
									</table>

								</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading23">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse23" aria-expanded="false" aria-controls="collapse2">

										MODULE 3 : Visibilité et positionnement de l’entreprise sur internet

									</a>
								</h4>
							</div>
							<div id="collapse23" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading23">
								<div class="panel-body">
									<table class="table table-hover table-responsive">
										<thead>
											<tr>
												<th class="info text-center">Intitulé U. E
												</th>
												<th class="info text-center">Cours
												</th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="info text-center" rowspan="5">Référencement web</td>
												<td class="info">Référencement SEO naturel des sites internet</td>

											</tr>
											<tr>

												<td class="info">Référencement  naturel des réseaux sociaux</td>

											</tr>
											<tr>

												<td class="info">Référencement payant  des sites internet : Google Ads/sites d’annonces</td>

											</tr>
											<tr>

												<td class="info">Référencement  payant  des réseaux sociaux : pubs</td>

											</tr>
											<tr>

												<td class="info">Le référencement par les influenceurs et les sites d’annonces</td>

											</tr>
											<tr>
												<td class="info text-center" rowspan="2">Rédaction web</td>
												<td class="info">Rédaction web pour référencement des sites</td>

											</tr>
											<tr>

												<td class="info">Rédaction web pour référencement des réseaux sociaux</td>


											</tr>

										</tbody>
									</table>

								</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading24">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse24" aria-expanded="false" aria-controls="collapse2">

										MODULE 4 : Gestion d’une communauté en ligne et de webmarketing

									</a>
								</h4>
							</div>
							<div id="collapse24" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading24">
								<div class="panel-body">
									<table class="table table-hover table-responsive">
										<thead>
											<tr>
												<th class="info text-center">Intitulé U. E
												</th>
												<th class="info text-center">Cours
												</th>

											</tr>
										</thead>
										<tbody>

											<tr>

												<td class="info">Techniques de fidélisation et d’animation des internautes</td>

											</tr>
											<tr>
												<td class="info text-center" rowspan="2">
													Initiation au webmarketing
												</td>
												<td class="info">Initiation à la vente en ligne</td>

											</tr>
											<tr>

												<td class="info">Initiation au Picture Marketing</td>

											</tr>


										</tbody>
									</table>

								</div>
							</div>

						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading25">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse25" aria-expanded="false" aria-controls="collapse2">

										MODULE 5 : Management pour Community manager

									</a>
								</h4>
							</div>
							<div id="collapse25" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading25">
								<div class="panel-body">
									<table class="table table-hover table-responsive">
										<thead>
											<tr>
												<th class="info text-center">Intitulé U. E
												</th>
												<th class="info text-center">Cours
												</th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="info text-center" rowspan="3">Organisation du travail du Community manager
												</td>
												<td class="info">Outils de publication et de planification des posts : Hoosuite</td>

											</tr>
											<tr>

												<td class="info">Plan d’action du CM</td>

											</tr>
											<tr>

												<td class="info">Gestion professionnelle des accès et Sécurité des données de l’entreprise</td>

											</tr>

											<tr>
												<td class="info text-center" rowspan="3">Outils de mesure des actions et reporting pour CM</td>
												<td class="info">Elaborer un rapport de campagne sur la base d’Indicateurs et mesure des actions du CM</td>

											</tr>
											<tr>

												<td class="info">Elaborer un rapport de veille et curation</td>

											</tr>
											<tr>

												<td class="info">Outils de mesure des actions en ligne</td>

											</tr>
										</tbody>
									</table>

								</div>
							</div>

						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading26">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapse26">

										MODULE 6 : Insertion professionnelle, ateliers et stages

									</a>
								</h4>
							</div>
							<div id="collapse26" class="panel-collapse collapse" role="tabpanel" style="height:0px;" aria-labelledby="heading15">
								<div class="panel-body">
									<table class="table table-hover table-responsive">
										<thead>
											<tr>
												<th class="info text-center">Intitulé U. E
												</th>
												<th class="info text-center">Cours
												</th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="info text-center" rowspan="4">Insertion et vie professionnelles</td>
												<td class="info">Techniques de recherche d’emploi : Elaborer un CV efficace pour CM,
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                                            dénicher des offres, réussir son entretien d’embauche</td>

											</tr>
											<tr>

												<td class="info">Droit du travail pour employé</td>

											</tr>
											<tr>

												<td class="info">Techniques d’auto-emploi pour CM</td>

											</tr>
											<tr>

												<td class="info">Cours de langue (anglais pour francophone)</td>

											</tr>
											<tr>
												<td class="info text-center" rowspan="3">Ateliers pratiques / Mini stages
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                                            Stage en entreprise
												</td>
												<td class="info">Réseautage professionnel</td>

											</tr>
											<tr>

												<td class="info">Stage en entreprise</td>

											</tr>
											<tr>

												<td class="info">Soutenance / Présentation du rapport de stage devant jury</td>

											</tr>

										</tbody>
									</table>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		{% block javascripts %}
			<script>
				// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('programme-formations');
var modalImg = document.getElementById("img01");

img.onclick = function () {
modal.style.display = "block";
modalImg.src = this.src;
};
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function () {
modal.style.display = "none";
};

var modal2 = document.getElementById('myModal2');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img2 = document.getElementById('programme-formations-2');
var modalImg2 = document.getElementById("img02");

img2.onclick = function () {
modal2.style.display = "block";
modalImg2.src = this.src;
};
// Get the <span> element that closes the modal
var span2 = document.getElementsByClassName("close2")[0];
// When the user clicks on <span> (x), close the modal
span2.onclick = function () {
modal2.style.display = "none";
};

document.querySelector("#form-contact").addEventListener("submit", function (e) {
var v = document.getElementById('form-contact').getAttribute("data-recaptcha-valid");
if (! v) {
e.preventDefault();
alert("Veuillez valider le recaptcha");
}
});
			</script>
			<!-- JavaScript Libraries -->
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
			<script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
			<script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
			<script src="{{asset('site/lib/isotope/isotope.pkgd.min.js')}}"></script>
			<script src="{{asset('assets/js/FeedEk.js') }}" type="application/javascript"></script>

			<!-- Template Javascript -->
			<script src="{{asset('site/js/main.js')}}"></script>
			<script src="{{ asset('assets/js/library/sweetalert.min.js')}}"></script>
			<script src="{{ asset('assets/js/notifs/lobibox.min.js') }}"></script>
			<script src="{{asset('assets/js/notifs/notifications.min.js')}}"></script>
		{% endblock %}
	</body>
</html>
