{% extends 'mail/admin/mailTemplate.html.twig' %}
{% block body %}
	<b>Bonjour,</b>
	<br><br>
		Un nouveau message viens d'être envoyé.
	<br>	
	Ci joint les informations saisies :
	<br>
	<table border="0" style="border-collapse: collapse;">
		<tr>
			<td><b>Nom</b></td>
			<td>{{ nom }}</td>
		</tr>
		<tr>
			<td><b>Email</b></td>
			<td>{{ email }}</td>
		</tr>
		<tr>
			<td><b>Objet</b></td>
			<td>{{ objet }}</td>
		</tr>
		<tr>
			<td><b>Message</b></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="2">{{ message }}</td>
		</tr>
	</table>
	<br>
{% endblock body %}
