{% extends 'mail/mailTemplate.html.twig' %}
{% block body %}
    <b>Bonjour
        {{ user.nomPrenom | upper }},
    </b>
    <br><br>
    Vous venez juste de soumettre votre candidature chez CECOSDAFormation. Nous vous remerçions pour l'intérêt.
    <br>
    Ci joint vos informations saisies :
    <br>
    <table border="0" style="border-collapse: collapse;">
        <tr>
            <td><b>Nom et Prénom</b></td>
            <td>{{ user.nomPrenom }}</td>
        </tr>
        <tr>
            <td><b>Téléphone</b></td>
            <td>{{ user.telephone }}</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><b>Sexe</b></td>
            <td>{{ user.sexe }}</td>
        </tr>
        <tr>
            <td><b>Personne à contacter</b></td>
            <td>{{ user.personContact }}</td>
        </tr>
        <tr>
            <td><b>Pays</b></td>
            <td>{{ user.pays }}</td>
        </tr>
        <tr>
            <td><b>Ville</b></td>
            <td>{{ user.ville }}</td>
        </tr>
        <tr>
            <td><b>Type de cour</b></td>
            <td>{{ user.type }}</td>
        </tr>
         <tr>
            <td><b>Filière</b></td>
            <td>{{ user.filiere.libelle }}</td>
        </tr>
        <tr>
            <td><b>J'ai au minimun BAC+2</b></td>
            <td>
                {% if user.minBacPlus2 %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><b>Dernier diplôme</b></td>
            <td><a target="_blank" href="http://cecosdaformation.com/web/{{ user.dernierDiplome }}">Voir</a></td>
        </tr>
        <tr>
            <td><b>Lettre de Motivation</b></td>
            <td><a target="_blank" href="http://cecosdaformation.com/web/{{ user.motivation }}">Voir</a></td>
        </tr>
        <tr>
            <td><b>CV</b></td>
            <td><a target="_blank" href="http://cecosdaformation.com/web/{{ user.cv }}">Voir</a></td>
        </tr>
    </table>
    <br>
{% endblock body %}
