{% extends 'home.html.twig' %}

{% block caroussel %}
{% endblock caroussel %}


{% block contenu %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2> {% trans into app.request.locale %}Modalités d'admission au CQP Assistant administratif bilingue{% endtrans %} </h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
        <a data-toggle="collapse" data-target="#enligne" class="btn btn-default btn-round btn-block waves-effect waves-light title" 
            style="color: #FFF; background-color: #153aaa;"> 
                {% trans into app.request.locale %}Formation en ligne{% endtrans %} <i class="fa fa-chevron-down"></i>
            </a>
            <div id="enligne" class="container collapse">
            	<h5>{% trans into app.request.locale %}Tout candidat souhaitant se former au CQP en assistant administratif bilingue en présentiel chez cecosdaformation doit {% endtrans %} :</h5>
            	<ol>
            		<li>{% trans into app.request.locale %}Savoir parler couramment l’anglais ou le français{% endtrans %} .
            		</li>
            		<li>{% trans into app.request.locale %}Avoir un numéro WhatSapp fonctionnel{% endtrans %} .</li>
            		<li>{% trans into app.request.locale %}Etre disponible pour assister au cours en présentiel au moins trois fois par semaine{% endtrans %} .</li>
            		<li>{% trans into app.request.locale %}Avoir un ordinateur à sa disposition (Optionnel){% endtrans %} 
            		</li>
            		<li>{% trans into app.request.locale %}Avoir une adresse email fonctionnelle{% endtrans %} 
            		</li>
            		<li>{% trans into app.request.locale %}Déposer un dossier d’inscription physique au service académique du centre composé de{% endtrans %} </li>
            		<ul>
            			<li>{% trans into app.request.locale %}Photocopie du dernier diplôme{% endtrans %} ,
            			</li>
            			<li>{% trans into app.request.locale %}Photocopie de la carte nationale d’identité{% endtrans %} ,
            			</li>
            			<li>{% trans into app.request.locale %}02 demi-cartes photos{% endtrans %} ,</li>
            			<li>{% trans into app.request.locale %}Photocopie reçu de paiement de frais d’inscription de 25.000XAF{% endtrans %} ,</li>
            
            		</ul>
            		<li>{% trans into app.request.locale %}Etre capable de payer les frais de formation fixes à 375000XAF verses en trois tranches au plus{% endtrans %} </li>
            	</ol>
            <a href="{{path('formations_assistanat')}}">{% trans into app.request.locale %}En savoir plus sur les formations CQP{% endtrans %} </a>
            </div>

        <a data-toggle="collapse" data-target="#enpresentiel" class="btn btn-default btn-round btn-block waves-effect waves-light title" 
            style="color: #FFF; background-color: #153aaa; margin-top: 10px"> 
                {% trans into app.request.locale %}Formation en presentiel{% endtrans %} <i class="fa fa-chevron-down"></i>
            </a>
            <div id="enpresentiel" class="container collapse" style="margin-top:10px">
            	<h5>{% trans into app.request.locale %}Tout candidat souhaitant se former au CQP en assistant administratif bilingue en ligne chez cecosdaformation doit{% endtrans %}  :</h5>
            	<ol>
            		<li>{% trans into app.request.locale %}Savoir parler couramment l’anglais ou le français{% endtrans %} .
            		</li>
            		<li>{% trans into app.request.locale %}Avoir un numéro WhatSapp fonctionnel{% endtrans %} .</li>
            		<li>{% trans into app.request.locale %}Avoir une connexion internet avec un bon débit{% endtrans %} 
            		</li>
            		<li>{% trans into app.request.locale %}Etre disponible{% endtrans %} 
            			<u>{% trans into app.request.locale %}à se connecter au cours en ligne au moins 02 jours par semaine{% endtrans %} </u>.</li>
            		<li>{% trans into app.request.locale %}Avoir un ordinateur{% endtrans %} 
            			<u>{% trans into app.request.locale %}obligatoirement un PC ou laptop à sa disposition{% endtrans %} </u>
            		</li>
            		<li>{% trans into app.request.locale %}Avoir une adresse email fonctionnelle{% endtrans %} 
            		</li>
            		<li>{% trans into app.request.locale %}Déposer un dossier d’inscription physique au service académique du centre composé de{% endtrans %} </li>
            		<ul>
            			<li>{% trans into app.request.locale %}Photocopie du dernier diplôme{% endtrans %} ,
            			</li>
            			<li>{% trans into app.request.locale %}Photocopie de la carte nationale d’identité{% endtrans %} ,
            			</li>
            			<li>{% trans into app.request.locale %}02 demi-cartes photos{% endtrans %} ,</li>
            			<li>{% trans into app.request.locale %}Photocopie reçu de paiement de frais d’inscription de 25.000XAF{% endtrans %} ,</li>
            
            		</ul>
            		<li>{% trans into app.request.locale %}Etre capable de payer les frais de formation fixes à 375000XAF verses en trois tranches au plus{% endtrans %} </li>
            	</ol>
            	  <a href="{{path('formations_prepa')}}">{% trans into app.request.locale %}En savoir plus sur les formations CQP{% endtrans %} </a>
            
            </div>

        </div>
    </div>
{% endblock %}
{% block formation %}{% endblock %}
{% block reste %}{% endblock %}