{% extends 'home.html.twig' %}

{% block caroussel %}
{% endblock caroussel %}


{% block contenu %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2> {% trans into app.request.locale %}Modalites d'admission au programme samedi informatique{% endtrans %} </h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
             <a data-toggle="collapse" data-target="#eveil" class="btn btn-default btn-round btn-block waves-effect waves-light title" 
            style="color: #FFF; background-color: #153aaa; margin-bottom:10px"> 
                {% trans into app.request.locale %}Eveil informatique{% endtrans %} {% trans into app.request.locale %}pour les 05 a 07 ans{% endtrans %} <i class="fa fa-chevron-down"></i>
            </a>
       <div id="eveil" class="container collapse">
        <h5>{% trans into app.request.locale %}Tout parent souhaitant inscrire son enfant au cours d’éveil informatique chez CECOSDAFormation doit{% endtrans %} :</h5>
        <ol>
        	<li>{% trans into app.request.locale %}Se rassurer que l’âge de son enfant est situé  entre  05 à 07  ans révolu{% endtrans %}.</li>
        	<li>{% trans into app.request.locale %}Payer les frais de formation fixés à 10000 XAF/mois  et remplir le formulaire d’inscription{% endtrans %}.</li>
        	<li>{% trans into app.request.locale %}Savoir parler couramment l’anglais ou le français{% endtrans %}.</li>
        	<li>{% trans into app.request.locale %}Déposer ou envoyer un dossier d’inscription au service académique composé de{% endtrans %} :</li>
        	<ul>
        		<li>{% trans into app.request.locale %}Photocopie de l’acte de naissance de l’enfant ou un certificat de scolarité{% endtrans %}
        		</li>
        		<li>{% trans into app.request.locale %}Deux photos 4*4{% endtrans %},</li>
        		<li>{% trans into app.request.locale %}Photocopie reçu de paiement de frais de formation mensuel de 10.000XAF{% endtrans %}</li>
        	</ul>
        </ol>

       </div>
             <a data-toggle="collapse" data-target="#creativite" class="btn btn-default btn-round btn-block waves-effect waves-light title" 
            style="color: #FFF; background-color: #153aaa; margin-bottom:10px"> 
                {% trans into app.request.locale %}Créativité informatique{% endtrans %} {% trans into app.request.locale %}pour les 08 a 10 ans{% endtrans %} <i class="fa fa-chevron-down"></i>
            </a>
       <div id="creativite" class="container collapse">
        <h5>{% trans into app.request.locale %}Tout parent souhaitant inscrire son enfant au cours de créativité informatique chez CECOSDAFormation doit{% endtrans %} :</h5>
        <ol>
        	<li>{% trans into app.request.locale %}Se rassurer que l’âge de son enfant est situé  entre  08 à 10  ans révolu{% endtrans %}.</li>
        	<li>{% trans into app.request.locale %}Payer les frais de formation fixés à 10000 XAF/mois  et remplir le formulaire d’inscription{% endtrans %}.</li>
        	<li>{% trans into app.request.locale %}Savoir parler couramment l’anglais ou le français{% endtrans %}.</li>
        	<li>{% trans into app.request.locale %}Déposer ou envoyer un dossier d’inscription au service académique composé de{% endtrans %} :</li>
        	<ul>
        		<li>{% trans into app.request.locale %}Photocopie de l’acte de naissance de l’enfant ou un certificat de scolarité{% endtrans %}
        		</li>
        		<li>{% trans into app.request.locale %}Deux photos 4*4{% endtrans %},</li>
        		<li>{% trans into app.request.locale %}Photocopie reçu de paiement de frais de formation mensuel de 10.000XAF{% endtrans %}</li>
        	</ul>
        </ol>
       </div>
             <a data-toggle="collapse" data-target="#applique" class="btn btn-default btn-round btn-block waves-effect waves-light title" 
            style="color: #FFF; background-color: #153aaa; margin-bottom:10px"> 
                {% trans into app.request.locale %}Créativité appliquée{% endtrans %} {% trans into app.request.locale %}pour les 11 a 13 ans{% endtrans %} <i class="fa fa-chevron-down"></i>
            </a>
       <div id="applique" class="container collapse">
       <h5>{% trans into app.request.locale %}Tout parent souhaitant inscrire son enfant au cours de Créativité appliquée chez CECOSDAFormation doit{% endtrans %} :</h5>
        <ol>
        	<li>{% trans into app.request.locale %}Se rassurer que l’âge de son enfant est situé  entre  11 à 13  ans révolu{% endtrans %}.</li>
        	<li>{% trans into app.request.locale %}Payer les frais de formation fixés à 10000 XAF/mois  et remplir le formulaire d’inscription{% endtrans %}.</li>
        	<li>{% trans into app.request.locale %}Savoir parler couramment l’anglais ou le français{% endtrans %}.</li>
        	<li>{% trans into app.request.locale %}Déposer ou envoyer un dossier d’inscription au service académique composé de{% endtrans %} :</li>
        	<ul>
        		<li>{% trans into app.request.locale %}Photocopie de l’acte de naissance de l’enfant ou un certificat de scolarité{% endtrans %}
        		</li>
        		<li>{% trans into app.request.locale %}Deux photos 4*4{% endtrans %},</li>
        		<li>{% trans into app.request.locale %}Photocopie reçu de paiement de frais de formation mensuel de 10.000XAF{% endtrans %}</li>
        	</ul>
        </ol>
       </div>
             <a data-toggle="collapse" data-target="#specialise" class="btn btn-default btn-round btn-block waves-effect waves-light title" 
            style="color: #FFF; background-color: #153aaa; margin-bottom:10px"> 
                {% trans into app.request.locale %}Informatique spécialisé{% endtrans %} {% trans into app.request.locale %}pour les 14 ans et plus{% endtrans %} <i class="fa fa-chevron-down"></i>
            </a>
       <div id="specialise" class="container collapse">
       <h5>{% trans into app.request.locale %}Pour les eleves{% endtrans %}:</h5>
        <ol>
        	<li>{% trans into app.request.locale %}Avoir 14 ans révolu ou plus{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Payer les frais de formation fixés à 10000 XAF/mois  et remplir le formulaire d’inscription{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Savoir parler couramment l’anglais ou le français{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Déposer ou envoyer un dossier d’inscription au service académique composé de{% endtrans %} :</li>
        	<ul>
        		<li>{% trans into app.request.locale %}Photocopie de l’acte de naissance de l’enfant ou un certificat de scolarité{% endtrans %}
        		</li>
        		<li>{% trans into app.request.locale %}Deux photos 4*4{% endtrans %}</li>
        		<li>{% trans into app.request.locale %}Photocopie reçu de paiement de frais de formation mensuel de 10.000XAF{% endtrans %}</li>
        	</ul>
        </ol>
        
        <h5>{% trans into app.request.locale %}Pour les etudiants{% endtrans %}:</h5>
        <ol>
        	
        	<li>{% trans into app.request.locale %}Payer les frais de formation fixés à 15.000 XAF/mois  et remplir le formulaire d’inscription{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Savoir parler couramment l’anglais ou le français{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Avoir une adresse Email fonctionnelle{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Déposer ou envoyer un dossier d’inscription au service académique composé de{% endtrans %} :</li>
        	<ul>
        		<li>{% trans into app.request.locale %}Photocopie de l’acte de naissance de l’enfant ou un certificat de scolarité{% endtrans %}
        		</li>
        		<li>{% trans into app.request.locale %}Deux photos 4*4{% endtrans %}</li>
        		<li>{% trans into app.request.locale %}Photocopie reçu de paiement de frais de formation mensuel de 15.000XAF{% endtrans %}</li>
        	</ul>
        </ol>
       </div>
             <a data-toggle="collapse" data-target="#adulte" class="btn btn-default btn-round btn-block waves-effect waves-light title" 
            style="color: #FFF; background-color: #153aaa; margin-bottom:10px"> 
                {% trans into app.request.locale %}Atelier informatique{% endtrans %} {% trans into app.request.locale %}pour les adultes{% endtrans %} <i class="fa fa-chevron-down"></i>
            </a>
       <div id="adulte" class="container collapse">
        <h5>{% trans into app.request.locale %}Modalites d'admission pour adulte{% endtrans %}</h5>
        <ol>
        	
        	<li>{% trans into app.request.locale %}Payer les frais de formation fixés à 20.000 XAF/mois  et remplir le formulaire d’inscription{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Savoir parler couramment l’anglais ou le français{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Avoir une adresse Email fonctionnelle{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Avoir un numero WhatSapp fonctionnel{% endtrans %}</li>
        	<li>{% trans into app.request.locale %}Déposer ou envoyer un dossier d’inscription au service académique composé de{% endtrans %} :</li>
        	<ul>
        		<li>{% trans into app.request.locale %}Photocopie de l’acte de naissance de l’enfant ou un certificat de scolarité{% endtrans %}
        		</li>
        		<li>{% trans into app.request.locale %}Deux photos 4*4{% endtrans %}</li>
        		<li>{% trans into app.request.locale %}Photocopie reçu de paiement de frais de formation mensuel de 20.000XAF{% endtrans %}</li>
        	</ul>
        </ol>
       </div>
        </div>
    </div>
{% endblock %}
{% block formation %}{% endblock %}
{% block reste %}{% endblock %}