{% extends 'home.html.twig' %}
{% block caroussel %}
{% endblock caroussel %}


{% block contenu %} 

  
        
    <div class="page-header">
        <div class="row">
            <div class="container">
                <div class="col-12">
                    <h2>{{ article.titre }}</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="container" id="divRss">
       
                <div class="row">
                    
                    <div class="col-md-12">
                    {{ article.contenu|raw }}
                    </a>
  
                    <h6>{{ article.datepublication|date('d-m-Y') }}</h6>
                   
                </div>
  
    </div>



{% endblock %}
{% block formation %}

{% endblock %}
{% block reste %}

{% endblock %}
      {% block javascripts %}


          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
          <script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
          <script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
          <script src="{{asset('site/lib/isotope/isotope.pkgd.min.js')}}"></script>
          <script src="{{asset('assets/js/FeedEk.js') }}" type="application/javascript"></script>

          <!-- Template Javascript -->

              <script type="text/javascript">

              $('.nav-link.active').removeClass('active');
              $('.formationblog').addClass('active');

          </script>
      {% endblock %}
