{% extends 'home.html.twig' %}
{% block metadescription %}
    <meta content="formations moins chères, niveaux flexibles, développement informatique, Montage vidéo, infographie, Marketing digital, Bureautique, cours de françcais, cours d'anglais, Comptabilité, Rh, Gestion " name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}

        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Nos Ateliers de formation</h2>
                        <h5>Une compétence à chaque session de cours - paiement flexible - à partir de 3000 XAF</h5>
                        <p class="text-justify">

                            Des formations à la carte, pratiques, et adaptées aux emplois du temps dans les domaines suivants : marketing digital, logiciel de montage video, logiciel d’infographie, développement informatique, bureautique, Comptabilité, gestion des projets avec préparation au PMP, cours de langues anglais et français.
                        </p>
                        <p class="text-justify">
                            <h5>Pour qui ?</h5>
                             Les travailleurs, les entrepreneurs déjà la recherche de compétences supplémentaires ou qui souhaitent former leurs personnels.
                        </p>
                        <p><h5>Où et quand ? </h5>

                            En ligne et en salle à Yaoundé, Montée Jouvence
                            Tous les jours  – cours du jour et du soir
                            8h- 11h,  16-19h
                            avec Certificat de fin de formation

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

    <!-- Single Page Start -->
    <div class="single">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 style="color: #153aaa;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;">Ateliers programmés</h2>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">

                                <div class="caption">
                                    <h5>Informatique</h5>
                                </div>

                            </div>

                        </div>
                     {#   <div class="col-md-12">
                            Apprenez les langages de développement web, les frameworks ou IDE, et le Cloud
                        </div>#}
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Formation</th>
                                            <td><a href="http://atelier.cecosdaformation.com/atelier-58-detail?nom=Initiation%20au%20code">Initiation au code</a></td>
                                            <td><a href="http://atelier.cecosdaformation.com/atelier-59-detail?nom=Symfony">Symfony</a></td>
                                            <td><a href="http://atelier.cecosdaformation.com/atelier-60-detail?nom=Initiation%20au%20Cloud">Initiation au Cloud</a> </td>
                                        </tr>
                                        <tr>
                                            <th>Durée totale</th>
                                            <td>12h</td>
                                            <td>12h</td>
                                            <td>15h</td>
                                        </tr>
                                        <tr>
                                            <th>Nombre de session</th>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>5</td>
                                        </tr>
                                    </thead>
                            </table>

                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">

                                <a class="btn btn-primary animated fadeInRight" href="http://atelier.cecosdaformation.com/">Je souscris</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Montage vidéo</h5>
                                </div>

                            </div>

                        </div>
                    {#    <div class="col-md-12">
                            <p>Faire les  montages vidéos avec sur téléphone et ordinateur avec CAPCUT, CANVA, PREMIER PRO </p>
                        </div>#}
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Formation</th>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-46-detail?nom=Faire%20les%20montages%20vid%C3%A9os%20avec%20son%20t%C3%A9l%C3%A9phone%20%28CAPCUT%29">
                                            CAPCUT sur smartphone</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-48-detail?nom=Faire%20les%20montages%20vid%C3%A9os%20avec%20son%20ordinateur%20%28CANVA%29">
                                            CANVA sur PC</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-47-detail?nom=Faire%20les%20montages%20vid%C3%A9os%20avec%20son%20t%C3%A9l%C3%A9phone%20%28CANVA%29">
                                            CANVA sur Smartphone</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-49-detail?nom=Faire%20les%20montages%20vid%C3%A9os%20avec%20son%20ordinateur%20%28PREMIER%20PRO%29">

                                            PREMIER PRO</a> </td>
                                </tr>
                                <tr>
                                    <th>Durée totale</th>
                                    <td>12h</td>
                                    <td>12h</td>
                                    <td>12h</td>
                                    <td>30h</td>
                                </tr>
                                <tr>
                                    <th>Nombre de session</th>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>10</td>
                                </tr>
                                </thead>
                            </table>

                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a class="btn btn-primary animated fadeInRight" href="http://atelier.cecosdaformation.com/">Je souscris</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Infographie</h5>
                                </div>

                            </div>

                        </div>
                      {#  <div class="col-md-12">
                            <p>Faire des images - supports de communication avec CANVA et Photoshop
                            </p>
                        </div>#}
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Formation</th>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-50-detail?nom=Faire%20des%20images%20avec%20CANVA">CANVA</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-51-detail?nom=Faire%20des%20images%20avec%20Photoshop">Photoshop</a></td>
                                </tr>
                                <tr>
                                    <th>Durée totale</th>
                                    <td>9h</td>
                                    <td>12h</td>
                                </tr>
                                <tr>
                                    <th>Nombre de session</th>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                                </thead>
                            </table>

                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">

                                <a class="btn btn-primary animated fadeInRight" href="http://atelier.cecosdaformation.com/">Je souscris</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Marketing digital</h5>
                                </div>

                            </div>

                        </div>
                   {#     <div class="col-md-12">
                            <p>Faire son marketing en ligne avec via les réseaux Facebook, Instagram, Youtube, Whatsapp business, Google Ads
                               une newsletter pour envoi de mails

                            </p>Facebook
                        </div>#}
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Formation</th>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-52-detail?nom=Facebook">Facebook</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-53-detail?nom=Instagram">Instagram</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-54-detail?nom=Youtube">Youtube</a> </td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-55-detail?nom=Whatsapp%20business">Whatsapp business</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-56-detail?nom=Google%20Ads">Google Ads</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-57-detail?nom=Faire%20une%20newsletter%20pour%20envoi%20par%20email">
                                            Newsletters</a></td>
                                </tr>
                                <tr>
                                    <th>Durée totale</th>
                                    <td>12h</td>
                                    <td>12h</td>
                                    <td>15h</td>
                                    <td>12h</td>
                                    <td>12h</td>
                                    <td>12h</td>
                                </tr>
                                <tr>
                                    <th>Nombre de session</th>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>4</td>
                                </tr>
                                </thead>
                            </table>

                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a class="btn btn-primary animated fadeInRight" href="http://atelier.cecosdaformation.com/">Je souscris</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Comptabilité, RH et gestion</h5>
                                </div>

                            </div>

                        </div>
                 {#       <div class="col-md-12">
                            <p>
                            </p>
                        </div>#}
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Formation</th>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-61-detail?nom=Faire%20un%20bilan">Faire un bilan</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-62-detail?nom=Excel%20pour%20comptable">Excel pour comptable</a></td>
                                    <td>Excel pour RH</td>
                                </tr>
                                <tr>
                                    <th>Durée totale</th>
                                    <td>12h</td>
                                    <td>12h</td>
                                    <td>15h</td>
                                </tr>
                                <tr>
                                    <th>Nombre de session</th>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>5</td>
                                </tr>
                                </thead>
                            </table>

                        </div>
                        <div class="col-md-12">
                            <div class="text-center" style="margin-bottom:10px">
                                <a class="btn btn-primary animated fadeInRight" href="http://atelier.cecosdaformation.com/">Je souscris</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Bureautique</h5>
                                </div>

                            </div>

                        </div>
                {#        <div class="col-md-12">
                            <p>
                            </p>
                        </div>#}
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Formation</th>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-64-detail?nom=Ms%20Excel">Excel</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-65-detail?nom=Ms%20Word">Word</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-66-detail?nom=Ms%20Access">Access</a></td>
                                </tr>
                                <tr>
                                    <th>Durée totale</th>
                                    <td>12h</td>
                                    <td>12h</td>
                                    <td>15h</td>
                                </tr>
                                <tr>
                                    <th>Nombre de session</th>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>5</td>
                                </tr>
                                </thead>
                            </table>

                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a class="btn btn-primary animated fadeInRight" href="http://atelier.cecosdaformation.com/">Je souscris</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Cours d'anglais</h5>
                                </div>

                            </div>

                        </div>
                 {#       <div class="col-md-12">
                            <p>
                            </p>
                        </div>#}
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th rowspan="2">Formation</th>
                                    <th colspan="7" class="text-center">Niveaux</th>
                                </tr>
                                <tr>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-67-detail?nom=Niveau%20A0">A0</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-68-detail?nom=Niveau%20A1">A1</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-69-detail?nom=Niveau%20A2">A2</a> </td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-70-detail?nom=Niveau%20B1">B1</a></td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-71-detail?nom=Niveau%20B2">B2</a> </td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-72-detail?nom=Niveau%20C1">C1</a> </td>
                                    <td><a href="http://atelier.cecosdaformation.com/atelier-73-detail?nom=Niveau%20C2">C2</a> </td>
                                </tr>
                                <tr>
                                    <th>Durée totale</th>
                                    <td>21h</td>
                                    <td>21h</td>
                                    <td>24h</td>
                                    <td>21h</td>
                                    <td>21h</td>
                                    <td>21h</td>
                                    <td>21h</td>
                                </tr>
                                <tr>

                                    <th>Nombre de session</th>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>7</td>
                                </tr>
                                </thead>
                            </table>

                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a class="btn btn-primary animated fadeInRight" href="http://atelier.cecosdaformation.com/">Je souscris</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Cours de Français</h5>
                                </div>
                               </div>

                        </div>
              {#          <div class="col-md-12">
                            <p>
                            </p>
                        </div>#}
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th rowspan="2">Formation</th>
                                    <th colspan="7" class="text-center">Niveau</th>
                                </tr>
                                <tr>
                                    <td>A0</td>
                                    <td>A1</td>
                                    <td>A2</td>
                                    <td>B1</td>
                                    <td>B2</td>
                                    <td>C1</td>
                                    <td>C2</td>
                                </tr>
                                <tr>
                                    <th>Durée totale</th>
                                    <td>21h</td>
                                    <td>21h</td>
                                    <td>24h</td>
                                    <td>21h</td>
                                    <td>21h</td>
                                    <td>21h</td>
                                    <td>21h</td>
                                </tr>
                                <tr>
                                    <th>Nombre de session</th>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>7</td>
                                </tr>
                                </thead>
                            </table>

                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">

                                <a class="btn btn-primary animated fadeInRight" href="http://atelier.cecosdaformation.com/">Je souscris</a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- single page end -->

 <div class="container">
     <div class="row">
         <div class="col-md-12 text-center">
             <h2>Vous souhaitez une formation taillée sur mesure ?</h2>
         </div>
         <div class="col-md-12 text-center">
             <h5><a href="https://wa.me/237677325343">Cliquez ici pour nous contactez directement</a></h5>
         </div>


     </div>
 </div>



    <div class="single single-2">
        <div class="col-md-12">
            <table class="table table-hover table-bordered table-custum ">
                <tbody class="">
                <tr>
                    <td class="info">Attestation
                    </td>
                    <td class="info">Après <b>10 sessions de formations</b> </td>
                </tr>
                <tr>
                    <td class="info">Nos sessions de cours</td>
                    <td class="info">Tous les jours de la semaine</td>
                </tr>
                <tr>
                    <td class="info">Moyen de paiement</td>
                    <td class="info">Orange Money, Mobile Money, Virement bancaire ou dépôt bancaire</td>
                </tr>
                <tr>
                    <td class="info">Dossier d’inscription (à la première participation uniquement)
                    </td>
                    <td class="info">
                        <ul>
                            <li>2 cartes photo 4*4</li>
                            <li>1 copie de la carte d’identité nationale</li>
                            <li>1 copie du dernier diplôme</li>
                            <li>Les reçus de paiement des frais de session</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

    {% block formation %}
        <!-- Formation Debut -->
        <div class="service">
            <div class="container">
                <div class="section-header animated fadeInLeft">
                    <h2 class="about-title">Toutes nos formations</h2>
                </div>
                <div class="row animated fadeInRight">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <img class="img-form" src="{{asset('site/img/visite/Diplôme-CQP-pour-Community-manager.jpg')}}" alt="Diplôme-CQP-pour-Community-manager">
                            </div>
                            <div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
                                <h3>Diplôme CQP pour Community manager</h3>
                                <div>


                                </div>
                            </div>

                            <p
                                    class="d-none"><!--  Compétence aujourd'hui très prisée par les recruteurs, avant la fin de la formation la plus part des apprenants sont déjà coptés par les entreprises. Vous Maitriserez les sites internets, réseaux sociaux, l'infographie, montage video. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <img class="img-form" src="{{asset('site/img/formation/Diplôme-CQP-pour-assistants-administratifs.jpg')}}" alt="Diplôme-CQP-pour-assistants-administratifs">
                            </div>
                            <div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
                                <h3>Diplôme CQP pour assistants administratifs</h3>
                                <div>
                                    <a class="btn btn-form-left animated fadeInLeft" id="programme-formations">Voir le programme</a>
                                    <a class="btn btn-form-right animated fadeInRight" href="{{path('inscription')}}">S'inscrire</a>
                                </div>
                            </div>
                            <p
                                    class="d-none"><!-- Devenez des admins polyvalents. Avec une maitrise avancé de excel, vous pourrez gérer les appels d’offres, l’accueil, les techniques de RH, de l’assistanat, la comptabilité, le commercial, la mise à jour des sites internets. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <img class="img-form" src="{{asset('site/img/visite/Vous-préférez-vous-formez-en-ligne.jpg')}}" alt="Vous-préférez-vous-formez-en-ligne">
                            </div>
                            <div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
                                <h3>Vous préférez vous formez en ligne ?</h3>
                                <div>
                                    <a href="{{path('enligne')}}" class="btn btn-form-left animated fadeInLeft">Comment ça marche?</a>
                                    <a class="btn btn-form-right animated fadeInRight" href="{{path('inscription')}}">S'inscrire</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Formation Fin -->
        <script type="text/javascript">

            $('.nav-link.active').removeClass('active');
            $('.ateliers').addClass('active');
        </script>
    {% endblock %}
{% block reste %}
{% endblock %}
