{% extends 'home.html.twig' %}
{% block caroussel %}
{% endblock caroussel %}


{% block contenu %}
    <div class="page-header">
        <div class="row">
            <div class="container">
                <div class="col-12">
                    <h2>{% trans into app.request.locale %}Nos articles{% endtrans %} </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="container" >
    <p>{% trans into app.request.locale %}Filtrer les articles par catégories{% endtrans %}</p>
       <div class="row">
            <div class="col-md-12" style="margin-bottom:10px">
            
            <a class="btn btn-default categories" value="Tout">{% trans into app.request.locale %}Tout{% endtrans %}</a>

            {% for categorie in categories %}
              {% set cat = categorie|split(' ') %}

                    {% if cat|length == 1 %} 
                     <a class="btn btn-default categories" value="{{ categorie.nom }}">{{ categorie.nom }} </a>

                    {% else %}
                     {% set cat = (cat[0] ~ cat[1]) %}

                     <a class="btn btn-default categories" value="{{ cat }}">{{ categorie.nom }} </a>
                    
                    {% endif %}
                    
                   
            
            {% endfor %}
            <br>
            </div>
       </div>
            {% if articles %} 
            {% set i = 1 %}

                {% for article in articles %}
                
                    {% set cat = article.categorie|split(' ') %}

                    {% if cat|length == 1 %} 
                    <div class="row article {{ article.categorie }}">

                    {% else %}
                    {% set categorie = (cat[0] ~ cat[1]) %}

                    <div class="row article {{ categorie }}">
                    
                    {% endif %}
                    


                   
                        <h5>{{ i }} . {{ article.titre }}</h5>
                        {% set i = i + 1 %} 
                        <div class="col-md-12">
                        <a href="{{ path('blog_post',  {'id': article.id}) }}"  style="text-decoration: underline;">
                    
                        {{  article.description|slice(0, 200)~'...' }}
                        </a>
    
                        <h6 >{{ article.datepublication|date('d-m-Y') }}</h6>
                        </div>
                    </div>
                {% endfor %}
            {% else %} 
                <tr>
                    <td colspan="5" style="text-align: center">
                        <h4>{% trans into app.request.locale %}Aucun article Enregistré {% endtrans %}</h4>
                    </td>
                </tr>
            {% endif %}
        
    </div>


{% endblock %}
{% block formation %}

{% endblock %}
{% block reste %}

{% endblock %}
      {% block javascripts %}


          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js">    </script>
          <script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
          <script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
          <script src="{{asset('site/lib/isotope/isotope.pkgd.min.js')}}"></script>
          <script src="{{asset('assets/js/FeedEk.js') }}" type="application/javascript"></script>

          <!-- Template Javascript -->

              <script type="text/javascript">

              $('.nav-link.active').removeClass('active');
              $('.blog').addClass('active');

              $('.categories').on('click', function(){
             
                if( $(this).text() == "Tout" || $(this).text() == "All")
                {
                    $('.row.article').show(); 
              
                }               
                else {
                     $('.row.article').hide(); 
                     console.log( $('.row.article.'+$(this).text()));
                     var text = $(this).text().split(' ');
                     text = text[0]+text[1];
                     console.log( text );
                     $('.row.article.'+text).show(); 
                }
                 
                 


              });

          </script>
      {% endblock %}
