{% extends 'home.html.twig' %}
{% block caroussel %}
<style>
a {
  color: blue;
}

</style>
{% endblock caroussel %}

{% block contenu %}
<div class="page-header">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h2>Politique de confidentialité</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="et_pb_text_inner">
    <p><span style="font-weight: 400">(Date effective : 27/10/2021) </span></p>
    <p><span style="font-weight: 400"></span></p>
    <p>
      <span style="font-weight: 400">
        CECOSDAFormation s’engage à préserver et à protéger la vie privée de ses
        utilisateurs. Cette politique de confidentialité, s’applique à
        <a href="https://www.cecosdaformation.com"
          >https://www.cecosdaformation.com</a
        >
        détenu et exploité par le groupe CECOSDA (“la société” ou “Nous”).
        Cette politique de confidentialité décrit la façon dont nous collectons
        et utilisons les informations personnelles de nos utilisateurs
        ("Apprenants" ou “Vous”) sur notre site web
        <a href="https://www.cecosdaformation.com"
          >https://www.cecosdaformation.com</a
        >
        Cette politique de confidentialité décrit également les choix qui
        s’offre à vous en ce qui concerne l’utilisation de vos informations
        personnelles et la façon dont vous pouvez accéder et mettre à jour ces
        informations.<br />
      </span>
    </p>
    <p>
      <span style="font-weight: 400">
        <b>Quelles sont les informations collectées par CECOSDAFormation?</b>
      </span>
    </p>
    <p>
      <span style="font-weight: 400">
        Lorsque vous naviguez sur le site
        <a href="https://www.cecosdaformation.com"
          >https://www.cecosdaformation.com</a
        >, vous avez la possibilité de vous pré-inscrire et de nous
        contacter. Afin de faciliter votre utilisation des services
        CECOSDAFormation, nous collectons des informations personnelles, telles
        que votre Nom, prénom, adresse e-mail, ville, numéro de téléphone et
        pays.<br />
      </span>
       <span style="font-weight: 400">Parce que vous partagez volontairement ces informations lorsque vous
        vous enregistrez sur CECOSDAFormation, vous consentez librement au
        traitement de ces informations. Le caractère obligatoire ou facultatif des données vous est signalé lors
        de la collecte.<br />
        Lorsque vous vous inscrivez à nos services, nous vous enverrons un
        e-mail de confirmation, basé sur les informations personnelles que vous
        nous fournissez. Nous communiquerons également avec vous en réponse à
        vos demandes de renseignements, pour vous fournir les services que vous
        demandez ou pour vous assister. Nous communiquerons avec vous par
        courrier électronique ou par téléphone, conformément à votre souhait.
      </span>
    </p>
   
    <p>
      <span style="font-weight: 400">
        Nous vous enverrons des annonces strictement liées au service en de
        rares occasion lorsque cela est nécessaire. Par exemple si notre service
        est temporairement suspendu pour maintenance, nous pouvons vous envoyer
        un e-mail. En général, vous ne pouvez pas refuser ces communications,
        qui ne sont pas de nature promotionnelle. Si vous ne souhaitez pas les
        recevoir, vous pouvez nous contacter.
      </span>
    </p>
   
   
    <p>
      <b>Pourquoi CECOSDAFormation recueille des informations personnelles sur moi ?</b>
      <span style="font-weight: 400"> </span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400">
        Nous avons besoin de vos informations personnelles pour fournir un
        service de haute qualité. Les informations de votre profil (tel que le
        nom, prénom, ville,pays) permettent à CECOSDAFormation de vous fournir une
        assistance personnalisé.<span style="font-weight: 400">
        Nous utilisons la société tierce, Gmail pour nous permettre de vous
        envoyer des mails, par conséquent elle a accès à votre email.</span
      >
      <span style="font-weight: 400"> </span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"
        >Dans la mesure nécessaire, nous pouvons partager vos informations
        suite : <br />(1) à une demande des autorités gouvernementales (pour la protection des
        données), <br />(2) à une opération en lien avec une réorganisation corporative, une fusion de
        la Société avec une autre société ou une vente de la totalité ou d’une
        partie substantielle de nos actifs, à condition que l’information
        divulguée continue d’être utilisé aux fins permises par la présente
        Politique de confidentialité, <br />(3) à une demande par des tiers sans votre consentement
        si nous avons des raisons de croire que la divulgation de cette
        information est nécessaire pour identifier, contacter ou intenter une
        action en justice contre quelqu’un qui pourrait causer préjudice ou
        porter atteinte (soit intentionnellement ou involontairement) à nos
        droit ou propriété, à d’autres utilisateurs du site Web ou à toute autre
        personne qui pourrait être lésée par de telles activités, ou <br />(4) à une injonction ou si cela
        est requis par la loi et lorsque nous pensons que la divulgation est
        nécessaire pour protéger nos droits et/ou pour se conformer à une
        procédure judiciaire, à une ordonnance d’un tribunal ou à une procédure
        judiciaire exécuté par notre Société.</span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"
        >Nous ne collectons pas intentionnellement des informations personnelles
        de mineurs de moins de 16 ans.</span
      ><span style="font-weight: 400"> </span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"> </span
      >
    </p>
    
    <p><b>Utilisation par les enfants</b></p>
    <p>
      <span style="font-weight: 400"
        >Nous n’offrons pas nos produits ou services à l’usage des enfants. Si
        vous avez moins de 18 ans, vous ne pouvez pas utiliser le produit ou
        fournir des informations au produit sans la participation d’un parent ou
        d’un tuteur. Nous ne collectons pas sciemment d’informations sur et / ou
        sur les enfants.</span
      >
    </p>
    <p>
      <b
        >Comment puis-je accéder à mes informations personnelles et les gérer
        ?</b
      ><br/><br/><span style="font-weight: 400"
        >Si vos informations personnelles changent, ou si vous ne désirez plus
        notre service, vous pouvez corriger, mettre à jour, modifier, supprimer
        votre compte en nous écrivant à </span
      ><a href="mailto:cecosdaformation@gmail.com"
        ><span style="font-weight: 400">cecosdaformation@gmail.com</span></a
      ><span style="font-weight: 400"> </span>
    </p>
    <p>
      <span style="font-weight: 400"><br /> </span
      ><b
        >Puis-je me désinscrire de la collecte de données ? “Droit de
        rétractation”</b
      ><span style="font-weight: 400"> </span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"
        >Vous pouvez le faire à tout moment en nous contactant à
       cecosdaformation@gmail.com</span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"
        >Cependant si vous choisissez de ne pas nous fournir les informations
        personnelles demandées, vous ne pourrez peut-être plus utiliser le
        service, en partie ou dans son intégralité. Cela peut nous amener à
        cesser de vous proposer le Service et à mettre fin à votre assistance.</span
      ><span style="font-weight: 400"> </span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"><br /> </span
      ><span style="font-weight: 400"
        >CECOSDAFormation n’envoie pas de courrier marketing non sollicité. </span
      >
    </p>
    
   
    <p><b>Comment nous contacter ?</b></p>
    <p>
      <span style="font-weight: 400"
        >Si vous avez des questions ou des demandes concernant la
        confidentialité de vos informations, veuillez nous contacter à
        <a href="mailto:cecosdaformation@gmail.com">cecosdaformation@gmail.com</a></span
      >
    </p>
  </div>
</div>
{% endblock %}
{% block formation %}

{% endblock %}
{% block reste %}

{% endblock %}
{% block javascripts %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
    <script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script type="text/javascript">
        $('.nav-link.active').removeClass('active');
        $('.formationblog').addClass('active');
    </script>
{% endblock %}
