{% extends 'home.html.twig' %}
{% block caroussel %}{% endblock caroussel %}
{% block contenu %}
	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Message envoyé !</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->
	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-success text-center">
						Votre méssage a été envoyé. Merci !
					</h3>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block reste %}{% endblock %}