{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="animateur de communautés, responsable de réseaux sociaux, animateur de réseaux sociaux, modérateur, influenceur, social media manager, expert en communication digitale, formation de community manager" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>CQP COMMUNITY MANAGER</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->


	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-md-6">
							<img class="img-fluid rounded" src="{{asset('site/img/visite/5.jpg')}}" alt="Image">
						</div>
						<div class="col-md-6">
							<p>
								En ligne ou en présentiel, la filière Community manager est 100/100 pratiques. L’apprenant apprendra à mettre à jours des sites internet, gérer les réseaux sociaux par la rédaction web et le référencement. Les apprenants découvriront également le montage des vidéos, l’infographie.
							</p>
							<p>
								La formation en Community management permet aux apprenants de CECOSDA Formation de se positionner en tant que professionnel du E-marketing, des réseaux sociaux et gestionnaires de la communauté d’entreprise en ligne. Les apprenants sont formés à l’infographie, la rédaction web, la conception et la mise à jour des sites internet, et le montage vidéo basique pour le développement de contenus web.
							</p>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Niveau requis</th>
										<td>BAC + 3 minimum (Test de capacité si niveau inférieur)</td>
									</tr>
									<tr>
										<th>Frais de scolarité</th>
										<td>
											450 000 frs CFA (en présentiel) ;
											<br>500 000 frs CFA (en ligne)


										</td>
									</tr>
									<tr>
										<th>Frais d'inscription</th>
										<td>
											25 000 frs CFA
										</td>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="text-center">
						<a href="#" class="btn btn-form-left animated fadeInLeft" id="programme-formations-2">Voir le programme</a>
						<a class="btn btn-form-right animated fadeInRight" href="{{ path('inscription')}}">S'inscrire</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="single single-2">
		<div class="col-md-12">
			<table class="table table-hover table-bordered table-custum ">
				<tbody class="">
					<tr>
						<td class="info">Diplôme
						</td>
						<td class="info">Diplôme d’assistant administratif (délivré par CECOSDAFormation) et Certificat de
							                                qualification professionnelle (délivré par le MINEFOP)</td>
					</tr>
					<tr>
						<td class="info">Nos rentrées</td>
						<td class="info">29 novembre</td>
					</tr>
					<tr>
						<td class="info">Dossier d’inscription
						</td>
						<td class="info">
							<ul>
								<li>2 cartes photo 4*4</li>
								<li>1 copie de la carte d’identité nationale</li>
								<li>1 copie du dernier diplôme</li>
								<li>Une lettre d’engagement à remplir toutes les conditions de la formation</li>
								<li>Les reçus de versement des frais d’inscription et de la première tranche de la pension</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
$('.comm').addClass('active');
	</script>
{% endblock %}

    {% block formation %}
		<!-- Formation Debut -->
		<div class="service">
			<div class="container">
				<div class="section-header animated fadeInLeft">
					<h2 class="about-title">Toutes nos formations</h2>
				</div>
				<div class="row animated fadeInRight">
					<div class="col-lg-4 col-md-6">
						<div class="service-item">
							<div class="service-icon">
								<img class="img-form" src="{{asset('site/img/visite/Diplôme-CQP-pour-Community-manager.jpg')}}" alt="Diplôme-CQP-pour-Community-manager">
							</div>
							<div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
								<h3>Diplôme CQP pour Community manager</h3>
								<div>


								</div>
							</div>

							<p
									class="d-none"><!--  Compétence aujourd'hui très prisée par les recruteurs, avant la fin de la formation la plus part des apprenants sont déjà coptés par les entreprises. Vous Maitriserez les sites internets, réseaux sociaux, l'infographie, montage video. -->
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service-item">
							<div class="service-icon">
								<img class="img-form" src="{{asset('site/img/formation/Diplôme-CQP-pour-assistants-administratifs.jpg')}}" alt="Diplôme-CQP-pour-assistants-administratifs">
							</div>
							<div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
								<h3>Diplôme CQP pour assistants administratifs</h3>
								<div>
									<a class="btn btn-form-left animated fadeInLeft" id="programme-formations">Voir le programme</a>
									<a class="btn btn-form-right animated fadeInRight" href="{{path('inscription')}}">S'inscrire</a>
								</div>
							</div>
							<p
									class="d-none"><!-- Devenez des admins polyvalents. Avec une maitrise avancé de excel, vous pourrez gérer les appels d’offres, l’accueil, les techniques de RH, de l’assistanat, la comptabilité, le commercial, la mise à jour des sites internets. -->
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service-item">
							<div class="service-icon">
								<img class="img-form" src="{{asset('site/img/visite/Vous-préférez-vous-formez-en-ligne.jpg')}}" alt="Vous-préférez-vous-formez-en-ligne">
							</div>
							<div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
								<h3>Vous préférez vous formez en ligne ?</h3>
								<div>
									<a href="{{path('enligne')}}" class="btn btn-form-left animated fadeInLeft">Comment ça marche?</a>
									<a class="btn btn-form-right animated fadeInRight" href="{{path('inscription')}}">S'inscrire</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Formation Fin -->
    {% endblock %}
{% block reste %}{% endblock %}
