{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="Assistant commercial, Assistant Communication, Assistant comptable Caissière, Technicienne ressources humaines, Assistant formation, Assistante de Direction, Assistante de gestion d'entreprise, Assistant administratif, Assistant de projet, Chargé clientèle, Assistante chef de projet, Assistante de gestion administrative, formation d'assistants administratifs" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>{% trans into app.request.locale %}Vous exercez déjà dans ce metier {% endtrans %}?</h2>
                    <h5> VAE : {% trans into app.request.locale %}Validation des acquis d'experience{% endtrans %} </h5>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->


	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
			<div class="row">
                <div class="col-md-4">
                    <img style="width: 100%;border: 10px solid #fcb040;" alt="vous-etes-deja-professionnels-validez-vos-acquis-d-experience" src="{{ asset('site/img/formation/vous-etes-deja-professionnels-validez-vos-acquis-d-experience.jpg') }}" />
                </div>
                <div class="col-md-8">
				{{'professionnels.attrib1'|trans}}:
                  <ol>
                        <li>{{'professionnels.attrib2'|trans}} ;</li> 
                        <li>{{'professionnels.attrib3'|trans}} ;</li> 
                        <li>{{'professionnels.attrib4'|trans}} ;</li> 
                        <li>{{'professionnels.attrib5'|trans}} ;</li>
                        <li>{{'professionnels.attrib6'|trans}} ;</li> 
                        <li>{{'professionnels.attrib7'|trans}} ;</li>
                    </ol>
            
                </div>			
			</div>
		</div>
	</div>
		<div class="row">
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight" href="{{ path('inscription')}}">{% trans into app.request.locale %}Je m'inscris{% endtrans %}</a>
		</div>
	
	</div>
	<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
        $('.pro').addClass('active');
	</script>

{% endblock %}

    {% block formation %}
		
    {% endblock %}
{% block reste %}{% endblock %}
