{% extends 'home.html.twig' %}

{% block caroussel %}
{% endblock caroussel %}


{% block contenu %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Nos formations en ligne : Comment çà marche ?</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="col-md-12 text-justify">
                    <h5>Horaires et programmation des cours en présentiel</h5>
                    Les cours en direct avec les enseignants sont organisés
                    selon un calendrier précis pendant toute la durée de la formation.
                    Les enseignants de CECOSDA Formation animeront ces cours et les élèves
                    connectés pourront directement poser des questions, faire des exercices et
                    télécharger les supports de cours. Tous les cours en ligne seront enregistrés
                    pour permettre à l’apprenant d’y avoir accès à tout moment.
                </div>
                <div class="col-md-12 text-justify">
                    <h5>Kit de l’apprenant et matériel nécessaire</h5>
                    Le kit contient un agenda personnalisé, du matériel d’écriture, le plan comptable OHADA,
                    le plan statistique, un mini-dictionnaire anglais-français, une clé USB contenant les
                    documents et logiciels de la formation d’assistant administratif, et le
                    calendrier académique, le programme des activités pratiques et des activités de terrain.
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 text-justify">
                    <h5>Calendrier académique </h5>
                    Les apprenants ont 3 moins de cours avec simulation de cas réels, 1 mois de mini-stage,
                    1 mois d’organisation d’activités d’entreprise (conférence, ateliers de formation,
                    visite d’entreprise, rencontres avec des professionnels du métier, pratique de la recherche d’emploi),
                    2 mois de stage de fin de formation avec soutenance d’un rapport devant jury.
                </div>
                <div class="col-md-12 text-justify">
                    <h5>Pratique de l’outil informatique et de l’anglais</h5>
                    Pour garantir la maitrise de l’outil informatique, 70 %  de chaque cours se fait de
                    façon appliquée dans la salle d’informatique. Les cours d’anglais sont obligatoires
                    pour tous les apprenants des filières Carrière Pro. En dehors du cours en présentiel, les apprenants
                    doivent passer des cours en E-learning sur la plateforme en ligne de cecosdaformation.

                </div>

            </div>

        </div>

    </section>
{% endblock %}

{% block reste %}

{% endblock %}