{% extends 'base.html.twig' %}
{% block entetecontent %}
    <div class="container1">

        <div class="mySlides col-lg-12">
            <div class="middle">
                <div class="text ">
                    <h1>Formations en présentiel : Comment çà se passe ?</h1>
                    <a class="btn btn-success" href="../preinscription/"> Je m'inscris maintenant </a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block body %}
    <section class="row">
        <div class="container">

            <div class="containers col-md-6 text-justify">
                <h5>Horaires et programmation des cours en présentiel</h5>
                En présentiel, les cours se déroulent dans les locaux de CECOSDA Formation 3 fois par semaine,
                en journée principalement (7h30 – 12h30), et en soirée, si nombre important, (16h30-20h00).
                Dès l’inscription, les apprenants reçoivent le calendrier académique et le programme détaillé
                de toute la formation. Le jour de la rentrée, un kit de l’apprenant contenant les premiers
                outils de travail de l’assistant administratif est remis au candidat.
            </div>
            <div class="containers col-md-6 text-justify">
                <h5>Kit de l’apprenant et matériel nécessaire</h5>
                <ol>
                    <li>Kit fourni par le service académique de CECOSDA Formation :
                        le kit contient un agenda personnalisé, du matériel d’écriture,
                        le plan comptable OHADA, le plan statistique, un mini-dictionnaire
                        anglais-français, une clé USB contenant les documents et logiciels de la
                        formation d’assistant administratif, et le calendrier académique, le programme
                        des activités pratiques et des activités de terrain. </li>
                    <li>Matériel fourni par l’apprenant : CECOSDAFormation dispose d’équipements
                        nécessaires à la formation en présentiel et en ligne. Cependant,
                        pour un meilleur suivi de la formation et pour garantir que les devoirs et exercices seront
                        faits à la maison, nous recommandons à chaque apprenant d’avoir son ordinateur,
                        une connexion internet régulière, une clé USB, un téléphone smart, entre autres.</li>
                </ol>

            </div>
            <div class="containers col-md-6 text-justify">
                <h5>Calendrier académique </h5>
                Les apprenants ont 3 moins de cours avec simulation de cas réels, 1 mois de mini-stage,
                1 mois d’organisation d’activités d’entreprise (conférence, ateliers de formation, visite
                d’entreprise, rencontres avec des professionnels du métier, pratique de la recherche d’emploi),
                2 mois de stage de fin de formation avec soutenance d’un rapport devant jury.
            </div>
            <div class="containers col-md-6 text-justify">
                <h5>Pratique de l’outil informatique et de l’anglais</h5>
                Pour garantir la maitrise de l’outil informatique, 70 %  de chaque cours se fait de
                façon appliquée dans la salle d’informatique. Les cours d’anglais sont obligatoires
                pour tous les apprenants des filières Carrière Pro. En dehors du cours en présentiel, les apprenants
                doivent passer des cours en E-learning sur la plateforme en ligne de cecosdaformation.

            </div>


            <div class="col-md-12">

                <table class="table table-hover table-responsive">

                    <tbody>
                    <tr>
                        <td class="info">Diplôme </td>
                        <td class="info">Diplôme d’assistant administratif (délivrée par CECOSDAFormation) et Certificat de
                            qualification professionnelle (délivré par le MINEFOP)</td>
                    </tr><tr>
                        <td class="info">Nos rentrées</td>
                        <td class="info">19 octobre et 19 novembre</td>
                    </tr>
                    <tr>
                        <td class="info">Dossier d’inscription </td>
                        <td class="info"> <ul>
                                <li>2 cartes photo 4*4</li>
                                <li>1 copie de la carte d’identité nationale</li>
                                <li>1 copie du dernier diplôme</li>
                                <li>Une lettre d’engagement à remplir toutes les conditions de la formation</li>
                                <li>Les reçus de versement des frais d’inscription et de la première tranche de la pension</li>
                            </ul></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>
{% endblock %}