{% extends 'home.html.twig' %}
{% block metadescription %}
    <meta content="formations BEPC Probatoire BAC, développeur WordPress, Montage vidéo, Assistant commercial, Assistant Comptable, infographie, Vente en ligne, maintenance informatique" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{% trans into app.request.locale %}Nos formations de 06 mois {% endtrans %}</h2>
                    <h4>{% trans into app.request.locale %}Formations courtes diplomantes{% endtrans %}</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Single Page Start -->
    <div class="single">
        <div class="container">
            <div class="row">
                    
				<table class="table table-bordered ">
					<tbody>
						<tr>
							<td>
								<p><strong>{% trans into app.request.locale %}Filières ouvertes{% endtrans %} </strong></p>
							</td>
							<td>
								<p><strong>{% trans into app.request.locale %}Prix en CFA{% endtrans %}</strong></p>
							</td>
							<td>
								<p><strong>{% trans into app.request.locale %}Durée{% endtrans %}</strong></p>
							</td>
							<td>
								<p><strong>{% trans into app.request.locale %}Prérequis{% endtrans %}</strong></p>
							</td>
							<td>
								<p><strong>{% trans into app.request.locale %}Mode de formation{% endtrans %}</strong></p>
							</td>
						</tr>
						<tr>
							<td>
							<p>{{'formation.liste7'|trans }}</p>
							<p>{{'formation.liste8'|trans }}</p>
							<td>
								<p>250 000</p>
							</td>
							<td>
								<p>03 {% trans into app.request.locale %}mois{% endtrans %}</p>
							</td>
							<td>
								<p>{% trans into app.request.locale %}BAC{% endtrans %}</p>
							</td>
							<td>
								<p>&nbsp;{% trans into app.request.locale %}En ligne et en salle{% endtrans %}</p>
							</td>
						</tr>
					</tbody>
				</table>
				
			
                    
            </div>
        </div>
    </div> 
    <div class="row">
		<div class="col-md-12 text-center">
		<h5>{% trans into app.request.locale %}Vous souhaitez une formation spécifique{% endtrans %} ? <a href="https://wa.me/237677325343">
				 {% trans into app.request.locale %}Contactez-nous{% endtrans %}
			</a></h5>
			
		</div>
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight" href="{{ path('inscription')}}">{% trans into app.request.locale %}Je m'inscris{% endtrans %}</a>
		</div>
	
	</div>               
    <script type="text/javascript">

        $('.nav-link.active').removeClass('active');
        $('.comm').addClass('active');
    </script>
{% endblock %}

    {% block formation %}
        
    {% endblock %}
{% block reste %}{% endblock %}
