{% extends 'home.html.twig' %}
{% block caroussel %}
{% endblock caroussel %}


{% block contenu %}
    <div class="page-header">
        <div class="row">
            <div class="container">
                <div class="col-12">
                    <h2>{% trans into app.request.locale %}Nos cours gratuits {% endtrans %}</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="container" >
    {% if app.request.locale == "fr" %}
    <ul>
    <li><a href="../../../free/Methode-5S/">Organisation du bureau avec la méthode 5S </a></li>
       
    </ul>     
    {% endif %}   
    </div>


{% endblock %}
{% block formation %}

{% endblock %}
{% block reste %}

{% endblock %}
      {% block javascripts %}


          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
          <script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
          <script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
          <script src="{{asset('site/lib/isotope/isotope.pkgd.min.js')}}"></script>
          <script src="{{asset('assets/js/FeedEk.js') }}" type="application/javascript"></script>

          <!-- Template Javascript -->

              <script type="text/javascript">

              $('.nav-link.active').removeClass('active');
              $('.blog').addClass('active');

          </script>
      {% endblock %}
