{% extends 'home.html.twig' %}
{% block metadescription %}
    <meta content="formations BEPC Probatoire BAC, développeur WordPress, Montage vidéo, Assistant commercial, Assistant Comptable, infographie, Vente en ligne, maintenance informatique" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{% trans into app.request.locale %}Assistant administratif bilingue{% endtrans %}</h2>
            
                </div>
            </div>
        </div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h5>{% trans into app.request.locale %}Présentation des métiers{% endtrans %}</h5>
				<p>{% trans into app.request.locale %}Le poste d'assistant administratif est l'un des plus recherchés par les recruteurs sur le marché de l'emploi. L'assistant(e) administratif (ve) est la cheville ouvrière de l'administration{% endtrans %}. 
					                {% trans into app.request.locale %}Il (elle) est au cœur du système de communication interne, de l'organisation du travail et de la prise de décision. Il (elle) joue également un rôle crucial dans le bon fonctionnement des entreprises en gérant les tâches administratives, en soutenant l'équipe et en assurant une communication efficace entre les différents services au sein de l'organisation{% endtrans %}.</p>
			</div>
			<div class="col-md-12">
				<a data-toggle="collapse" data-target="#modedeformation" class="btn btn-default btn-round btn-block waves-effect waves-light title" style="color: #FFF; background-color: #153aaa;">
	    			{% trans into app.request.locale %}Mode de formation{% endtrans %}
	    			<i class="fa fa-chevron-down"></i>
    		        </a>
    		        <div id="modedeformation" class="row container collapse show">
				<p>{% trans into app.request.locale %}Pour les apprenants qui souhaitent suivre la formation d’assistant administratif bilingue, deux modes de formations sont proposées{% endtrans %} :</p>
				<div class="col-md-6">
					<h2 class="about-title text-center">
						{% trans into app.request.locale %}En ligne{% endtrans %}</h2>
					<ul>
						<li>{% trans into app.request.locale %}Une fois  inscrit sur la plateforme en ligne de Cecosdaformation, votre matricule est rapidement créé et attribué{% endtrans %}.</li>
						<li>{% trans into app.request.locale %}Les enseignants se connectent trois fois par semaine et sont disponibles pour répondre à toutes vos préoccupations{% endtrans %}.</li>
						<li>{% trans into app.request.locale %}Les devoirs et les E-quiz laissés par les enseignants après les cours sont corrigés par l'ensemble des apprenants à tour de rôle accompagné de l’enseignant{% endtrans %}.</li>
						<li>{% trans into app.request.locale %}Pour ce qui est de la  présentation des projets professionnels après chaque phase de cours, les présentations se font en vidéo-conférence avec des enseignants experts dans le domaine{% endtrans %}.</li>
					</ul>
				</div>
				<div class="col-md-6">
					<h2 class="about-title text-center">
						{% trans into app.request.locale %}En presentiel{% endtrans %}</h2>
					<ul>
						<li>{% trans into app.request.locale %}Après votre inscription, un poste de travail vous est attribué pour la formation{% endtrans %}.</li>
						<li>{% trans into app.request.locale %}Le centre est ouvert 3 fois par semaine afin de vous accueillir et de vous permettre de travailler en groupe avec vos camarades{% endtrans %}.</li>
						<li>{% trans into app.request.locale %}Un accès wifi gratuit est disponible pour faciliter vos recherches{% endtrans %}.</li>
						<li>{% trans into app.request.locale %}L'enseignant reste disponible pour répondre à toutes vos préoccupations{% endtrans %}.</li>
					</ul>
					</div>

			</div>
			</div>
			
		
		
			</div>
			<div class="row">
				<div class="col-md-12">
					<a data-toggle="collapse" data-target="#materielformation" class="btn btn-default btn-round btn-block waves-effect waves-light title mt-2" style="color: #FFF; background-color: #153aaa;">
	    			{% trans into app.request.locale %}Materiel de formation{% endtrans %}
	    			<i class="fa fa-chevron-down"></i>
    		        </a>
    		        <div id="materielformation"  class="container collapse">
					<p>{% trans into app.request.locale %}Pour suivre la formation d’assistant administratif bilingue, le centre met à la disposition de ses apprenants  les équipements suivants{% endtrans %} :</p>
					<p>
						<ul>
							<li>{% trans into app.request.locale %}Salle de Cours Climatisée{% endtrans %};
							</li>
							<li>{% trans into app.request.locale %}Vidéoprojecteur et Smart Board{% endtrans %} ;
							</li>
							<li>{% trans into app.request.locale %}Groupe électrogène fonctionnel{% endtrans %};
							</li>
							<li>{% trans into app.request.locale %}Connexion Internet Illimitée{% endtrans %} ;</li>
							<li>{% trans into app.request.locale %}Des supports de cours, des exercices pratiques et d'autres ressources pédagogiques{% endtrans %}</li>
							<li>{% trans into app.request.locale %}Kits de l’apprenant (Bloc note, stylo, règle, porte document){% endtrans %}</li>
						</ul>
						{% trans into app.request.locale %}Chaque Apprenant devra se munir des éléments suivants - Un Smartphone, Une Clé USB, Un Laptop ou Desktop, Pour en savoir plus vous pouvez lire{% endtrans %}
						<a href="{{path('admissionCQP')}}" style="text-decoration: underline;">{% trans into app.request.locale %}les modalités d’admission{% endtrans %}</a>
					</p>
					</div>
				</div>
				<div class="col-md-12">
				<a data-toggle="collapse" data-target="#calendrier" class="btn btn-default btn-round btn-block waves-effect waves-light title mt-2" style="color: #FFF; background-color: #153aaa;">
	    			{% trans into app.request.locale %}Calendrier Academique{% endtrans %}
	    			<i class="fa fa-chevron-down"></i>
    		        </a>
    		        <div id="calendrier"  class="container collapse">
					<h5>{% trans into app.request.locale %}Calendrier Academique{% endtrans %}</h5>
					{% trans into app.request.locale %}La formation CQP Assistant Administratif se déroule sur une période de 09 Mois de cours et 03 Mois de Stage en entreprise{% endtrans %}. 
								{% trans into app.request.locale %}Les cours débuteront le Lundi 08 Janvier 2024, structurés comme suit{% endtrans %} :
			
					<table class="table table-bordered">
						<thead>
							<tr>			
								<th>{% trans into app.request.locale %}Intervalles{% endtrans %}</th>
								<th>{% trans into app.request.locale %}Description{% endtrans %}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
			
								<td>{% trans into app.request.locale %}08 Janvier 2024 au 14 Avril 2024{% endtrans %}</td>
								<td>{% trans into app.request.locale %}Cours théoriques  + Cours pratiques +E quiz en ligne + Devoirs + présentation des projets professionnels 1{% endtrans %}</td>
							</tr>
							<tr>
								<td>{% trans into app.request.locale %}15 Avril 2024 au 18 Avril 2024{% endtrans %}</td>
								<td>{% trans into app.request.locale %}Interphase{% endtrans %}</td>
							</tr>
							<tr>
			
								<td>{% trans into app.request.locale %}19 Avril 2024 au 14 Juin 2024{% endtrans %}</td>
								<td>{% trans into app.request.locale %}Cours théoriques  + Cours pratiques +E quiz en ligne + Devoirs + présentation des projets professionnels 2{% endtrans %}</td>
			
							</tr>
							<tr>
								<td>{% trans into app.request.locale %}15 Juin au 19 Juin 2024{% endtrans %}</td>
								<td>{% trans into app.request.locale %}Interphase{% endtrans %}</td>
							</tr>
							<tr>
								<td>{% trans into app.request.locale %}20 Juin 2024 au 20 Septembre 2024{% endtrans %}</td>
								<td>{% trans into app.request.locale %}Stage académique{% endtrans %}</td>
							</tr>
							<td>{% trans into app.request.locale %}03 Octobre 2024  au 02 Décembre 2024{% endtrans %}</td>
							<td>{% trans into app.request.locale %}Préparation aux examens CQP et Examen National CQP{% endtrans %}</td>
						</tbody>
					</tr>
					<tr>
						<td>{% trans into app.request.locale %}17 Décembre 2024{% endtrans %}</td>
						<td>{% trans into app.request.locale %}Remise des Attestation de qualification professionnelle (AQP) aux apprenants{% endtrans %}</td>
					</tr>
			
				</tbody>
			</table>
			</div>
			</div>
			
			<div class="col-md-12">
					<a data-toggle="collapse" data-target="#contenuformation" class="btn btn-default btn-round btn-block waves-effect waves-light title mt-2" style="color: #FFF; background-color: #153aaa;">
	    			{% trans into app.request.locale %}Contenu de la formation{% endtrans %}
	    			<i class="fa fa-chevron-down"></i>
    		        </a>
    		        <div id="contenuformation"  class="container collapse">
					{% trans into app.request.locale %}Au cours de cette formation, vous aborderez les différents aspects du métier d'assistant administratif à travers plusieurs modules {% endtrans %}:
					<ol>
						<li>{% trans into app.request.locale %}Secrétariat bureautique{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Production des documents d’entreprise avec Excel, Word, Publisher, Powerpoint{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Techniques de Communication d’entreprise{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Pratique du Marketing Digital et animation des réseaux sociaux et site web{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Initiation à l’infographie et production des visuels de l’entreprise{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Introduction à l’organisation des entreprises{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Techniques d’assistanat et de gestion d'un bureau{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Techniques commerciales{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Notions de fiscalités{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Techniques de gestion des ressources humaines{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Gestion des voyages, des véhicules d’entreprise et des chauffeurs{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Pratiques comptables et tenue de la petite caisse{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Procédures d’achat et gestion des prestataires{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Gestion des évènements d’entreprise, foires ; séminaires, réunion et ateliers{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Cours de langue français et anglais{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Expression écrite et orale en français et en anglais{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Insertion professionnelle : attitudes et aptitude en entreprise, technique de recherche de l’emploi{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Stages et conférences{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Préparation et examens (Soutenances) CQP{% endtrans %}</li>
					</ol>
					</div>
			</div>
			
			<div class="col-md-12">
					<a data-toggle="collapse" data-target="#diplomeattestation" class="btn btn-default btn-round btn-block waves-effect waves-light title mt-2" style="color: #FFF; background-color: #153aaa;">
	    			{% trans into app.request.locale %}Diplome et attestation{% endtrans %}
	    			<i class="fa fa-chevron-down"></i>
	    			</a>
					<div id="diplomeattestation" class="container collapse">
					{% trans into app.request.locale %}À la fin de la formation CQP Assistant Administratif, vous obtiendrez deux diplômes{% endtrans %}:
					<ul>
						<li>{% trans into app.request.locale %}Un Certificat de Qualification Professionnelle (CQP) qui atteste de vos compétences dans le domaine de l'assistance administrative délivré par le MINEFOP{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Un Diplôme ou une Attestation de formation délivré (e) par le Centre de Formation{% endtrans %}.</li>
					</ul>
					{% trans into app.request.locale %}Les modalités d’obtention des Diplômes sont les suivants{% endtrans %} :
								{% trans into app.request.locale %}Pour obtenir l’attestation du Centre{% endtrans %}
					<ul>
						<li>{% trans into app.request.locale %}Avoir été évalué avec succès dans tous les modules{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Payer la totalité des frais d’inscription{% endtrans %}</li>
					</ul>
					{% trans into app.request.locale %}Pour le MINEFOP{% endtrans %}
					<ul>
						<li>{% trans into app.request.locale %}Avoir au moins le Baccalauréat{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Payer les frais d’examen - 33.000 XAF{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Faire un stage académique en Entreprise{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Avoir été évalué avec succès dans tous les modules{% endtrans %}</li>
						<li>{% trans into app.request.locale %}Payer la totalité des frais d’inscription{% endtrans %}</li>
					</ul>
					</div>
			</div>
			
			
			<div class="col-md-12">
			<a data-toggle="collapse" data-target="#commentsinscrire" class="btn btn-default btn-round btn-block waves-effect waves-light title mt-2" style="color: #FFF; background-color: #153aaa;">
	    			{% trans into app.request.locale %}Comment s'inscrire{% endtrans %}
	    			<i class="fa fa-chevron-down"></i>
	    			</a>
					<div id="commentsinscrire"  class="container collapse">
						{% trans into app.request.locale %}Pour vous inscrire à notre formation CQP Assistant  Administratif, veuillez suivre les étapes suivantes{% endtrans %}
						<ul>
							<li>{% trans into app.request.locale %}Dans le Site du centre, accédez à la page de la formation CQP - « Assistant Administratif »{% endtrans %}</li>
							<li>{% trans into app.request.locale %}Remplissez la  fiche ou le formulaire d'inscription en ligne en fournissant toutes les informations demandées (votre nom, prénom, coordonnées et niveau d'études...){% endtrans %}</li>
							<li>{% trans into app.request.locale %}Sélectionnez le mode de formation que vous préférez - en Présentiel ou en Ligne{% endtrans %}.</li>
							<li>{% trans into app.request.locale %}Envoyez votre demande d'inscription en cliquant sur le bouton "Envoyer" ou "Soumettre"{% endtrans %}.</li>
							<li>{% trans into app.request.locale %}Après réception de votre demande, notre équipe vous contactera pour confirmer votre demande et vous fournir toutes les informations nécessaires sur les modalités de paiement{% endtrans %}.</li>
							<li>{% trans into app.request.locale %}Procédez au paiement des frais d’inscription selon les modalités convenues{% endtrans %}.</li>
							<li>{% trans into app.request.locale %}Une fois le paiement effectué, vous recevrez un email de confirmation d'inscription avec tous les détails concernant le début de la formation{% endtrans %},</li>
							<li>{% trans into app.request.locale %}Si cours en présentiel, déposer son dossier d'inscription au centre ainsi que les reçus de paiement des frais d’inscription{% endtrans %}.</li>
						</ul>
					</div></div>

			
			
			<div class="col-md-12">
				<a data-toggle="collapse" data-target="#informationspratiques" class="btn btn-default btn-round btn-block waves-effect waves-light title mt-2" style="color: #FFF; background-color: #153aaa;">
					{% trans into app.request.locale %}Informations pratiques{% endtrans %}
					<i class="fa fa-chevron-down"></i>
				</a>
				<div id="informationspratiques"  class="container collapse">
					{% trans into app.request.locale %}La formation CQP Assistant Administratif se déroulera sur une période de 09 Mois de cours en salle + 03 Mois de Stage en Entreprise{% endtrans %}.
					<p>
						<b>{% trans into app.request.locale %}Jours de cours{% endtrans %}</b>:{% trans into app.request.locale %}Les cours se déroulent 03 fois/Semaine, soit Mardi, Jeudi et Vendredi{% endtrans %}.
					</p>
					{% trans into app.request.locale %}Déroulement de la formation{% endtrans %}:
					<ul>
						<li>
							<b>{% trans into app.request.locale %}Enseignements{% endtrans %}</b>: {% trans into app.request.locale %}Les enseignements sont dispensés par des formateurs expérimentés et qualifiés dans le domaine de l'administration. Les cours sont conçus pour être interactifs et pour engager les apprenants dans des discussions, des exercices pratiques et des études de cas{% endtrans %}.
						</li>
						<li>
							<b>{% trans into app.request.locale %}Devoirs{% endtrans %}</b>
							: {% trans into app.request.locale %}Les devoirs sont assignés régulièrement pour renforcer les connaissances acquises en classe. Ces devoirs peuvent prendre différentes formes, telles que des exercices pratiques, E-Quiz, ou des présentations des projets professionnels à la fin de chaque phase. Ils permettent aux apprenants de consolider leurs compétences et de démontrer leur compréhension des concepts étudiés{% endtrans %}</li>
						<li>
							<b>{% trans into app.request.locale %}Absences{% endtrans %}</b>
							: {% trans into app.request.locale %}Nous encourageons les apprenants à assister à tous les cours de manière régulière. Toutefois, nous comprenons que des situations imprévues peuvent parfois entraîner des absences. Les apprenants sont invités à informer 01 jour avant soit à la veille, le personnel de formation en cas d'absence et à faire en sorte de rattraper le contenu manqué pour minimiser l'impact sur leur progression{% endtrans %}.</li>
						<li>
							<b>{% trans into app.request.locale %}Projets professionnels{% endtrans %}</b>
							: {% trans into app.request.locale %}Au cours de la formation, les apprenants sont invités à la fin de chaque Phase à réaliser et présenter des projets professionnels dans la salle de conférences du centre et par la suite  notés par des Jury professionnels du domaine étudiés venant de diverse entreprise{% endtrans %}.
						</li>
						<li>
							<b>{% trans into app.request.locale %}Stages{% endtrans %}</b>
							: {% trans into app.request.locale %}La période de stage pratique est intégrée à la formation pour permettre aux apprenants d'acquérir une expérience de travail en situation réelle, pour cela nous leur aidons à rechercher des stages dans des entreprises ou des organisations pour compléter leur apprentissage pratique. Ce stage leur offre une occasion de mettre en pratique leurs compétences et de se familiariser avec l'environnement professionnel{% endtrans %}.</li>
					</uL>
				</div>
			</div>

			
			</div>

    <!-- Page Header End -->


    <!-- Single Page Start -->
   
    </div> 
    <div class="row">
		<div class="col-md-12 text-center">
		<h5>{% trans into app.request.locale %}Vous souhaitez une formation spécifique{% endtrans %} ? <a href="https://wa.me/237677325343">
				 {% trans into app.request.locale %}Contactez-nous{% endtrans %}
			</a></h5>
			
		</div>
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight inscription" href="#">{% trans into app.request.locale %}Je m'inscris{% endtrans %}</a>
			
		</div>
	
	</div> 
	<div id="myModal5" class="modal fade">
			<div class="modal-dialog modal-md">
				<div class="modal-content" style="height: 400px;">
					<div class="modal-header">
						<h5 style="color: darkblue;font-weight: 600;" class="modal-title">{% trans into app.request.locale %}Choisissez la formation a laquelle vous souhaitez vous inscrire{% endtrans %}</h5>
						<button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="d-flex flex-column justify-content-center align-items-left">
							<p style="color: darkblue;"><a href="{{ path('inscriptionCQPenpresentiel')}}">{% trans into app.request.locale %}CQP Assistant administratif en presentiel{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionCQPenligne')}}">{% trans into app.request.locale %}CQP Assistant administratif en ligne{% endtrans %}</a></p>
						
						</div>

					</div>

				</div>
			</div>
		</div>
        
    <script type="text/javascript">

        $('.nav-link.active').removeClass('active');
        $('.comm').addClass('active');
    </script>
{% endblock %}

    {% block formation %}
        
     
    {% endblock %}
{% block reste %}{% endblock %}
{% block javascripts %}
<script>
// Get the modal
        $(".inscription").on('click', function(){
            $("#myModal5").modal('show');
            $("#myModal5").css('opacity:1');
        });
        
    



        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close1")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            $("#myModal5").modal('hide');
            $("#myModal5").css('opacity:0');
            $("#myModal5").css('display:none');
        };

     


        // Get the <span> element that closes the modal
        var span2 = document.getElementsByClassName("close1")[0];
        // When the user clicks on <span> (x), close the modal
        span2.onclick = function () {
            $(".inscription").css('opacity:0');
            $(".inscription").modal('hide');

        };
        
</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
	<script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
	<script src="{{asset('site/lib/isotope/isotope.pkgd.min.js')}}"></script>
	<script src="{{asset('assets/js/FeedEk.js') }}" type="application/javascript"></script>
	<!-- Template Javascript -->
	<script src="{{asset('site/js/main.js')}}"></script>
	<script src="{{ asset('assets/js/library/sweetalert.min.js')}}"></script>
	<script src="{{ asset('assets/js/library/head.min.js')}}"></script>
	<script src="{{ asset('assets/js/notifs/lobibox.min.js') }}"></script>
	<script src="{{asset('assets/js/notifs/notifications.min.js')}}"></script>
{% endblock %}



