{% extends 'home.html.twig' %}
{% block metadescription %}
    <meta content="formations BEPC Probatoire BAC, développeur WordPress, Montage vidéo, Assistant commercial, Assistant Comptable, infographie, Vente en ligne, maintenance informatique" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Nos formations BEPC-Probatoire-BAC</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Single Page Start -->
    <div class="single">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">

                                <div class="caption">
                                    <h5>Développeur WordPress</h5>
                                </div>
                                <img class="img-fluid rounded" src="{{asset('assets/img/Wordpress-développeur.jpg')}}" alt="Développeur WordPress">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <p>La principale mission du développeur WordPress est d’optimiser le thème privilégié,
                                notamment en travaillant à sa vitesse d’affichage et de former les administrateurs à la gestion quotidienne du site :
                                publication des mises à jour de contenus, création de nouvelles pages, de nouvelles rubriques et catégories…
                                Le développeur WordPress contribue au référencement naturel du site (SEO).
                            </p>
                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a href="#" class="btn btn-form-left animated fadeInLeft" id="">Voir le programme</a>
                                <a class="btn btn-form-right animated fadeInRight" href="{{ path('inscription')}}">S'inscrire</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Niveau requis</th>
                                    <td>BEPC, Probatoire, BAC </td>
                                </tr>
                                <tr>
                                    <th>Frais de formation</th>
                                    <td>
                                        250 000 CFA (en présentiel) ;
                                        <br>300 000 frs CFA (en ligne)


                                    </td>
                                </tr>
                                <tr>
                                    <th>Frais d'inscription</th>
                                    <td>
                                        25 000 frs CFA
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Vente en ligne</h5>
                                </div>
                                <img class="img-fluid rounded" src="{{asset('assets/img/vente-en-ligne.jpg')}}" alt="Vente en ligne">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <p>Il est chargé de développer et de mettre en place des stratégies marketing innovantes spécifiques au site internet par le
                                biais de l'e-mailing, de la SEO, des réseaux sociaux... Il assure le suivi des sites en améliorant leurs fonctionnalités et leur attractivité,
                                en proposant des produits adaptés à la clientèle d'internautes afin d'augmenter le trafic et de fidéliser les clients.
                            </p>
                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a href="#" class="btn btn-form-left animated fadeInLeft" id="">Voir le programme</a>
                                <a class="btn btn-form-right animated fadeInRight" href="{{ path('inscription')}}">S'inscrire</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Niveau requis</th>
                                    <td>BEPC, Probatoire, BAC </td>
                                </tr>
                                <tr>
                                    <th>Frais de formation</th>
                                    <td>
                                        250 000 CFA (en présentiel) ;
                                        <br>300 000 frs CFA (en ligne)


                                    </td>
                                </tr>
                                <tr>
                                    <th>Frais d'inscription</th>
                                    <td>
                                        25 000 frs CFA
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Infographie</h5>
                                </div>
                                <img class="img-fluid rounded" src="{{asset('assets/img/infographie.jpg')}}" alt="Infographie">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <p>Un infographiste travaille à définir l'environnement marketing d'une entreprise, d'une marque, etc.
                                Il doit donc étudier les valeurs mises en avant par son employeur et les faire transparaître dans la charte graphique.
                                Il doit faire un ensemble de choix visuels et mettre en place une stratégie marketing sur l'ensemble des supports de communications de la marque ou de l'entreprise.
                            </p>
                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a href="#" class="btn btn-form-left animated fadeInLeft" id="">Voir le programme</a>
                                <a class="btn btn-form-right animated fadeInRight" href="{{ path('inscription')}}">S'inscrire</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Niveau requis</th>
                                    <td>BEPC, Probatoire, BAC </td>
                                </tr>
                                <tr>
                                    <th>Frais de formation</th>
                                    <td>
                                        250 000 CFA (en présentiel) ;
                                        <br>300 000 frs CFA (en ligne)


                                    </td>
                                </tr>
                                <tr>
                                    <th>Frais d'inscription</th>
                                    <td>
                                        25 000 frs CFA
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Montage vidéo</h5>
                                </div>
                                <img class="img-fluid rounded" src="{{asset('assets/img/montage-vidéo.jpg')}}" alt="Montage vidéo ">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <p>Le monteur vidéo est chargé de trier et sélectionner des rushes de tournage afin de donner du rythme et de la cohérence
                                à une production audiovisuelle, que celle-ci prenne la forme d'un film, d'une série,
                                d'une émission télé ou encore d'une vidéo destinée à une plateforme comme YouTube.
                            </p>
                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a href="#" class="btn btn-form-left animated fadeInLeft" id="">Voir le programme</a>
                                <a class="btn btn-form-right animated fadeInRight" href="{{ path('inscription')}}">S'inscrire</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Niveau requis</th>
                                    <td>BEPC, Probatoire, BAC </td>
                                </tr>
                                <tr>
                                    <th>Frais de formation</th>
                                    <td>
                                        250 000 CFA (en présentiel) ;
                                        <br>300 000 frs CFA (en ligne)


                                    </td>
                                </tr>
                                <tr>
                                    <th>Frais d'inscription</th>
                                    <td>
                                        25 000 frs CFA
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Maintenance informatique</h5>
                                </div>
                                <img class="img-fluid rounded" src="{{asset('assets/img/maintenance-informatique.jpg')}}" alt="Maintenance informatique">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <p>le technicien de maintenance informatique a la lourde tâche dans son travail d'assurer : la réparation des pannes informatiques,
                                la résolution des dysfonctionnements d'un logiciel ou d'un ordinateur,
                                la réalisation de diagnostics pour mieux réparer, l'installation de nouveaux équipements informatiques au sein d'une entreprise.
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center" style="margin-bottom:10px">
                                <a href="#" class="btn btn-form-left animated fadeInLeft" id="">Voir le programme</a>
                                <a class="btn btn-form-right animated fadeInRight" href="{{ path('inscription')}}">S'inscrire</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Niveau requis</th>
                                    <td>BEPC, Probatoire, BAC </td>
                                </tr>
                                <tr>
                                    <th>Frais de formation</th>
                                    <td>
                                        250 000 CFA (en présentiel) ;
                                        <br>300 000 frs CFA (en ligne)


                                    </td>
                                </tr>
                                <tr>
                                    <th>Frais d'inscription</th>
                                    <td>
                                        25 000 frs CFA
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Assistant comptable</h5>
                                </div>
                                <img class="img-fluid rounded" src="{{asset('assets/img/comptable-assistante.jpg')}}" alt="Assistant comptable">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <p>Un assistant comptable est chargé de faire des vérifications de mouvements sur les comptes de l'entreprise où il est employé.
                                Dans le cadre d'un poste dans une fiduciaire ou cabinet d'expertise,
                                il effectue cette tâche pour les sociétés dont il a la charge. Il peut être également amené à faire des vérifications sur les stocks.
                            </p>
                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a href="#" class="btn btn-form-left animated fadeInLeft" id="">Voir le programme</a>
                                <a class="btn btn-form-right animated fadeInRight" href="{{ path('inscription')}}">S'inscrire</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Niveau requis</th>
                                    <td>BEPC, Probatoire, BAC </td>
                                </tr>
                                <tr>
                                    <th>Frais de formation</th>
                                    <td>
                                        250 000 CFA (en présentiel) ;
                                        <br>300 000 frs CFA (en ligne)


                                    </td>
                                </tr>
                                <tr>
                                    <th>Frais d'inscription</th>
                                    <td>
                                        25 000 frs CFA
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h5>Assistant commercial</h5>
                                </div>
                                <img class="img-fluid rounded" src="{{asset('assets/img/assistant-commercial.jpg')}}" alt="Assistant commercial">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <p>
                                L'assistant commercial est un acteur clé pour l'entreprise. Il permet la communication entre les différents acteurs de son service,
                                les commerciaux, les clients et la direction. Ses principales missions consistent à prendre le relais des dossiers clients après les commerciaux,
                                organiser leurs tournées ou encore être le véritable bras droit du chef des ventes, du manager.
                            </p>
                        </div>
                        <div class="col-md-12" style="margin-bottom:10px">
                            <div class="text-center">
                                <a href="#" class="btn btn-form-left animated fadeInLeft" id="">Voir le programme</a>
                                <a class="btn btn-form-right animated fadeInRight" href="{{ path('inscription')}}">S'inscrire</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Niveau requis</th>
                                    <td>BEPC, Probatoire, BAC </td>
                                </tr>
                                <tr>
                                    <th>Frais de formation</th>
                                    <td>
                                        250 000 CFA (en présentiel) ;
                                        <br>300 000 frs CFA (en ligne)


                                    </td>
                                </tr>
                                <tr>
                                    <th>Frais d'inscription</th>
                                    <td>
                                        25 000 frs CFA
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="single single-2">
        <div class="col-md-12">
            <table class="table table-hover table-bordered table-custum ">
                <tbody class="">
                <tr>
                    <td class="info">Attestation
                    </td>
                    <td class="info">Attestation de fin de formation (délivré par CECOSDAFormation) </td>
                </tr>
                <tr>
                    <td class="info">Nos rentrées</td>
                    <td class="info">Janvier et Février</td>
                </tr>
                <tr>
                    <td class="info">Durée du programme</td>
                    <td class="info">06 mois avec stage professionnel</td>
                </tr>
                <tr>
                    <td class="info">Dossier d’inscription
                    </td>
                    <td class="info">
                        <ul>
                            <li>2 cartes photo 4*4</li>
                            <li>1 copie de la carte d’identité nationale</li>
                            <li>1 copie du dernier diplôme</li>
                            <li>Une lettre d’engagement à remplir toutes les conditions de la formation</li>
                            <li>Les reçus de versement des frais d’inscription et de la première tranche de frais de formation</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">

        $('.nav-link.active').removeClass('active');
        $('.comm').addClass('active');
    </script>
{% endblock %}

    {% block formation %}
        <!-- Formation Debut -->
        <div class="service">
            <div class="container">
                <div class="section-header animated fadeInLeft">
                    <h2 class="about-title">Toutes nos formations</h2>
                </div>
                <div class="row animated fadeInRight">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <img class="img-form" src="{{asset('site/img/visite/Diplôme-CQP-pour-Community-manager.jpg')}}" alt="Diplôme-CQP-pour-Community-manager">
                            </div>
                            <div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
                                <h3>Diplôme CQP pour Community manager</h3>
                                <div>


                                </div>
                            </div>

                            <p
                                    class="d-none"><!--  Compétence aujourd'hui très prisée par les recruteurs, avant la fin de la formation la plus part des apprenants sont déjà coptés par les entreprises. Vous Maitriserez les sites internets, réseaux sociaux, l'infographie, montage video. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <img class="img-form" src="{{asset('site/img/formation/Diplôme-CQP-pour-assistants-administratifs.jpg')}}" alt="Diplôme-CQP-pour-assistants-administratifs">
                            </div>
                            <div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
                                <h3>Diplôme CQP pour assistants administratifs</h3>
                                <div>
                                    <a class="btn btn-form-left animated fadeInLeft" id="programme-formations">Voir le programme</a>
                                    <a class="btn btn-form-right animated fadeInRight" href="{{path('inscription')}}">S'inscrire</a>
                                </div>
                            </div>
                            <p
                                    class="d-none"><!-- Devenez des admins polyvalents. Avec une maitrise avancé de excel, vous pourrez gérer les appels d’offres, l’accueil, les techniques de RH, de l’assistanat, la comptabilité, le commercial, la mise à jour des sites internets. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <img class="img-form" src="{{asset('site/img/visite/Vous-préférez-vous-formez-en-ligne.jpg')}}" alt="Vous-préférez-vous-formez-en-ligne">
                            </div>
                            <div style="height: calc(100% - 263px);display: flex;flex-direction: column;justify-content: space-between;">
                                <h3>Vous préférez vous formez en ligne ?</h3>
                                <div>
                                    <a href="{{path('enligne')}}" class="btn btn-form-left animated fadeInLeft">Comment ça marche?</a>
                                    <a class="btn btn-form-right animated fadeInRight" href="{{path('inscription')}}">S'inscrire</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Formation Fin -->
        <script type="text/javascript">

            $('.nav-link.active').removeClass('active');
            $('.courtes').addClass('active');
        </script>
    {% endblock %}
{% block reste %}{% endblock %}
