{% extends 'home.html.twig' %}
{% block metadescription %}
    <meta content="formations BEPC Probatoire BAC, développeur WordPress, Montage vidéo, Assistant commercial, Assistant Comptable, infographie, Vente en ligne, maintenance informatique" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{% trans into app.request.locale %}Formations à la carte{% endtrans %}</h2>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-12">
                   <b>Diplôme : </b>ATTESTATION DE FORMATION  
<p>Pour obtenir une Attestation de formation, il faut faire une formation d’un (01) mois maximum.
Ces formations se déroulent au centre en groupe ou en individuel.</p>

                    
                </div>
            </div>
    </div>
    <!-- Page Header End -->


    <!-- Single Page Start -->
    <div class="single">
        <div class="container">
            <div class="row">
                    
				<table class="table table-bordered ">
					<tbody>
						<tr>
							<td>
								<p><strong>{% trans into app.request.locale %}Formations ouvertes{% endtrans %} </strong></p>
							</td>
							<td>
								<p><strong>{% trans into app.request.locale %}Période{% endtrans %}</strong></p>
							</td>
						
						</tr>
						<tr>
							<td>
							Bureautique
							</td>
							<td rowspan="4" style="padding-top:4%">
								<ul>

                                <li>1ere Vague du: 1er au 31 Juillet</li>
                                <li>2ème Vague du: 1er au 30 Août</li>
                                <li>3ème Vague du: 15 Novembre au 20 Décembre</li>
                                <li>4ème Vague du: 10 Janvier au 15 Février</li>
                                
                                </ul>                                                            
							</td>
                        </tr>
                        <tr>
                        <td>Infographie (Photoshop/Illustrator)
							</td>
                        </tr> 
                        <tr>
                        <td>Montage vidéo marketing (Sur ordinateur) </td>
                        </tr> 
                        
                        <tr>
                        <td>Montage vidéo marketing (Sur ordinateur) </td>
                        </tr>
							
							
							
						</tr>
					</tbody>
				</table>
				
			
                    
            </div>
        </div>
    </div> 
    <div class="row">
		<div class="col-md-12 text-center">
		<h5>{% trans into app.request.locale %}Vous souhaitez une formation spécifique{% endtrans %} ? <a href="https://wa.me/237677325343">
				 {% trans into app.request.locale %}Contactez-nous{% endtrans %}
			</a></h5>
			
		</div>
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight" href="{{ path('inscription')}}">{% trans into app.request.locale %}Je m'inscris{% endtrans %}</a><a id="plus-dinfos" data-toggle="collapse" data-target="#plus-infos"  class="btn btn-warning" href="#">Je veux plus d’informations</a>
		</div>
	
	</div>    
    <div id="myModal4" class="col-12 mt-2 modal fade">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<h5 style="color: darkblue;font-weight: 600;" class="modal-title">Un E-mail instantané vous sera envoyé</h5>
									<button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">×</button>
								</div>
								<div class="modal-body">
									<div class="form section-bg wow BounceInUp">
										<form action="{{path('contact_mail', {'locale': app.request.locale})}}" method="post">
											<div class="form-row">
												<h1 class="text-center" style="width:100%"></h1>
												<div class="form-group col-md-6">
													<input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" required=""/>
													<div class="validation"></div>
												</div>
												<div class="form-group col-md-6">
													<input type="email" class="form-control" required="" name="email" id="email" placeholder="Votre e-mail"/>
													<div class="validation"></div>
												</div>
											</div>
											<div class="form-group">Je souhaite avoir les informations sur :
												<select id="subject" name="subject" class="form-control">
													<option value="assistanat">Metiers de l'assistanat</option>
													<option value="digital">Metiers du digital</option>
													<option value="prepajeunes">Programme Spécial informatique pour jeunes</option>
													<option value="entreprises">Formations aux entreprises</option>
												</select>
												<div class="validation"></div>
											</div>
											<div class="text-center">
												<button type="submit">{% trans into app.request.locale %}Envoyez le message{% endtrans %}</button>
											</div>
										</form>
									</div>
								</div>
				</div>
				</div>
			</div>           
    <script type="text/javascript">

        $('.nav-link.active').removeClass('active');
        $('.comm').addClass('active');
    </script>
{% endblock %}

    {% block formation %}
        
     
    {% endblock %}
{% block reste %}{% endblock %}