{% extends 'home.html.twig' %}
{% block metadescription %}
    <meta content="formations BEPC Probatoire BAC, développeur WordPress, Montage vidéo, Assistant commercial, Assistant Comptable, infographie, Vente en ligne, maintenance informatique" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{% trans into app.request.locale %}Samedi informatique{% endtrans %}</h2>    
                    <h3>{% trans into app.request.locale %}Les meilleurs formateurs informatiques disponibles les samedis{% endtrans %}</h3>           
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    	<div class="row">
    		<h5 class="text-center" style="color: #153aaa;">{% trans into app.request.locale %}Programme de formation informatique qui se déroule uniquement les samedis avec une progression évaluée par niveau{% endtrans %}.
    		</h5>
    <p> <b>{% trans into app.request.locale %}Spécial Informatique{% endtrans %}</b> {% trans into app.request.locale %}est une formation informatique multi-compétence et bilingue qui vise un large public, incluant les enfants, les élèves, les étudiants et les adultes. Chaque groupe d'âge bénéficie d'un programme adapté au besoin et à l’âge{% endtrans %}. </p>
{% trans into app.request.locale %}Nos offres sont les suivantes{% endtrans %} :
<ol>
<li>{% trans into app.request.locale %}Le programme « Eveil informatique » pour les enfants de 05 à 07ans{% endtrans %}</li>
<li>{% trans into app.request.locale %}Le programme « Créativité Digitale » pour les enfants de 08 à 10ans{% endtrans %}</li>
<li>{% trans into app.request.locale %}Le programme « Informatique applique » pour les enfants de 11 à 13ans{% endtrans %}</li>
<li>{% trans into app.request.locale %}Le programme « Informatique spécialisé » pour les élèves de 14+ et les étudiants{% endtrans %}</li>
<li>{% trans into app.request.locale %}Le programme « Savoir numérique pour adultes » pour les adultes{% endtrans %}</li>
</ol>
<h5>{% trans into app.request.locale %}La formation Spécial Informatique se déroule tous les Samedis, avec une durée de 3 à 4 heures par session{% endtrans %}.</h5>
<p>{% trans into app.request.locale %}Les prix mensuels varient en fonction du programme, allant de 10 000 XAF à 20 000 XAF. Les apprenants ont la flexibilité de choisir entre une session du Matin ou une session du Soir{% endtrans %}.</p>
<p>{% trans into app.request.locale %}Ils ont la possibilité de suivre 01 ou 02 formations dans le même mois et alterner les horaires pour accélérer leur progression et développer leurs compétences variées. Chaque programme est composé en moyenne de 10 modules étalés sur 10 mois, totalisant ainsi 40 séances de cours. Chaque module comprend entre 12 et 16 heures de formation par Mois, ce qui représente un total de 120 heures pour atteindre le niveau de "maîtrise". Pour obtenir une attestation de formation, l'apprenant doit au minimum terminer un module de 12 à 16 heures, ce qui équivaut à 01 Mois complet de cours{% endtrans %}.</p>
    		<a data-toggle="collapse" data-target="#eveil" class="btn btn-default btn-round btn-block waves-effect waves-light title" style="color: #FFF; background-color: #153aaa; margin-bottom:10px">
    			{% trans into app.request.locale %}Eveil informatique{% endtrans %}
    			<i class="fa fa-chevron-down"></i>
    		</a>
			<div id="eveil" class="container collapse">
			<h2 class="about-title text-center">{% trans into app.request.locale %}Pour enfants de 05 à 07 ans{% endtrans %}</h2>
				<p>{% trans into app.request.locale %}Le Programme « Eveil Informatique »	est spécialement conçu pour les enfants âgés de 05 à 07 ans, afin de les initier de manière ludique et adaptée aux bases de l'informatique. L'objectif est de leur offrir une vue d'ensemble des concepts essentiels, de favoriser leur familiarité avec les outils informatiques et de permettre aux enfants d'explorer les différents domaines clés de l'informatique{% endtrans %}</p>
				{% trans into app.request.locale %}Le contenu du programme comprend{% endtrans %}:
				<div class="col-md-12 row text-center ">
					<div class="col-md-2 eveil">
						<h5>20%</h5>
						{% trans into app.request.locale %}code et programmation{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>15%</h5>
						{% trans into app.request.locale %}Bureautique{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>10%</h5>
						{% trans into app.request.locale %}Logique info et maths{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>25%</h5>
						{% trans into app.request.locale %}Graphisme numérique{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>20%</h5>
						{% trans into app.request.locale %}Sécurité informatique{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>10%</h5>
						{% trans into app.request.locale %}Actualité technologique{% endtrans %}
					</div>
					<p></p>
				</div>
		</div>

    		<a data-toggle="collapse" data-target="#creativite" class="btn btn-default btn-round btn-block waves-effect waves-light title" style="color: #FFF; background-color: #153aaa; margin-bottom:10px">
    			{% trans into app.request.locale %}Créativité informatique{% endtrans %}
    			<i class="fa fa-chevron-down"></i>
    		</a>
    		<div id="creativite" class="container collapse">
    		<h2 class="about-title text-center">{% trans into app.request.locale %}Pour enfants de 08 à 10 ans{% endtrans %}</h2>
				<p>Le programme "Créativité Informatique" est conçu pour les enfants âgés de 08 à 10 ans, dans le but de les initier au monde de la technologie numérique par le biais d'activités attrayantes. Le programme vise à les familiariser avec les TIC (technologies de l'information et de la communication) et les outils informatiques.</p>
				{% trans into app.request.locale %}Le contenu du programme comprend{% endtrans %}:
				<div class="col-md-12 row text-center ">
					<div class="col-md-2 eveil">
						<h5>15%</h5>
						{% trans into app.request.locale %}code et programmation{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>25%</h5>
						{% trans into app.request.locale %}Bureautique{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>10%</h5>
						{% trans into app.request.locale %}Logique info et maths{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>20%</h5>
						{% trans into app.request.locale %}Graphisme numérique{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>10%</h5>
						{% trans into app.request.locale %}Sécurité informatique{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>20%</h5>
						{% trans into app.request.locale %}Actualité technologique{% endtrans %}
					</div>
				</div>
						<p>{% trans into app.request.locale %}Grâce à ce programme, les enfants âgés de 5 à 7 ans auront l'occasion d'explorer divers aspects du monde numérique et de développer leurs compétences d'une manière amusante et interactive, en mettant l'accent sur le codage, Ms, les outils de bureautique et les graphiques numériques{% endtrans %}.</p>
			
    		</div>
    		<a data-toggle="collapse" data-target="#applique" class="btn btn-default btn-round btn-block waves-effect waves-light title" style="color: #FFF; background-color: #153aaa; margin-bottom:10px">
    			{% trans into app.request.locale %}Informatique appliqué
    			{% endtrans %}
    			<i class="fa fa-chevron-down"></i>
    		</a>
    		<div id="applique" class="container collapse">
    		<h2 class="about-title text-center">{% trans into app.request.locale %}Pour enfants de 11 à 13 ans{% endtrans %}</h2>
    		<p>{% trans into app.request.locale %}Le programme "Compétences informatiques appliquées" est conçu pour les enfants âgés de 11 à 13 ans. Il les aide à mettre en pratique et à développer leur créativité et leurs compétences technologiques par le biais de projets informatiques innovants. À cet âge, ces enfants sont déjà capables de comprendre certains concepts informatiques techniques dans des domaines spécifiques et de développer leur pensée logique{% endtrans %}.</p>
			{% trans into app.request.locale %}Le contenu du programme comprend{% endtrans %}:
				<div class="col-md-12 row text-center ">
					<div class="col-md-2 eveil">
						<h5>30%</h5>
						{% trans into app.request.locale %}code et programmation{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>25%</h5>
						{% trans into app.request.locale %}Bureautique{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>25%</h5>
						{% trans into app.request.locale %}Graphisme numérique{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>10%</h5>
						{% trans into app.request.locale %}Sécurité informatique{% endtrans %}
					</div>
					<div class="col-md-2 eveil">
						<h5>10%</h5>
						{% trans into app.request.locale %}Actualité technologique{% endtrans %}
					</div>
				</div>
				<p></p>
    		</div>
    		<a data-toggle="collapse" data-target="#special" class="btn btn-default btn-round btn-block waves-effect waves-light title" style="color: #FFF; background-color: #153aaa; margin-bottom:10px">
    			{% trans into app.request.locale %}Informatique spécialisé{% endtrans %}
    			<i class="fa fa-chevron-down"></i>
    		</a>
    		<div id="special" class="container collapse">
    			<div class="container">
    				<div class="row">
    				<div class="col-12">
    						<h2 class="about-title text-center">{% trans into app.request.locale %}Pour éleves et étudiants{% endtrans %}</h2>
    						<p class="text-center">{% trans into app.request.locale %}Le Programme « Informatique Spécialisé » s'adresse spécifiquement aux élèves et étudiants de plus de 14 ans, en leur proposant des cours avancés pour améliorer leurs compétences informatiques et les préparer aux exigences professionnelles futures{% endtrans %}.</p>
<p>{% trans into app.request.locale %}Nous offrons à cette catégorie de jeunes des compétences spécialisées dans trois domaines informatiques{% endtrans %} : </p>
    
    					</div>
    					<div class="col-md-4">
    						<h4 class="text-center">{% trans into app.request.locale %}Développement Web{% endtrans %}</h4>
    						<img src="{{ asset('assets/img/samedi-informatique-developpement.jpg')}}" style="width:100%">
    						<p class="text-center">{% trans into app.request.locale %}Créer un site simple, avancé et complexe avec HTML, CSS, JAVASCRIPT et PHP{% endtrans %}</p>
    
    					</div>
    					<div class="col-md-4">
    						<h4 class="text-center">{% trans into app.request.locale %}Infographie{% endtrans %}</h4>
    						<img src="{{ asset('assets/img/samedi informatique-infographie.jpg')}}" style="width:100%">
    						<p class="text-center">{% trans into app.request.locale %}Réaliser des montages graphiques simples, avancés et complexes avec des logiciels d’infographie{% endtrans %}</p>
    					</div>
    					<div class="col-md-4">
    						<h4 class="text-center">{% trans into app.request.locale %}Bureautique{% endtrans %}</h4>
    						<img src="{{asset('assets/img/samedi-informatique-developpement-web.jpg')}}" style="width:100%">
    						<p class="text-center">{% trans into app.request.locale %}Utiliser Word, PowerPoint, Excel, et Publisher pour effectuer des travaux basiques, avancés et complexes de secrétariat bureautique{% endtrans %}
    						</p>
    					</div>
                    <div class="col-md-12 text-center"><p>{% trans into app.request.locale %}L'élève peut décider de s'inscrire à un ou deux cours spécialisés à des horaires différents{% endtrans %}</p></div>
    				</div>
    			</div>
    		</div>
    		<a data-toggle="collapse" data-target="#classique" class="btn btn-default btn-round btn-block waves-effect waves-light title" style="color: #FFF; background-color: #153aaa;">
    			{% trans into app.request.locale %}Ateliers informatique pour les adultes{% endtrans %}
    			<i class="fa fa-chevron-down"></i>
    		</a>
    		<div id="classique" class="container collapse">
    
    
    			<div class="container">
    				<div class="row">
    					<div class="col-12">
    						<h2 class="about-title text-center">{% trans into app.request.locale %}Pour adultes{% endtrans %}</h2>
    						<p class="text-center">{% trans into app.request.locale %}Optenir une certificat de développeurs, infograhes ou secrétaire avec Samedi informatique{% endtrans %}</p>
    
    					</div>
    				</div>
    			</div>
    
    			<div class="container">
    				<div class="row">
    					<div class="col-md-6">
    						<h4 class="text-center">{% trans into app.request.locale %}Internet/cloud{% endtrans %}</h4>
    						<img src="{{ asset('site/img/formation/internet.jpg')}}" style="width:100%">
    						<p class="text-center">{% trans into app.request.locale %}Introduction à l'utilisation d'Internet, Optimisation de l'utilisation des téléphones Android, Utilisation de l'intelligence artificielle pour le travail, Sécurité en ligne et protection des données personnelles
{% endtrans %}</p>
    
    					</div>
    					<div class="col-md-6">
    						<h4 class="text-center">{% trans into app.request.locale %}Compétences numériques{% endtrans %}</h4>
    						<img src="{{ asset('site/img/formation/numerique.jpg')}}" style="width:100%">
    						<p class="text-center">{% trans into app.request.locale %}Marketing numérique, Utilisation des plateformes de médias sociaux, Whatsapp Business, Montage vidéo sur téléphone portable Retouche d'images sur les téléphones portables, Vente en ligne
{% endtrans %}</p>
    					</div>
    					<div class="col-md-6">
    						<h4 class="text-center" style="height:57.59px">{% trans into app.request.locale %}Logiciels de bureautique (formation de secrétaire) {% endtrans %}</h4>
    						<img src="{{asset('assets/img/samedi-informatique-developpement-web.jpg')}}" style="width:100%">
    						<p class="text-center">{% trans into app.request.locale %}Microsoft Word, Microsoft Excel, Microsoft PowerPoint, Microsoft Publisher, Microsoft Access - Introduction à la création et à la gestion de bases de données
{% endtrans %}
    						</p>
    					</div>
    					<div class="col-md-6">
    						<h4 class="text-center" style="height:57.59px">{% trans into app.request.locale %}Logiciel de conception graphique{% endtrans %}</h4>
    						<img src="{{asset('assets/img/samedi informatique-infographie.jpg')}}" style="width:100%">
    						<p class="text-center">{% trans into app.request.locale %}Adobe Photoshop, Illustrator, Canva, InDesign
{% endtrans %}
    						</p>
    					</div>
                    <div class="col-md-12 text-center">{% trans into app.request.locale %}Les formations en informatique pour adultes sont adaptées à différentes tâches et responsabilités, en fonction des besoins et exigences spécifiques de l'apprenant. Un apprenant peut choisir un maximum de 3 formations pour couvrir une période de temps ou trois périodes de temps{% endtrans %}</div>
    				</div>
    			
    				</p>
    			</div>
    
    			<!-- Page Header End -->
    
    
    		<!-- Single Page Start -->
    			{#     <div class="single">
    			        <div class="container">
    			        <h2 class="about-title text-center"> {% trans into app.request.locale %}Au programme{% endtrans %} </h2>
    			            <div class="row">
    			            
    			                <div class="col-md-5">
    			                <img src="{{ asset('assets/img/prepa-jeunes-cecosdaformation.jpeg')}}" style="width:100%">
    			                </div>
    			                <div class="col-md-7 text-justify">
    			                    
    			                <ul>
    			                    <li><b>{% trans into app.request.locale %}Programmation web{% endtrans %}  :</b> </li>
    			                    {% trans into app.request.locale %}Les jeunes apprenent ici comment créer un site web, avec des langages de programmation web (HTML, CSS, JavaScript et PHP){% endtrans %} .
    			                    <li><b>{% trans into app.request.locale %}Infographie{% endtrans %} :</b></li>
    			                    {% trans into app.request.locale %}Ils apprenent ici comment monter des visuels sur PC avec les outils offices (Powerpoint et Publisher), et les outils de production tel que Photoshop,CANVA {% endtrans %} .
    			                    <li><b>{% trans into app.request.locale %}Bureautique{% endtrans %} :</b></li>
    			                    {% trans into app.request.locale %}Ils apprenent ici la saisie aveugle et la mise en forme d'un document (table de matières, bibliographie automatique){% endtrans %} 
    			                    <br>
    			                    <b>Chaque filière a trois niveaux</b> : 
    			                    <ol>
    			                        <li><b>N1 pour débutant </b> (10.000XAF/mois), </li>
    			                        <li><b>N2 pour avancé </b> (10.000XAF/mois), </li>
    			                        <li><b>N3 pour expérimenté </b> (15.000XAF/mois).</li>
    			                    </ol>
    			                    <br>Les cours ont lieu tous les samedi de 08h00 à 12h00.
    			               </ul>
    			                </div>
    			            </div>
    			        </div>
    			    </div> #}
    		</div>
			 
				<div class="container">
					<div class="row">
						<div class="col-md-12">
						<h3>{% trans into app.request.locale %}Matériels de formation{% endtrans %}</h3>           
						<p>{% trans into app.request.locale %}Pour suivre la formation en Spécial Informatique, le centre met à la disposition de ses apprenants les équipements suivants{% endtrans %} :
<ul>
<li>{% trans into app.request.locale %}Salle de Cours Climatisée{% endtrans %};</li>  
<li>{% trans into app.request.locale %}Vidéoprojecteur et Smart Board{% endtrans %}; </li> 
<li>{% trans into app.request.locale %}Groupe électrogène fonctionnel{% endtrans %}; </li> 
<li>{% trans into app.request.locale %}Connexion Internet Illimitée{% endtrans %}; </li>
<li>{% trans into app.request.locale %}Desktop pour chaque apprenant{% endtrans %}; </li>
<li>{% trans into app.request.locale %}Kits de l’apprenant (Bloc note, stylo, règle, porte document){% endtrans %}; </li>
<li>{% trans into app.request.locale %}Des supports de cours, des exercices pratiques et d'autres ressources pédagogiques{% endtrans %}</li>
</ul>
<p>{% trans into app.request.locale %}Chaque Apprenant devra avoir chez lui des éléments suivants{% endtrans %} :</p>
<ul>
<li>{% trans into app.request.locale %}Une Clé USB{% endtrans %};</li> 
<li>{% trans into app.request.locale %}Un Laptop ou Desktop{% endtrans %};</li>
</ul>
<p>{% trans into app.request.locale %}L'élève peut décider de s'inscrire à un ou deux cours spécialisés à des horaires différents{% endtrans %}.</p>
</div>
<div class="col-md-12">
						<h3>{% trans into app.request.locale %}Diplôme et attestation{% endtrans %}</h3>           
						
<p>
{% trans into app.request.locale %}À la fin de la formation en Spécial Informatique, vous obtiendrez une Attestation de participation{% endtrans %} 
{% trans into app.request.locale %}Les modalités d’obtention de l’Attestation sont les suivants{% endtrans %} :</p>
<ul>
<li>{% trans into app.request.locale %}Payer la totalité des frais de formation{% endtrans %}</li>
<li>{% trans into app.request.locale %}Participer à toutes les séances{% endtrans %} </li>
<li>{% trans into app.request.locale %}Avoir été évalué avec succès dans au moins un module{% endtrans %}</li>
</ul>

</div>
<div class="col-md-12">
<h3>{% trans into app.request.locale %}Modalités de paiement{% endtrans %}</h3>
<ul>
{% trans into app.request.locale %}Le coût de la formation s’élève à{% endtrans %} : 
<li>{% trans into app.request.locale %}10 000 XAF / Mois, pour le Programme Eveil Informatique{% endtrans %}</li>
<li>{% trans into app.request.locale %}10 000 XAF / Mois, pour le Programme Créativité informatique{% endtrans %}</li>
<li>{% trans into app.request.locale %}15.000 XAF / Mois pour le Programme Informatique Appliqué{% endtrans %}</li>
<li>{% trans into app.request.locale %}20.000 XAF / Mois pour le Programme Ateliers Informatiques pour Adultes{% endtrans %}</li>
</ul>
<p>{% trans into app.request.locale %}Ce qui inclut l'accès aux cours, aux supports pédagogiques et aux ressources informatiques nécessaires à l'apprentissage{% endtrans %}.
{% trans into app.request.locale %}Les Moyens de paiement sont les suivants{% endtrans %} : </p>
<ul>
<li>{% trans into app.request.locale %}Orange Money{% endtrans %}</li>
<li>{% trans into app.request.locale %}MTN Mobile Money{% endtrans %}</li>
</ul>
<a href="{{ path('admissionSPI')}}">{% trans into app.request.locale %}Pour en savoir plus vous pouvez lire les modalités d’admission{% endtrans %}</a>

						</div>
					</div>
				</div>
			</div>

    		{# <a data-toggle="collapse" data-target="#specialise" class="btn btn-default btn-round btn-block waves-effect waves-light title" style="color: #FFF; background-color: #153aaa; margin-top:10px">
    			{% trans into app.request.locale %}Consultez l'offre Spécialisée{% endtrans %}
    			<i class="fa fa-chevron-down"></i>
    		</a>
    
    
    		<div id="specialise" class="container collapse">
    			<div class="container">
    				<div class="row">
    					<div class="col-12">
    						<h2 class="about-title text-center">{% trans into app.request.locale %}Pour travailleurs et auto-entrepreneurs{% endtrans %}</h2>
    						<p class="text-center">{% trans into app.request.locale%}Profitez du Samedi pour maitriser le logiciel informatique qu’il vous faut pour accroitre votre productivité{% endtrans %}</p>
    
    					</div>
    				</div>
    			</div>
    
    
    			<div class="container">
    				<div class="row specialise">
    
    					<div class="col-4">
    						<h4>{% trans into app.request.locale %}Logiciels de vente en ligne{% endtrans %}</h4>
    						<ul>
    							<li>Whatsapp Business</li>
    							<li>Facebook Business</li>
    							<li>Instagram Business</li>
    							<li>Sites d’annonces</li>
    
    						</ul>
    					</div>
    					<div class="col-4">
    						<h4>{% trans into app.request.locale %}Logiciels de bureautique{% endtrans %}
    						</h4>
    						<ul>
    							<li>Ms. Word</li>
    							<li>Ms. Excel</li>
    							<li>Ms. PowerPoint</li>
    							<li>Ms. Publisher</li>
    
    						</ul>
    					</div>
    					<div class="col-4">
    						<h4>{% trans into app.request.locale %}Logiciels de vidéo montage{% endtrans %}</h4>
    						<ul>
    							<li>Filmora</li>
    							<li>Capcut</li>
    							<li>Canva</li>
    							<li>Premier Pro</li>
    							<li>Finalcut</li>
    
    						</ul>
    					</div>
    
    					<div class="col-4">
    						<h4>{% trans into app.request.locale %}Logiciels d’infographie{% endtrans %}</h4>
    						<ul>
    							<li>Photoshop</li>
    							<li>Illustrator</li>
    						</ul>
    					</div>
    					<div class="col-4">
    						<h4>{% trans into app.request.locale %}Logiciels de dessin technique{% endtrans %}</h4>
    						<ul>
    							<li>AutoCAD</li>
    							<li>AutoDesk</li>
    							<li>Blender</li>
    							<li>Qgis</li>
    							<li>ArcGIS</li>
    						</ul>
    					</div>
    					<div class="col-4">
    						<h4>{% trans into app.request.locale %}Logiciels de gestion{% endtrans %}</h4>
    						<ul>
    							<li>Excel pour gestion</li>
    							<li>Excel pour base de données</li>
    							<li>Excel pour tableau de bord</li>
    						</ul>
    					</div>
    					<div class="col-4">
    						<h4>{% trans into app.request.locale %}Framework de développement web{% endtrans %}</h4>
    						<ul>
    							<li>Symfony</li>
    							<li>Django</li>
    							<li>Angular</li>
    							<li>Spring</li>
    
    						</ul>
    					</div>
    
    				</div>
    				<h6 class="text-center">{% trans into app.request.locale %}Prix{% endtrans %}:
    					{% trans into app.request.locale %}de 10 000 XAF à 20.000XAF en fonction du domaine{% endtrans %}
    				</h6>
    				<p class="text-center" style="color: #153aaa;">{% trans into app.request.locale %}Deux niveaux disponibles{% endtrans %}
    					:
    					{% trans into app.request.locale %}Niveau 1 et Niveau 2{% endtrans %}</p>
    			</div>
    		</div> #}
    
    	</div>
    </div>

    <div class="row">
		
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight inscription" href="#">{% trans into app.request.locale %}Je m'inscris{% endtrans %}</a>
		</div>
	</div>
    <div id="myModal5" class="modal fade">
			<div class="modal-dialog modal-md">
				<div class="modal-content" style="height: 400px;">
					<div class="modal-header">
						<h5 style="color: darkblue;font-weight: 600;" class="modal-title">{% trans into app.request.locale %}Choisissez la formation a laquelle vous souhaitez vous inscrire{% endtrans %}</h5>
						<button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="d-flex flex-column justify-content-center align-items-left">
						    <p style="color: darkblue"><a href="{{ path('inscriptionSPIeveil')}}">{% trans into app.request.locale %}Eveil informatique pour les enfants de 05 à 07ans{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIaventure')}}">{% trans into app.request.locale %}Créativité Digitale pour les enfants de 08 à 10ans{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIcreativity')}}">{% trans into app.request.locale %}Informatique appliqué pour les enfants de 11 à 13ans{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIspecial')}}">{% trans into app.request.locale %}Informatique spécialisé pour les élèves de 14+ et les étudiants{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIadulte')}}">{% trans into app.request.locale %}Atelier informatique pour adultes{% endtrans %}</a></p>
							</p>

						</div>

					</div>

				</div>
			</div>
		</div>
    <script type="text/javascript">

        $('.nav-link.active').removeClass('active');
        $('.comm').addClass('active');
    </script>

{% endblock %}

    {% block formation %}
        
     
    {% endblock %}
{% block reste %}{% endblock %}
{% block javascripts %}
<script>
// Get the modal
        $(".inscription").on('click', function(){
            $("#myModal5").modal('show');
            $("#myModal5").css('opacity:1');
        });
        
    



        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close1")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            $("#myModal5").modal('hide');
            $("#myModal5").css('opacity:0');
            $("#myModal5").css('display:none');
        };

     


        // Get the <span> element that closes the modal
        var span2 = document.getElementsByClassName("close1")[0];
        // When the user clicks on <span> (x), close the modal
        span2.onclick = function () {
            $(".inscription").css('opacity:0');
            $(".inscription").modal('hide');

        };
        
</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
	<script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
	<script src="{{asset('site/lib/isotope/isotope.pkgd.min.js')}}"></script>
	<script src="{{asset('assets/js/FeedEk.js') }}" type="application/javascript"></script>
	<!-- Template Javascript -->
	<script src="{{asset('site/js/main.js')}}"></script>
	<script src="{{ asset('assets/js/library/sweetalert.min.js')}}"></script>
	<script src="{{ asset('assets/js/library/head.min.js')}}"></script>
	<script src="{{ asset('assets/js/notifs/lobibox.min.js') }}"></script>
	<script src="{{asset('assets/js/notifs/notifications.min.js')}}"></script>
{% endblock %}