{% extends 'home.html.twig' %}
{% block metadescription %}
    <meta content="formations BEPC Probatoire BAC, développeur WordPress, Montage vidéo, Assistant commercial, Assistant Comptable, infographie, Vente en ligne, maintenance informatique" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{% trans into app.request.locale %}Métiers du web et du digital{% endtrans %}</h2>
                </div>
            </div>
        </div>
    </div>
	<div class="container">
            <div class="row">
                <div class="col-12">
                <p>
					<b>{% trans into app.request.locale %}Diplôme {% endtrans %}:</b> {% trans into app.request.locale %}Certificat de qualification professionnel (CQP) Signé par le ministre de l’emploi et de la formation professionnelle (MINEFOP). C’est un diplôme délivré par l’Etat du Cameroun après réussite avec au moins 14/20 à l’examen national {% endtrans %}.<br>
					<b>{% trans into app.request.locale %}Rentrées {% endtrans %}:</b> {% trans into app.request.locale %}15 Novembre 2022 et 10 Janvier 2023 {% endtrans %}. <br>
					<b>{% trans into app.request.locale %}Période de stage{% endtrans %}:</b> {% trans into app.request.locale %}Juillet à Septembre{% endtrans %}.<br>
					<br>
					<i><b>NB :</b> {% trans into app.request.locale %}Pour les travailleurs, la période de stage est flexible{% endtrans %}</i>
					</p>
                </div>
            </div>
        </div>
    <!-- Page Header End -->


    <!-- Single Page Start -->
    <div class="single">
        <div class="container">
            <div class="row">
                    
				<table class="table table-bordered ">
				<thead>
				<tr class="text-center">
							<th>
								<p><strong>{% trans into app.request.locale %}Filières ouvertes{% endtrans %} </strong></p>
							</th>
							<th>
								<p><strong>{% trans into app.request.locale %}Prérequis{% endtrans %}</strong></p>
							</th>
							<th>
								<p><strong>{% trans into app.request.locale %}Prix en CFA{% endtrans %}</strong></p>
							</th>
						</tr>
				</thead>

					<tbody>
						

						
						<tr>
						<td>
						{% if app.request.locale == 'en' %}
						<a href="{{asset('assets/doc/course-description-community-manager-CECOSDAFormation.pdf')}}" download>Community manager
                		<i class="fa fa-download"></i></a>
						{% endif %}
						{% if app.request.locale == 'fr' %}
						<a href="{{asset('assets/doc/fiche-information-community-manager-CECOSDAFormation.pdf')}}" download>Community manager
                		<i class="fa fa-download"></i></a>
						
						{% endif %}
						</td>
						<td>{% trans into app.request.locale %}BAC+2{% endtrans %}</td>
						<td>475.000 XAF</td>
						</tr>
						<tr>
						<td>
						{% if app.request.locale == 'en' %}
						<a href="{{asset('assets/doc/course-description-audiovisual-communication-CECOSDAFormation.pdf')}}" download>{% trans into app.request.locale %}Montage audio-visuel et communication digitale{% endtrans %}
                		<i class="fa fa-download"></i></a>
						{% endif %}
						{% if app.request.locale == 'fr' %}
						<a href="{{asset('assets/doc/fiche-information-audiovisuel-communication1-CECOSDAFormation.pdf')}}" download>{% trans into app.request.locale %}Montage audio-visuel et communication digitale{% endtrans %}
                		<i class="fa fa-download"></i></a>
						
						{% endif %}
						</td>
						<td>{% trans into app.request.locale %}BAC{% endtrans %}</td>
						<td>350.000 XAF</td>
						</tr>
						<tr>
						<td>{% if app.request.locale == 'en' %}
						<a href="{{asset('assets/doc/course-description-graphic design-CECOSDAFormation.pdf')}}" download>{% trans into app.request.locale %}Infographie et communication digitale{% endtrans %}
                		<i class="fa fa-download"></i></a>
						{% endif %}
						{% if app.request.locale == 'fr' %}
						<a href="{{asset('assets/doc/fiche-information-infographie-CECOSDAFormation.pdf')}}" download>{% trans into app.request.locale %}Infographie et communication digitale{% endtrans %}
                		<i class="fa fa-download"></i></a>
						
						{% endif %}
						</td>
						<td>{% trans into app.request.locale %}BAC{% endtrans %}</td>
						<td>350.000 XAF</td>
						</tr>
						<tr>
						<td>
						{% if app.request.locale == 'en' %}
						<a href="{{asset('assets/doc/course-description-websesign-blog-CECOSDAFormation.pdf')}}" download>{% trans into app.request.locale %}Web design et blogs{% endtrans %}
                		<i class="fa fa-download"></i></a>
						{% endif %}
						{% if app.request.locale == 'fr' %}
						<a href="{{asset('assets/doc/fiche-information-websesign-blog-CECOSDAFormation.pdf')}}" download>{% trans into app.request.locale %}Web design et blogs{% endtrans %}
                		<i class="fa fa-download"></i></a>
						
						{% endif %}
						</td>
						<td>{% trans into app.request.locale %}BAC{% endtrans %}</td>
						<td>350.000 XAF</td>
						</tr>
							
					</tbody>
				</table>
				
			<div class="row">
				
							<div class="col-md-6">
							<h4>{% trans into app.request.locale %}Période des évaluations {% endtrans %}: </h4>
				{% trans into app.request.locale %}Ceux qui s’inscrivent au CQP auront 4 évaluations obligatoires dont les notes se refléteront sur un bulletin consultable en ligne{% endtrans %}.
				{% trans into app.request.locale %}Evaluations des modules{% endtrans %}.
				{% trans into app.request.locale %}A la fin de chaque module, l’apprenant est évalué et les notes sont reportées dans le bulletin qui sera transmis au Ministère{% endtrans %}

							</div> 
							<div class="col-md-6">
							<h4>{% trans into app.request.locale %}Date évaluation{% endtrans %}</h4>
				{% trans into app.request.locale %}Chez CECOSDA Formation, nous avons 4 modules. Chaque module a au minimum 2 Unités d’Enseignement (UE) et au maximum 4 UE dont une UE dédiée au projet professionnel du module{% endtrans %}.

				<p><b>{% trans into app.request.locale %}Module 1{% endtrans %}:</b> {% trans into app.request.locale %}Mars (Evaluation des UE et présentation du projet professionnel 1){% endtrans %}</p>
				<p><b>{% trans into app.request.locale %}Module 2{% endtrans %}:</b> {% trans into app.request.locale %}Mai (Evaluation des UE et présentation du projet professionnel 2){% endtrans %}</p>
			    <p><b>{% trans into app.request.locale %}Module 3{% endtrans %}:</b> {% trans into app.request.locale %}Juillet (Evaluation des UE et présentation du projet professionnel 3){% endtrans %}</p>
				<p><b>{% trans into app.request.locale %}Module 4{% endtrans %}:</b> {% trans into app.request.locale %}Octobre (Note de rapport de stage en entreprise){% endtrans %}</p>
				<p><b>NB :</b> <i>{% trans into app.request.locale %}Pour les travailleurs et candidats en ligne qui ont un emploi de temps complexe, les dates d’évaluation sont flexibles mais, doivent être toutes finalisées avant le dépôt des dossiers CQP{% endtrans %}.</i> </p>

						</div> 
			
			</div>
            

			<div class="row">
				<div class="col-md-6">
				<h4>{% trans into app.request.locale %}Evaluations de fin de formation{% endtrans %}</h4>
				<ul type="square">
				<li>{% trans into app.request.locale %}Examen interne de fin de formation organisé par le Centre{% endtrans %} :  {% trans into app.request.locale %}Fin Octobre début Novembre{% endtrans %}</li>
				<li>{% trans into app.request.locale %}Examen national organisé par le ministère{% endtrans %} :  {% trans into app.request.locale %}Décembre{% endtrans %}</li>
				</ul>
				
				</div>
				<div class="col-md-6">

				<h4>{% trans into app.request.locale %}Durée de la formation{% endtrans %}: </h4>{% trans into app.request.locale %}12 mois {% endtrans %}.<br>
				<b>NB : {% trans into app.request.locale %}Les candidats qui ne désirent pas présenter l’examen CQP recevront une Attestation de qualification professionnelle délivrée par le centre{% endtrans %}.</b>
			
				
				</div>
				
				
			</div>
			 
			
			</div>        
                
            </div>
        </div>
    </div> 
    <div class="row">
		<div class="col-md-12 text-center">
		<h5>{% trans into app.request.locale %}Vous souhaitez une formation spécifique{% endtrans %} ? <a href="https://wa.me/237677325343">
				 {% trans into app.request.locale %}Contactez-nous{% endtrans %}
			</a></h5>
			
		</div>
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight" href="{{ path('inscription')}}">{% trans into app.request.locale %}Je m'inscris{% endtrans %}</a><a id="plus-dinfos" data-toggle="collapse" data-target="#plus-infos"  class="btn btn-warning" href="#">{% trans into app.request.locale %}Je veux plus d’informations{% endtrans %}</a>
		</div>
	
	</div> 
	<div id="myModal4" class="col-12 mt-2 modal fade">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<h5 style="color: darkblue;font-weight: 600;" class="modal-title">{% trans into app.request.locale %}Un E-mail instantané vous sera envoyé{% endtrans %}</h5>
									<button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">×</button>
								</div>
								<div class="modal-body">
									<div class="form section-bg wow BounceInUp">
										<form action="{{path('contact_mail', {'locale': app.request.locale})}}" method="post">
											<div class="form-row">
												<h1 class="text-center" style="width:100%"></h1>
												<div class="form-group col-md-6">
													<input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" required=""/>
													<div class="validation"></div>
												</div>
												<div class="form-group col-md-6">
													<input type="email" class="form-control" required="" name="email" id="email" placeholder="Votre e-mail"/>
													<div class="validation"></div>
												</div>
											</div>
											<div class="form-group">{% trans into app.request.locale %}Je souhaite avoir les informations sur{% endtrans %} :
												<select id="subject" name="subject" class="form-control">
													<option value="assistanat">{% trans into app.request.locale %}Métiers de l'administration{% endtrans %}</option>
													<option value="digital">{% trans into app.request.locale %}Métiers du web et du digital{% endtrans %}</option>
													<option value="prepajeunes">{% trans into app.request.locale %}Spécial informatique {% endtrans %}</option>
													<option value="entreprises">{% trans into app.request.locale %}Formation en privé/à la carte{% endtrans %}</option>
												</select>
												<div class="validation"></div>
											</div>
											<div class="text-center">
												<button type="submit">{% trans into app.request.locale %}Envoyez{% endtrans %}</button>
											</div>
										</form>
									</div>
								</div>
				</div>
				</div>
			</div>
        
    <script type="text/javascript">

        $('.nav-link.active').removeClass('active');
        $('.comm').addClass('active');
    </script>
{% endblock %}

    {% block formation %}
        
     
    {% endblock %}
{% block reste %}{% endblock %}



