{% extends 'home.html.twig' %}
{% block metadescription %}
    <meta content="formations BEPC Probatoire BAC, développeur WordPress, Montage vidéo, Assistant commercial, Assistant Comptable, infographie, Vente en ligne, maintenance informatique" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{% trans into app.request.locale %}Formations à la carte/privée{% endtrans %}</h2>
                    <h4 class="text-center">{% trans into app.request.locale %}Les formations sont celles sollicitées par l'utilisateur{% endtrans %}</h4>
        
                </div>
            </div>
        </div>
    </div>
	<div class="container">
            <div class="row">
                <div class="col-12">
                <b>{% trans into app.request.locale %}Diplôme{% endtrans %} : </b> {% trans into app.request.locale %}Certifications & Attestations{% endtrans %}
<p>{% trans into app.request.locale %}Pour obtenir une Attestation/Certification de formation, il faut avoir été évalué avec succès suivant le cahier de charge de la formation{% endtrans %}.
{% trans into app.request.locale %}Ces formations se déroulent au centre, en entreprise ou en ligne{% endtrans %}. </p>

                </div>
            </div>
        </div>
    <!-- Page Header End -->


    <!-- Single Page Start -->

    <div class="row">
		<div class="col-md-12 text-center">
		<h5>{% trans into app.request.locale %}Vous souhaitez une formation spécifique{% endtrans %} ? <a href="https://wa.me/237677325343">
				 {% trans into app.request.locale %}Contactez-nous{% endtrans %}
			</a> 	<br><a id="plus-dinfos" data-toggle="collapse" data-target="#plus-infos"  class="btn btn-warning" href="#">{% trans into app.request.locale %}Je veux plus d’informations{% endtrans %}</a>
						</h5>
			
		</div>
		
	
	</div>   
    <div id="myModal4" class="col-12 mt-2 modal fade">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<h5 style="color: darkblue;font-weight: 600;" class="modal-title">{% trans into app.request.locale %}Un E-mail instantané vous sera envoyé{% endtrans %}</h5>
									<button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">×</button>
								</div>
								<div class="modal-body">
									<div class="form section-bg wow BounceInUp">
										<form action="{{path('contact_mail', {'locale': app.request.locale})}}" method="post">
											<div class="form-row">
												<h1 class="text-center" style="width:100%"></h1>
												<div class="form-group col-md-6">
													<input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" required=""/>
													<div class="validation"></div>
												</div>
												<div class="form-group col-md-6">
													<input type="email" class="form-control" required="" name="email" id="email" placeholder="Votre e-mail"/>
													<div class="validation"></div>
												</div>
											</div>
											<div class="form-group">{% trans into app.request.locale %}Je souhaite avoir les informations sur{% endtrans %} :
												<select id="subject" name="subject" class="form-control">
													<option value="assistanat">{% trans into app.request.locale %}Métiers de l'administration{% endtrans %}</option>
													<option value="digital">{% trans into app.request.locale %}Métiers du web et du digital{% endtrans %}</option>
													<option value="prepajeunes">{% trans into app.request.locale %}Spécial informatique{% endtrans %}</option>
													<option value="entreprises">{% trans into app.request.locale %}Formation en privé/à la carte{% endtrans %}</option>
												</select>
												<div class="validation"></div>
											</div>
											<div class="text-center">
												<button type="submit">{% trans into app.request.locale %}Envoyez{% endtrans %}</button>
											</div>
										</form>
									</div>
								</div>
				</div>
				</div>
			</div>           
    <script type="text/javascript">

        $('.nav-link.active').removeClass('active');
        $('.comm').addClass('active');
    </script>
{% endblock %}

    {% block formation %}
        
     
    {% endblock %}
{% block reste %}{% endblock %}
