{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="Filières ouvertes pour 2021-2022 : Community manager, Assistant Administratif, Idéale pour les personnes ayant fait des études supérieures, Inscrivez-vous en ligne ou en présentiel avant le 20 novembre 2021, Stages en entreprise inclus" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}


	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>{{ 'sinscrireprepa.title'|trans}}</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
				{% for msg in app.session.flashBag.get('email') %}
                        <div class="text-success text-center ">
                            {{ msg }}
                        
                        </div>
                        {% endfor %}


				<div class="row">
					<div class="col-md-6 d-none">
						<img class="img-fluid rounded" src="{{asset('site/img/visite/1.jpg')}}" alt="Image">
					</div>
					<div class="col-md-12">
						<p class="text-center">
							{{'sinscrireprepa.texteintro'|trans}}:
						</p>
						{{ form_start(form) }}
						{{ form_row(form._token) }}
						<div class="">
							<div class="contact-form">
								<form>
									<div class="row">
									<fieldset class="col-md-12 ligne">
										<legend>{% trans into app.request.locale %}Informations personnelles {% endtrans %}</legend>
										<div class="row">
											<div class="form-group col-md-6">
												{{ form_label(form.nomenfant) }}
												{{ form_widget(form.nomenfant) }}
												<span class="text-danger">
													{{ form_errors(form.nomenfant) }}
												</span>
											</div>
                                            <div class="form-group col-md-6">
												{{ form_label(form.classe) }}
												{{ form_widget(form.classe) }}
												<span class="text-danger">
													{{ form_errors(form.classe) }}
												</span>
											</div>
                                            <div class="form-group col-md-6">
												{{ form_label(form.langue) }}
												{{ form_widget(form.langue) }}
												<span class="text-danger">
													{{ form_errors(form.langue) }}
												</span>
											</div>
                                            <div class="form-group col-md-6">
												{{ form_label(form.sexe) }}
												{{ form_widget(form.sexe) }}
												<span class="text-danger">
													{{ form_errors(form.sexe) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(form.nomparent) }}
												{{ form_widget(form.nomparent) }}
												<span class="text-danger">
													{{ form_errors(form.nomparent) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(form.telephone) }}
												{{ form_widget(form.telephone,{'attr':{'class':'form-control', 'data-mask':'(+___) ___-__-__-__', 'required': 'required'}}) }}
												<span class="text-danger">
													{{ form_errors(form.telephone) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(form.email) }}
												{{ form_widget(form.email) }}
												<span class="text-danger">
													{{ form_errors(form.email) }}
												</span>
											</div>
											
											<div class="form-group col-md-6">
												{{ form_label(form.ville) }}
												{{ form_widget(form.ville) }}
												<span class="text-danger">
													{{ form_errors(form.ville) }}
												</span>
											</div>
											
										</div>
										
									</fieldset>
									<br>
									<fieldset  class="col-md-12 ligne">
										<legend>{% trans into app.request.locale %}Informations sur la formation{% endtrans %}
										</legend>
										<div class="row">
											
											<div class="form-group col-md-6" style="">
												<label class="control-label required" id="app_bundle_inscription_filiere_label" for="app_bundle_inscription_filiere">Liste de formations</label>
												{{ form_widget(form.type) }}
												<span class="text-danger">
													{{ form_errors(form.type) }}
												</span>
											</div>
										</div>
										
									</fieldset>
									<br>
										
									<div class="text-center col-md-12" style="margin-top: 15px">
										<button class="btn btn-primary" type="submit">{% trans into app.request.locale %}Confirmer et soumettre{% endtrans %}</button>
									</div>
								</form>
							</div>
						</div>
						{{ form_rest(form) }}
						{{ form_end(form) }}
					</div>
				</div>
		</div>
	</div>

	<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
		$('.inscription').addClass('active');
	
	
	
	</script>
	<script src="{{ asset('assets/js/main/cores/test/registration.js') }}"></script>
	<script type="text/javascript">
		function phone() {
			var $phone = $('#fos_user_registration_form_telephone');
			if($phone.val() !== ''){
				var dialCode = $('.iti__selected-dial-code')[0].innerText;
				$('#country_code').val(dialCode);
			}
		}
	</script>
	<script type="text/javascript">
		$(window).on('load', function() {
			$('#fos_user_registration_form_telephone').attr('type', 'number');
		})
	</script>
	<script src="{{ asset('assets/js/main/cores/register.js') }}"></script>
{% endblock %}

{% block formation %}{% endblock %}
{% block reste %}{% endblock %}
