{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="Filières ouvertes pour 2021-2022 : Community manager, Assistant Administratif, Idéale pour les personnes ayant fait des études supérieures, Inscrivez-vous en ligne ou en présentiel avant le 20 novembre 2021, Stages en entreprise inclus" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}


	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>{% trans into app.request.locale %}Inscription au programme informatique applique{% endtrans %}</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
				{% for msg in app.session.flashBag.get('email') %}
                        <div class="text-success text-center ">
                            {{ msg }}
                        
                        </div>
                        {% endfor %}


				<div class="row">
					<div class="col-md-12">
						<p class="text-center">
							{{'inscriptioncqpenligne.soustitre'|trans}}:
						</p>
						{{ form_start(formcreativity) }}
						{{ form_row(formcreativity._token) }}
						<div class="">
							<div class="contact-form">
								<form>
									<div class="row">
									<fieldset class="col-md-12 ligne">
										<legend>{% trans into app.request.locale %}Informations personnelles {% endtrans %}</legend>
										<div class="row">
											<div class="form-group col-md-6">
												{{ form_label(formcreativity.nomPrenom, 'nomprenom'|trans) }}
												{{ form_widget(formcreativity.nomPrenom) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.nomPrenom) }}
												</span>
											</div>
											
                                            <div class="form-group col-md-6">
												{{ form_label(formcreativity.langue, 'langue'|trans) }}
												{{ form_widget(formcreativity.langue) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.langue) }}
												</span>
											</div>
                                            <div class="form-group col-md-6">
												{{ form_label(formcreativity.sexe, 'sexe'|trans) }}
												{{ form_widget(formcreativity.sexe) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.sexe) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(formcreativity.classe,'classe'|trans) }}
												{{ form_widget(formcreativity.classe) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.classe) }}
												</span>
											</div>
											
											
											<div class="form-group col-md-6" >
												{{ form_label(formcreativity.etablissement,'etablissement'|trans) }}
												{{ form_widget(formcreativity.etablissement) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.etablissement) }}
												</span>
											</div>
											
											
											<div class="form-group col-md-6"  style="display:none">
												{{ form_label(formcreativity.occupation,'occupation'|trans) }}
												{{ form_widget(formcreativity.occupation) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.occupation) }}
												</span>
											</div>
											<div class="form-group col-md-6"  style="display:none">
												{{ form_label(formcreativity.telephone, 'telephone'|trans) }}
												{{ form_widget(formcreativity.telephone,{'attr':{'class':'form-control', 'data-mask':'(+___) ___-__-__-__', 'required': 'required'}}) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.telephone) }}
												</span>
											</div>
											<div class="form-group col-md-6"  style="display:none">
												{{ form_label(formcreativity.email, 'email'|trans) }}
												{{ form_widget(formcreativity.email) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.email) }}
												</span>
											</div>
											
											<div class="form-group col-md-6" >
												{{ form_label(formcreativity.telephoneparent1, 'telephoneparent1'|trans) }}
												{{ form_widget(formcreativity.telephoneparent1,{'attr':{'class':'form-control', 'data-mask':'(+___) ___-__-__-__', 'required': 'required'}}) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.telephoneparent1) }}
												</span>
											</div>
											<div class="form-group col-md-6" >
												{{ form_label(formcreativity.telephoneparent2, 'telephoneparent2'|trans) }}
												{{ form_widget(formcreativity.telephoneparent2,{'attr':{'class':'form-control', 'data-mask':'(+___) ___-__-__-__', 'required': 'required'}}) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.telephoneparent2) }}
												</span>
											</div>
											<div class="form-group col-md-6"  style="display:none">
												{{ form_label(formcreativity.cni,'cni'|trans) }}
												{{ form_widget(formcreativity.cni) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.cni) }}
												</span>
											</div>
											
											
											<div class="form-group col-md-6"  style="display:none">
												{{ form_label(formcreativity.dernierDiplome,'dernierDiplome'|trans) }}
												{{ form_widget(formcreativity.dernierDiplome) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.dernierDiplome) }}
												</span>
											</div>
											
											<div class="form-group col-md-6"  style="display:none">
												{{ form_label(formcreativity.equipement,'equipement'|trans) }}
												{{ form_widget(formcreativity.equipement) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.equipement) }}
												</span>
											</div>
											
											<div class="form-group col-md-6"  style="display:none">
												{{ form_label(formcreativity.Internet,'Internet'|trans) }}
												{{ form_widget(formcreativity.Internet) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.Internet) }}
												</span>
											</div>
											
											<div class="form-group col-md-6"  style="display:none">
												{{ form_label(formcreativity.smartphone,'smartphone'|trans) }}
												{{ form_widget(formcreativity.smartphone) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.smartphone) }}
												</span>
											</div>
											
											
											<div class="form-group col-md-6" style="display:none">
												{{ form_label(formcreativity.connect,'connect'|trans) }}
												{{ form_widget(formcreativity.connect) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.connect) }}
												</span>
											</div>
											
										</div>

										
									</fieldset>
									<br>
									<fieldset  class="col-md-12 ligne">
										<legend>{% trans into app.request.locale %}Informations sur la formation{% endtrans %}
										</legend>
										<div class="row">
											
											<div class="form-group col-md-6" >
												{{ form_label(formcreativity.type,'type'|trans) }}
												{{ form_widget(formcreativity.type, {'attr':{'readonly':'readonly'}}) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.type) }}
												</span>
											</div>
											
											
											<div class="form-group col-md-6" style="display: none">
												{{ form_label(formcreativity.plagechoisie,'plagechoisie'|trans) }}
												{{ form_widget(formcreativity.plagechoisie) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.plagechoisie) }}
												</span>
											</div>
											
											<div class="form-group col-md-6" style="display: none">
												{{ form_label(formcreativity.specialite,'specialite'|trans) }}
												{{ form_widget(formcreativity.specialite) }}
												<span class="text-danger">
													{{ form_errors(formcreativity.specialite) }}
												</span>
											</div>
										</div>
										
									</fieldset>
									<br>
										
									<div class="text-center col-md-12" style="margin-top: 15px">
										<button class="btn btn-primary" type="submit">{% trans into app.request.locale %}Confirmer et soumettre{% endtrans %}</button>
									</div>
									<div class="text-center col-md-12" style="margin-top: 15px">
									<a class="btn btn-success inscription" href="#" >{% trans into app.request.locale %}Je m’inscris à une autre formation{% endtrans %} </a>
									</div>
								</form>
							</div>
						</div>
						{{ form_rest(formcreativity) }}
						{{ form_end(formcreativity) }}
					</div>
				</div>
		</div>
	</div>
<div id="myModal5" class="modal fade">
			<div class="modal-dialog modal-md">
				<div class="modal-content" style="height: 400px;">
					<div class="modal-header">
						<h5 style="color: darkblue;font-weight: 600;" class="modal-title">{% trans into app.request.locale %}Choisissez la formation a laquelle vous souhaitez vous inscrire{% endtrans %}</h5>
						<button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="d-flex flex-column justify-content-center align-items-left">
							<p style="color: darkblue"><a href="{{ path('inscriptionCQPenpresentiel')}}">{% trans into app.request.locale %}CQP Assistant administratif en presentiel{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionCQPenligne')}}">{% trans into app.request.locale %}CQP Assistant administratif en ligne{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIeveil')}}">{% trans into app.request.locale %}Eveil informatique pour les enfants de 05 à 07ans{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIaventure')}}">{% trans into app.request.locale %}Créativité Digitale pour les enfants de 08 à 10ans{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIcreativity')}}">{% trans into app.request.locale %}Informatique appliqué pour les enfants de 11 à 13ans{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIspecial')}}">{% trans into app.request.locale %}Informatique spécialisé pour les élèves de 14+ et les étudiants{% endtrans %}</a></p>
							<p style="color: darkblue"><a href="{{ path('inscriptionSPIadulte')}}">{% trans into app.request.locale %}Ateliers informatique pour adultes{% endtrans %}</a></p>

						</div>

					</div>

				</div>
			</div>
		</div>
	<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
		$('.inscription').addClass('active');
	
	
	
	</script>
	<script src="{{ asset('assets/js/main/cores/test/registration.js') }}"></script>
	<script type="text/javascript">
		function phone() {
			var $phone = $('#fos_user_registration_form_telephone');
			if($phone.val() !== ''){
				var dialCode = $('.iti__selected-dial-code')[0].innerText;
				$('#country_code').val(dialCode);
			}
		}
	</script>
	<script type="text/javascript">
		$(window).on('load', function() {
			$('#fos_user_registration_form_telephone').attr('type', 'number');
		})
		phone();
	</script>
	<script src="{{ asset('assets/js/main/cores/register.js') }}"></script>
{% endblock %}

{% block formation %}{% endblock %}
{% block reste %}{% endblock %}
