{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="Assistant commercial, Assistant Communication, Assistant comptable Caissière, Technicienne ressources humaines, Assistant formation, Assistante de Direction, Assistante de gestion d'entreprise, Assistant administratif, Assistant de projet, Chargé clientèle, Assistante chef de projet, Assistante de gestion administrative, formation d'assistants administratifs" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Marketing et communication</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->


	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row">
					
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td>
									<p><strong>Fili&egrave;res ouvertes </strong></p>
								</td>
								<td>
									<p><strong>Prix en&nbsp;F CFA</strong></p>
								</td>
								<td>
									<p><strong>Dur&eacute;e</strong></p>
								</td>
								<td>
									<p><strong>Pr&eacute;requis</strong></p>
								</td>
								<td>
									<p><strong>Modules</strong></p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Secr&eacute;taire Bureautique</p>
								</td>
								<td>
									<p>100 000&nbsp;</p>
								</td>
								<td>
									<p>3 mois+ 3 mois de stage</p>
								</td>
								<td>
									<p>BEPC</p>
								</td>
								<td>En salle</td>
							</tr>
							<tr>
								<td>
									<p>Caissier, T&eacute;l&eacute;op&eacute;ratrice, standardiste, conseill&eacute; d&rsquo;accueil,</p>
									<p>op&eacute;rateur de saisie, R&eacute;ceptionniste,</p>
								</td>
								<td>
									<p>150 000</p>
								</td>
								<td>
									<p>3 mois+ 3 mois de stage</p>
								</td>
								<td>
									<p>BEPC</p>
								</td>
								<td>En salle</td>
							</tr>
							<tr>
								<td>
									<p>Secr&eacute;taire bilingue, Assistant RH, Assistant commercial,</p>
									<p>Assistant Comptable</p>
								</td>
								<td>
									<p>200 000</p>
								</td>
								<td>
									<p>6 mois+ 3 mois de stage</p>
								</td>
								<td>
									<p>BAC</p>
								</td>
								<td>En ligne et en salle</td>
							</tr>
							<tr>
								<td>
									<p>Assistant administratif</p>
								</td>
								<td>
									<p>375 000</p>
								</td>
								<td>
									<p>9 mois+ 3 mois de stage</p>
								</td>
								<td>
									<p>BAC + 2</p>
								</td>
								<td>En ligne et en salle</td>
							</tr>
						</tbody>
					</table>
						
					</div>
				</div>
			
			</div>
		</div>
	</div>
		<div class="row">
		<div class="col-md-12 text-center">
			<h5>Vous souhaitez une formation sp&eacute;cifique ? 
			<a href="https://wa.me/237677325343">
					Contactez-nous
				</a>
				</h5>
			
		</div>
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight" href="{{ path('inscription')}}">Je m'inscris</a>
		</div>
	
	</div>
	<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
		$('.market').addClass('active');
	</script>

{% endblock %}

    {% block formation %}
		
    {% endblock %}
{% block reste %}{% endblock %}
