{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="Assistant commercial, Assistant Communication, Assistant comptable Caissière, Technicienne ressources humaines, Assistant formation, Assistante de Direction, Assistante de gestion d'entreprise, Assistant administratif, Assistant de projet, Chargé clientèle, Assistante chef de projet, Assistante de gestion administrative, formation d'assistants administratifs" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}

{% block stylecss %}

         <!-- Template Stylesheet -->
   
        <link href="{{ asset('sitev2/css/style2.css')}}" rel="stylesheet">
{% endblock %}

{% block contenu %}
	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>{{'prix.titre'|trans }}</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->


	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
			<div class="row">
			
						<table class=" table table-bordered">
              <thead>
                
                 
                 <td><strong>{% trans into app.request.locale %}Nos formations {% endtrans %}</strong></td>
                 <td><strong>{% trans into app.request.locale %}Inscription{% endtrans %}</strong></td>
                 <td><strong>{% trans into app.request.locale %}Coût de la formation{% endtrans %}</strong></td>
                 
                </thead>
              <tbody>
               
                <tr>
                  <td>{% trans into app.request.locale %}Formations 01 mois {% endtrans %}</td>
                  <td>5.000 XAF</td>
                  <td>50.000&nbsp; XAF</td>
                </tr>
                <tr>
                  <td>{% trans into app.request.locale %}Formations 03 mois {% endtrans %}</td>
                  <td>15.000 XAF</td>
                  <td>150.000 XAF</td>
                </tr>
                <tr>
                  <td>{% trans into app.request.locale %}Formations 06 mois {% endtrans %}</td>
                  <td>20.000 XAF</td>
                  <td>250.000 XAF</td>
                </tr>
                <tr>
                  <td>{% trans into app.request.locale %}Formations 09 mois {% endtrans %}</td>
                  <td>25.000 XAF</td>
                  <td>{% trans into app.request.locale %}A partir{% endtrans %} de 350.000 XAF</td>
                </tr>
                <tr>
                  <td>{% trans into app.request.locale %}Formations Vacances {% endtrans %}</td>
                  <td>5.000 XAF</td>
                  <td>25.000 XAF</td>
                </tr>
              </tbody>
            </table>
           
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight" href="{{ path('inscription')}}">{% trans into app.request.locale %}Je m'inscris{% endtrans %}</a>
		</div>
	
	</div>

	<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
        $('.atouts').addClass('active');
	</script>

{% endblock %}

    {% block formation %}
		
    {% endblock %}
{% block reste %}{% endblock %}
