{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="Filières ouvertes pour 2021-2022 : Community manager, Assistant Administratif, Idéale pour les personnes ayant fait des études supérieures, Inscrivez-vous en ligne ou en présentiel avant le 20 novembre 2021, Stages en entreprise inclus" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}


	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>{{ 'sinscrire.title'|trans}}</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
			{% if  success %}
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-success text-center">
							Votre inscription a été enregistré. Merci !
						</h3>
						<p class="mt-3" style="color:red;font-size: 14px;font-style: italic;">
							N.B: Votre soumission de dossier pour étude n’est pas une admission. CECOSDAFormation se chargera de vous dire si vous avez rempli toutes les conditions pour être admis.
						</p>
					</div>
				</div>
			{% endif %}
			{% if not success %}


				<div class="row">
					<div class="col-md-6 d-none">
						<img class="img-fluid rounded" src="{{asset('site/img/visite/1.jpg')}}" alt="Image">
					</div>
					<div class="col-md-12">
						<p class="text-center">
							{{'sinscrire.texteintro'|trans}}:
						</p>
						{{ form_start(form) }}
						{{ form_row(form._token) }}
						<div class="">
							<div class="contact-form">
								<form>
									<div class="row">
									<fieldset class="col-md-12 ligne">
										<legend>{% trans into app.request.locale %}Informations personnelles {% endtrans %}</legend>
										<div class="row">
											<div class="form-group col-md-6">
												{{ form_label(form.nomPrenom) }}
												{{ form_widget(form.nomPrenom) }}
												<span class="text-danger">
													{{ form_errors(form.nomPrenom) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(form.telephone) }}
												{{ form_widget(form.telephone,{'attr':{'class':'form-control', 'data-mask':'(+___) ___-__-__-__', 'required': 'required'}}) }}
												<span class="text-danger">
													{{ form_errors(form.telephone) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(form.email) }}
												{{ form_widget(form.email) }}
												<span class="text-danger">
													{{ form_errors(form.email) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(form.sexe) }}
												{{ form_widget(form.sexe) }}
												<span class="text-danger">
													{{ form_errors(form.sexe) }}
												</span>
											</div>
											<div class="form-group col-md-6">
											{% trans into app.request.locale %} {% endtrans %}	{{ form_label(form.ville) }}
												{{ form_widget(form.ville) }}

												<span class="text-danger">
													{{ form_errors(form.ville) }}
												</span>
											</div>
											<div class="form-group col-md-6 col-lg-4" style="">
												{{ form_label(form.dernierDiplome) }}
												{{ form_widget(form.dernierDiplome) }}
												<span class="text-danger">
													{{ form_errors(form.dernierDiplome) }}
												</span>
											</div>
											<div class="form-group col-md-6">
											{% trans into app.request.locale %} {% endtrans %}	{{ form_label(form.langue) }}
												{{ form_widget(form.langue) }}

												<span class="text-danger">
													{{ form_errors(form.langue) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(form.pays) }}
												{{ form_widget(form.pays) }}
												<span class="text-danger">
													{{ form_errors(form.pays) }}
												</span>
											</div>
										
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												{{ form_label(form.personContact) }}
												{{ form_widget(form.personContact) }}
												<span class="text-danger">
													{{ form_errors(form.personContact) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(form.emailpersonContact) }}
												{{ form_widget(form.emailpersonContact) }}
												<span class="text-danger">
													{{ form_errors(form.emailpersonContact) }}
												</span>
											</div>
											<div class="form-group col-md-6">
												{{ form_label(form.telephonepersonContact) }}
												{{ form_widget(form.telephonepersonContact) }}
												<span class="text-danger">
													{{ form_errors(form.telephonepersonContact) }}
												</span>
											</div>
											
											
											
										</div>
										
									</fieldset>
									<br>
									<fieldset  class="col-md-12 ligne">
										<legend>{% trans into app.request.locale %}Informations sur la formation{% endtrans %}
										</legend>
										<div class="row">
											<div class="form-group col-md-6" style="">
												{{ form_label(form.optionApprentissage) }}
												{{ form_widget(form.optionApprentissage) }}
												<span class="text-danger">
													{{ form_errors(form.optionApprentissage) }}
												</span>
											</div>
											<div class="form-group col-md-6" style="">
												<label class="control-label required" id="app_bundle_inscription_filiere_label" for="app_bundle_inscription_filiere">Liste de formations</label>
												{{ form_widget(form.filiere) }}
												<span class="text-danger">
													{{ form_errors(form.filiere) }}
												</span>
											</div>
										</div>
									</fieldset>
									<br>
									<fieldset class="col-md-12 ligne">
										<legend>{% trans into app.request.locale %} Informations Connexes {% endtrans %}</legend>
										<div class="row">
											<div class="form-group col-md-6" style="">
												{{ form_label(form.vusur) }}
												{{ form_widget(form.vusur) }}
												<span class="text-danger">
													{{ form_errors(form.vusur) }}
												</span>
											</div>											
																						
											<div class="form-group col-md-6 col-lg-4" style="">
												<a href="#" id="plus-dinfos">J'ai lu les conditions d'admission</a>{{ form_label(form.engagement) }}
												{{ form_widget(form.engagement) }}
												<span class="text-danger">
													{{ form_errors(form.engagement) }}
												</span>
											</div>
										
											<div class="col-md-12">
												<p class="" style="color:red;font-size: 12px;font-style: italic;">
													N.B:{% trans into app.request.locale %} Votre soumission de dossier pour étude n’est pas une admission. CECOSDAFormation se chargera de vous dire si vous avez rempli toutes les conditions pour être admis{% endtrans %}.
												</p>
											</div>
										</div>		
									</fieldset>
									<div class="text-center col-md-12" style="margin-top: 15px">
										<button class="btn btn-primary" type="submit">{% trans into app.request.locale %}Confirmer et soumettre{% endtrans %}</button>
									</div>
								</form>
							</div>
						</div>
						{{ form_rest(form) }}
						{{ form_end(form) }}
					</div>
					<div id="myModal4" class="col-12 mt-2 modal fade">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<h5 style="color: darkblue;font-weight: 600;" class="modal-title">{% trans into app.request.locale %}Je m'engage à : {% endtrans %}</h5>
									<button style="border: 2px solid darkblue;background: red;" type="button" class="close1" data-dismiss="modal" aria-hidden="true">×</button>
								</div>
								<div class="modal-body">
									<div class="form section-bg wow BounceInUp">
										<ol>
										<li>Respecter le règlement intérieur du centre.</li>
										<li>Payer la totalité de mes frais de formation dans les délais</li>
										<li>Fournir toutes les pièces et les documents demandés lors de l’inscription et pendant la formation</li>
										<li>Accepter qu’en cas d’abandon durant l’année de formation en cours, les frais de scolarités déjà payés ne seront pas remboursés. Et ne pourront pas être reconduits à l’année suivante.</li>
										<li>Prendre soin des équipements et des biens du centre de formation.</li>
										<li>Respecter les principes de discipline du centre au lieu du stage.</li>
										<li>Je m’engage à porter le badge tout le long de ma formation.</li>
										</ol>
									</div>
								</div>
				</div>
				</div>
			</div>
				</div>
			{% endif %}
		</div>
	</div>

	<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
		$('.inscription').addClass('active');
	
	</script>
	<script src="{{ asset('assets/js/main/cores/test/registration.js') }}"></script>
	<script type="text/javascript">
		function phone() {
			var $phone = $('#fos_user_registration_form_telephone');
			if($phone.val() !== ''){
				var dialCode = $('.iti__selected-dial-code')[0].innerText;
				$('#country_code').val(dialCode);
			}
		}
	</script>
	<script type="text/javascript">
		$(window).on('load', function() {
			$('#fos_user_registration_form_telephone').attr('type', 'number');
		})
	</script>
	<script src="{{ asset('assets/js/main/cores/register.js') }}"></script>
{% endblock %}

{% block formation %}{% endblock %}
{% block reste %}{% endblock %}
