{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="Assistant commercial, Assistant Communication, Assistant comptable Caissière, Technicienne ressources humaines, Assistant formation, Assistante de Direction, Assistante de gestion d'entreprise, Assistant administratif, Assistant de projet, Chargé clientèle, Assistante chef de projet, Assistante de gestion administrative, formation d'assistants administratifs" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>{% trans into app.request.locale %} Qui sommes nous {% endtrans %}?</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->


	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
			<div class="row">
                <div class="col-5">
                <img style="width: 100%; border: 10px solid #fcb040;" alt="qui-sommes-nous" src="{{ asset('site/img/formation/qui-sommes-nous.jpg') }}" />
                </div>

				<div class="col-7">
					<div class="row">
					<p> {{ 'Qui'|trans}}
                 	</p>
                    <ul>
                        <li>{{ 'noussommes.atout1'|trans}}</li>
                        <li>{{ 'noussommes.atout2'|trans}};</li>  
                        <li>{{ 'noussommes.atout3'|trans}};</li>
                        <li>{{ 'noussommes.atout4'|trans}};</li>
                        <li>{{ 'noussommes.atout5'|trans}}</li>
					</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight" href="{{ path('inscription')}}">{% trans into app.request.locale %}Je m'inscris{% endtrans %}</a>
		</div>
	
	</div>

	<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
        $('.qui').addClass('active');
	</script>

{% endblock %}

    {% block formation %}
		
    {% endblock %}
{% block reste %}{% endblock %}
