{% extends 'home.html.twig' %}
{% block caroussel %}
<style>
a {
  color: blue;
}

</style>
{% endblock caroussel %}

{% block contenu %}
<div class="page-header">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h2>Rechercher sur notre site</h2>
      </div>
    </div>
  </div>
</div>
<div class="container" style="min-height: 300px">
  <div class="row">
    <div class="col-md-12">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> 
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Saisir quelque chose ... " id="search-val">
           <div class="input-group-append">
      <button id="search-btn" class="btn btn-success" type="button">Rechercher</button>
    </div>
        </div>
      </div>
      <div class="container">
       <h6 class="text-center text-muted" style="display:none" id="loader">Recherche en cours ...</h6>
       <div id="search-results" class="row m-0 py-3"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block formation %}

{% endblock %}
{% block reste %}

{% endblock %}
{% block javascripts %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
    <script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script type="text/javascript">
        $('.nav-link.active').removeClass('active');
        $('.formationblog').addClass('active');
    </script>
    <script src="{{asset('assets/js/search.js') }}" type="application/javascript"></script>
{% endblock %}
