{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="Filières ouvertes pour 2021-2022 : Community manager, Assistant Administratif, Idéale pour les personnes ayant fait des études supérieures, Inscrivez-vous en ligne ou en présentiel avant le 20 novembre 2021, Stages en entreprise inclus" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}


	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>{% trans into app.request.locale %}Rejoignez notre équipe de formateurs {% endtrans %}</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
			{% if  success %}
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-success text-center">
							{% trans into app.request.locale %} Votre dossier a été enregistré. Merci ! Consulter votre adresse E-mail pour compléter votre candidature{% endtrans %}
						</h3>
						<p class="mt-3" style="color:red;font-size: 14px;font-style: italic;">
							 N.B: {% trans into app.request.locale %} Votre soumission de dossier pour étude n’est pas une admission. CECOSDAFormation se chargera de vous dire si vous avez rempli toutes les conditions pour être admis. {% endtrans %}
						</p>
					</div>
				</div>
			{% endif %}
			{% if not success %}


				<div class="row">
					<div class="col-md-6 d-none">
						<img class="img-fluid rounded" src="{{asset('site/img/visite/1.jpg')}}" alt="Image">
					</div>
					<div class="col-md-12">
						<p class="text-center">
							{% trans into app.request.locale %}Nous recevons les candidatures tous les jours {% endtrans %}</p>
						{{ form_start(form) }}
						{{ form_row(form._token) }}
						<div class="">
							<div class="contact-form">
								<form>
									<div class="row">
										<div class="form-group col-md-6">
											{{ form_label(form.nomPrenom, 'Votre nom et prénom'|trans) }}
											{{ form_widget(form.nomPrenom)}}
											<span class="text-danger">
												{{ form_errors(form.nomPrenom) }}
											</span>
										</div>
										<div class="form-group col-md-6">
											{{ form_label(form.telephone, 'Votre numero de telephone'|trans) }}
											{{ form_widget(form.telephone,{'attr':{'class':'form-control', 'data-mask':'(+___) ___-__-__-__', 'placeholder': '(+___) ___-___-__-__', 'required': 'required'}}) }}
											<span class="text-danger">
												{{ form_errors(form.telephone) }}
											</span>
										</div>
										<div class="form-group col-md-6">
											{{ form_label(form.email,'Votre adresse email'|trans) }}
											{{ form_widget(form.email) }}
											<span class="text-danger">
												{{ form_errors(form.email) }}
											</span>
										</div>
										<div class="form-group col-md-6">
											{{ form_label(form.sexe, 'sexe'|trans) }}
											{{ form_widget(form.sexe) }}
											<span class="text-danger">
												{{ form_errors(form.sexe) }}
											</span>
										</div>
										<div class="form-group col-md-6">
											{{ form_label(form.personContact, 'Contact en cas urgent'|trans) }}
											{{ form_widget(form.personContact) }}
											<span class="text-danger">
												{{ form_errors(form.personContact) }}
											</span>
										</div>
										<div class="form-group col-md-6">
											{{ form_label(form.pays, 'Pays'|trans) }}
											{{ form_widget(form.pays) }}
											<span class="text-danger">
												{{ form_errors(form.pays) }}
											</span>
										</div>
										<div class="form-group col-md-6">
											{{ form_label(form.ville, 'Ville'|trans) }}
											{{ form_widget(form.ville) }}
											<span class="text-danger">
												{{ form_errors(form.ville) }}
											</span>
										</div>
										<div class="form-group col-md-6">
											{{ form_label(form.type, 'Type'|trans) }}
											{{ form_widget(form.type) }}
											<span class="text-danger">
												{{ form_errors(form.type) }}
											</span>
										</div>
								 

										<div class="form-group col-md-6 col-lg-4" style="">
											{{ form_label(form.dernierDiplome, 'Dernier diplome'|trans ) }}
											{{ form_widget(form.dernierDiplome) }}
											<span class="text-danger">
												{{ form_errors(form.dernierDiplome) }}
											</span>
										</div>
										<div class="form-group col-md-6 col-lg-4" style="">
											{{ form_label(form.motivation, 'Lettre de motivation'|trans ) }}
											{{ form_widget(form.motivation) }}
											<span class="text-danger">
												{{ form_errors(form.motivation) }}
											</span>
										</div>
										<div class="form-group col-md-6 col-lg-4" style="">
											<div class="form-group col-md-12 col-lg-12 p-0 m-0" style="">
												{{ form_label(form.cv, 'CV'|trans) }}
												{{ form_widget(form.cv) }}
												<span class="text-danger">
													{{ form_errors(form.cv) }}
												</span>
											</div>
										</div>

										<div class="col-md-12">
											<p class="" style="color:red;font-size: 12px;font-style: italic;">
												N.B : {% trans into app.request.locale %}Votre soumission de dossier pour étude n’est pas une admission. CECOSDAFormation se chargera de vous dire si vous avez rempli toutes les conditions pour être admis. {% endtrans %}
											</p>
										</div>
									</div>
									<div class="text-center">
										<button class="btn btn-primary" type="submit">{% trans into app.request.locale %}Confirmer et soumettre {% endtrans %}</button>
									</div>
								</form>
							</div>
						</div>
						{{ form_rest(form) }}
						{{ form_end(form) }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
		$('.rejoindre').addClass('active');
		</script>

		<script src="{{ asset('assets/js/jquery.min.js') }}"></script>

{% endblock %}


{% block reste %}{% endblock %}
