{% extends 'home.html.twig' %}

{% block caroussel %}
{% endblock caroussel %}


{% block contenu %}
    <div class="page-header">
        <div class="row">
            <div class="container">
                <div class="col-12">
                    <h2>Quelques articles publiés sur notre blog</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="container" id="divRss">

    </div>

    <div class="container" >
        <h3 class="text-center">
            <a href="http://cecosdaformation.blogspot.com/feeds/posts/default"><b>Cliquez ici</b></a>Pour consulter tous les articles.
        </h3>
    </div>

{% endblock %}
{% block formation %}

{% endblock %}
{% block reste %}

{% endblock %}
      {% block javascripts %}


          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
          <script src="{{asset('site/lib/easing/easing.min.js')}}"></script>
          <script src="{{asset('site/lib/owlcarousel/owl.carousel.min.js')}}"></script>
          <script src="{{asset('site/lib/isotope/isotope.pkgd.min.js')}}"></script>
          <script src="{{asset('assets/js/FeedEk.js') }}" type="application/javascript"></script>

          <!-- Template Javascript -->

            <script>
                $('#divRss').FeedEk({
                    FeedUrl: 'http://cecosdaformation.blogspot.com/feeds/posts/default/',
                    MaxCount: 10,
                    ShowDesc: true,
                    ShowPubDate: true,
                    DescCharacterLimit: 300
                });
            </script>
          <script type="text/javascript">

              $('.nav-link.active').removeClass('active');
              $('.formationblog').addClass('active');

          </script>
    {% endblock %}
