{% extends 'home.html.twig' %}
{% block metadescription %}
	<meta content="Assistant commercial, Assistant Communication, Assistant comptable Caissière, Technicienne ressources humaines, Assistant formation, Assistante de Direction, Assistante de gestion d'entreprise, Assistant administratif, Assistant de projet, Chargé clientèle, Assistante chef de projet, Assistante de gestion administrative, formation d'assistants administratifs" name="description">
{% endblock %}
{% block caroussel %}{% endblock caroussel %}


{% block contenu %}
	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2> Techniques informatiques</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->


	<!-- Single Page Start -->
	<div class="single">
		<div class="container">
			<div class="row">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>
							<p><strong>Fili&egrave;res ouvertes </strong></p>
						</td>
						<td>
							<p><strong>Prix en F CFA</strong></p>
						</td>
						<td>
							<p><strong>Dur&eacute;e</strong></p>
						</td>
						<td>
							<p><strong>Pr&eacute;requis</strong></p>
						</td>
						<td>
							<p><strong>Mode de formation</strong></p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Agent de Maintenance informatique</p>
						</td>
						<td>
							<p>150 000</p>
						</td>
						<td>
							<p>3 mois+ 3 mois de stage</p>
						</td>
						<td>
							<p>BAC</p>
						</td>
						<td>
							<p>En salle</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Agent de maintenance du R&eacute;seau informatique,</p>
							<p> Gestionnaire de base de donn&eacute;es, </p>
							 <p>D&eacute;veloppeur web</p>
						</td>
						<td>
							<p>200 000</p>
						</td>
						<td>
							<p>4 &agrave; 5 mois+ 3 mois de stage</p>
						</td>
						<td>
							<p>BAC</p>
						</td>
						<td>
							<p>&nbsp;</p>
							<p>En salle et en ligne</p>
						</td>
					</tr>
				</tbody>
			</table>
			
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h5>Vous souhaitez une formation sp&eacute;cifique ? 
			<a href="https://wa.me/237677325343">
					Contactez-nous
				</a>
				</h5>
			
		</div>
		<div class="col-md-12 text-center">
			<a class="btn btn-success animated fadeInRight" href="{{ path('inscription')}}">Je m'inscris</a>
		</div>
	
	</div>
	<script type="text/javascript">

		$('.nav-link.active').removeClass('active');
		$('.info').addClass('active');
	</script>

{% endblock %}

    {% block formation %}
	
    {% endblock %}
{% block reste %}{% endblock %}
