{% extends 'home.html.twig' %}
{% block caroussel %}
    
{% endblock %}
{% block contenu %}
            
        <div class="container">           
                    <div class="row">
                    <div class="col-md-12 text-center">
                    <h1 style="color:#153aaa"><span class="glyphicon glyphicon-star"> </span>Vacances PRO - Bilingue    </h1>
                    <p class="text-center"> ({% trans into app.request.locale %}A partir du {% endtrans %}:{% trans into app.request.locale %}04 Juillet 2023{% endtrans %} )</i></p>
                    <a>{% trans into app.request.locale %}La formation vacances idéale pour aider vos enfants à facilement intégrer le monde professionel{% endtrans %}
</a>


                    </div>
                    </div>
            
       
        </div>
{% endblock %}
{% block formation  %}
<section id="container">
<div class="container">
    <div class="row text-center mt-2">
        <img src="{{asset('assets/img/vacancespro-bilingue-presentation.jpg')}}" style="width:100%">
    </div>
</div>
   <div class="container text-justify"> 
   {% trans into app.request.locale %}VACANCESPRO est le programme vacances idéal pour plonger les enfants dans de nouvelles activités d’apprentissage pratique. C’est un programme bilingue d’éveil des compétences polyvalentes qui prépare l’avenir professionnel. VacancesPRO a deux programmes{% endtrans %}  : 
   {% trans into app.request.locale %}le programme d’éveil et de créativité (7 - 14 ans) et le Programme spécial informatique (15 ans et plus){% endtrans %}. 
   {% trans into app.request.locale %}VACANCESPRO existe depuis 2019 et est animée par des ingénieurs, linguistes et autres professionnels des arts et métiers{% endtrans %}. 
   {% trans into app.request.locale %}Le programme est une activité de CECOSDAFormation sous couvert le Centre pour la Communication et le développement durable pour tous (CECOSDA). N’hésitez pas à inscrire vos enfants à ce programme vacances 100% pratique qui stimule les talents multiples, renforce l’esprit positif, l’autonomie et le leadership{% endtrans %}. </div>

   <p class="text-center mt-2">
   <a class="btn btn-success" href="https://forms.gle/27Z6QrXJnp9uJTM38"> {% trans into app.request.locale %}Inscrivez-vous dès maintenant{% endtrans %} </a><a class="btn btn-primary" href="http://vacancespro.cm">{% trans into app.request.locale %}Pour en savoir plus sur le programme rendez-vous sur le site de vacancespro{% endtrans %}</a>
   </p>
</section>
{%  endblock %}
{% block reste %}
    
{% endblock %}