<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
		<title>
			{% block title %}CECOSDAFormation - Au delà du diplôme, la compétence::
			{% endblock %}
		</title>
		<script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/select2.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lobibox.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style2.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/perso.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
		<link
		href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="{{ asset('assets/js/html5shiv.min.js') }}"></script>
		<script src="{{ asset('assets/js/respond.min.js') }}"></script>
		<![endif]-->
		<script src="{{asset('ckeditor/ckeditor.js')}}"></script>
		<!-- Datatable -->
		<link href="{{asset('assets/plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css">
		<!-- Datatable -->

    <script src="{{asset('ckeditor/samples/js/sample.js')}}"></script>
    <link href="{{asset('ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css')}}" rel="stylesheet">
		<link href="{{ asset('assets/css/sweetalert.css') }}" rel="stylesheet">
	</head>
	<body class="mini-sidebar">
		<div class="main-wrapper">
			{% block header %}
				{% include 'partials/header.html.twig' %}
			{% endblock %}
			{% block sidebar %}
				{% include 'partials/sidebar.html.twig' %}
			{% endblock sidebar %}
			<div class="page-wrapper">
				<div class="content" style="margin-bottom: 100px;">
					<div class="row">
						{% for type, msgs in app.session.flashbag.all %}
							{%for msg in msgs %}
								<input type="hidden" id="hidden_flash_bag_message" name="hidden_flash_bag_message" class="hidden_message" value="{{ msg }}">
								<input type="hidden" id="hidden_flash_bag_type" value="{{ type }}">
							{% endfor %}
						{% endfor %}
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12"> {% block body %}{% endblock %}
						</div>
					</div>
					{% block footer %}{% endblock %}
				</div>
			</div>
			<div class="sidebar-overlay" data-reff=""></div>
			{% block javascripts %}
				<script src="{{ asset('assets/js/library/head.min.js') }}"></script>
				<script src="{{ asset('assets/js/popper.min.js') }}"></script>
				<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
				<script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
				<script src="{{ asset('assets/js/select2.min.js') }}"></script>
				<script src="{{ asset('assets/js/app.js') }}"></script>
				<script src="{{ asset('assets/js/perso.js') }}"></script>
				<script src="{{ asset('assets/js/library/sweetalert.min.js')}}"></script>
				<script src="{{ asset('assets/js/notifs/lobibox.min.js') }}"></script>
				<script src="{{ asset('assets/js/notifs/notifications.min.js') }}"></script>
				<script src="{{ asset('assets/js/main.js') }}"></script>
				<script src="{{ asset('assets/js/application.js') }}"></script>


				<script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/dataTables.bootstrap.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/dataTables.buttons.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/buttons.bootstrap.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/jszip.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/pdfmake.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/vfs_fonts.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/buttons.html5.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/buttons.print.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/dataTables.keyTable.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/dataTables.responsive.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/responsive.bootstrap.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/dataTables.scroller.min.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/dataTables.colVis.js')}}"></script>
				<script src="{{asset('assets/plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

				<script src="{{asset('assets/pages/datatables.init.js')}}"></script>
				<script>

                    //Chargement de datatable
                    $(document).ready(function () {
                        $('.datatable').DataTable({
                            "language": {
                                "url": "{{asset('assets/French.json')}}",
                                buttons: {
                                    copy: 'Copier',
                                    print: 'Imprimer',
                                    copyTitle: 'Ajouté au presse-papiers',
                                    copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                                    copySuccess: {
                                        _: '%d lignes copiées',
                                        1: '1 ligne copiée'
                                    }
                                }
                            },
                            dom: 'Bfrtip',
                            buttons: [
                                'copy', 'excel', 'pdf', 'csv', 'print'
                            ],
                        });
                    });
				</script>
			{% endblock %}
		</body>
	</html>
