{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}Dashboard
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('assets/css/chart.min.css') }}">
	<div class="row" style="padding-top: 50px;">
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="dash-widget">
				<span class="dash-widget-bg1">
					<i class="fa fa-users" aria-hidden="true"></i>
				</span>
				<div class="dash-widget-info text-right">
					<h3>{{ preinscriptions }}</h3>
					<span class="widget-title1">Pré-inscriptions
						<i class="fa fa-check" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="dash-widget">
				<span class="dash-widget-bg2">
					<i class="fa fa-graduation-cap"></i>
				</span>
				<div class="dash-widget-info text-right">
					<h3>{{ filieres }}</h3>
					<span class="widget-title2">Filières
						<i class="fa fa-check" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="dash-widget">
				<span class="dash-widget-bg3">
					<i class="fa fa-newspaper-o"></i>
				</span>
				<div class="dash-widget-info text-right">
					<h3>{{ articles }}</h3>
					<span class="widget-title3">Articles
						<i class="fa fa-check" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="dash-widget">
				<span class="dash-widget-bg1">
					<i class="fa fa-newspaper-o"></i>
				</span>
				<div class="dash-widget-info text-right">
					<h3>{{ categories }}</h3>
					<span class="widget-title1">Catégories
						<i class="fa fa-check" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="dash-widget">
				<span class="dash-widget-bg4">
					<i class="fa fa-superpowers" aria-hidden="true"></i>
				</span>
				<div class="dash-widget-info text-right">
					<h3>{{ options }}</h3>
					<span class="widget-title4">Option d'apprentissages
						<i class="fa fa-check" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="dash-widget">
				<span class="dash-widget-bg1">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
				</span>
				<div class="dash-widget-info text-right">
					<h3>{{ rejoindres }}</h3>
					<span class="widget-title1">Vacataires - Candidatures
						<i class="fa fa-user-plus" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="dash-widget">
				<span class="dash-widget-bg5">
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</span>
				<div class="dash-widget-info text-right">
					<h3>{{ messages }}</h3>
					<span class="widget-title5">Messages
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" id="graph-wrapper">
			<hr>
			<div class="row" style="flex-direction: row-reverse;">
				<div class="col-md-6" style="display:flex;flex-direction: row-reverse;">
					<div class="form-group w-50" style="padding-right: 10px;">
						<label class="control-label required" for="pay_mode">Période</label>
						<select id="period" name="period" class="form-control">
							{% for item in filterPeriods %}
								<option value="{{item['val']}}">{{item['text']}}</option>
							{% else %}
								<option value="">Sélectionner ...
								</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<fieldset id="chart-container">
				<legend>Nombre de nouveau utilisateur durant ce mois (<span id="current_period_text">{{currenMonthFR}}</span>)
				</legend>
				<div class="row text-center font-weight-bold" id="week-labels">
					<div class="col-md-3">
						<a href="{{ path('admin_period_statistic', { period : 0}) }}">Semaine 1 (01 au 07)</a>
					</div>
					<div class="col-md-3">
						<a href="{{ path('admin_period_statistic', { period : 1}) }}">Semaine 2 (08 au 14)</a>
					</div>
					<div class="col-md-3">
						<a href="{{ path('admin_period_statistic', { period : 2}) }}">Semaine 3 (15 au 21)</a>
					</div>
					<div class="col-md-3">
						<a href="{{ path('admin_period_statistic', { period : 3}) }}">Semaine 4 (22 au 28/29/30/31)</a>
					</div>
				</div>
				<div class="row text-center font-weight-bold" id="year-labels" style="display: none;">
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 4}) }}">Janvier
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 5}) }}">Février
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 6}) }}">Mars
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 7}) }}">Avril
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 8}) }}">Mai
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 9}) }}">Juin
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 10}) }}">Juillet
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 11}) }}">Août
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 12}) }}">Septembre
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 13}) }}">Octobre
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 14}) }}">Novembre
							{{ year }}</a>
					</div>
					<div class="col-md-2 col-sm-3">
						<a href="{{ path('admin_period_statistic', { period : 15}) }}">Décembre
							{{ year }}</a>
					</div>
				</div>
				<canvas id="statistique_connexion" width="400" height="150"></canvas>
			</fieldset>
		</div>
	</div>
	<script type="text/javascript" src="{{ asset('assets/js/chart.min.js') }}"></script>

	{# Lien pour récuperer les notifications en bakend via ajax #}
	<input type="hidden" id="statistic_link" name="statistic_link" value="{{ path('admin_ajax_link') }}"/>
	<input type="hidden" id="admin_ajax_link" name="admin_ajax_link" value="{{ path('admin_ajax_link') }}"/>


	<script>
		var ctx = document.getElementById('statistique_connexion').getContext('2d');
var values = {{ login_statistic | raw }};
function getChartOptions(data) {
let labels;
if (data.length === 12) {
let y = new Date().getFullYear();
labels = [
'Janvier ' + y + ' (' + data[0] + ')',
'Février ' + y + ' (' + data[0] + ')',
'Mars ' + y + ' (' + data[0] + ')',
'Avril ' + y + ' (' + data[0] + ')',
'Mai ' + y + ' (' + data[0] + ')',
'Juin ' + y + ' (' + data[0] + ')',
'Juillet ' + y + ' (' + data[0] + ')',
'Août ' + y + ' (' + data[0] + ')',
'Septembre ' + y + ' (' + data[0] + ')',
'Octobre ' + y + ' (' + data[0] + ')',
'Novembre ' + y + ' (' + data[0] + ')',
'Décembre ' + y + ' (' + data[0] + ')'
]
} else {
labels = [
'Semaine 1 (' + data[0] + ')',
'Semaine 2 (' + data[1] + ')',
'Semaine 3 (' + data[2] + ')',
'Semaine 4 (' + data[3] + ')'
]
}
return {
type: 'bar',
data: {
labels: labels,
datasets: [
{
label: 'Total utilisateurs',
data: data,
backgroundColor: [
'rgba(255, 99, 132, 0.2)',
'rgba(54, 162, 235, 0.2)',
'rgba(255, 206, 86, 0.2)',
'rgba(75, 192, 192, 0.2)',
'rgba(100, 203, 192, 0.2)',
'rgba(100, 255, 189, 0.2)',
'rgba(200, 87, 50, 0.2)',
'rgba(120, 85, 12, 0.2)',
'rgba(225, 98, 130, 0.2)',
'rgba(54, 162, 255, 0.2)',
'rgba(75, 96, 128, 0.2)',
'rgba(125, 200, 150, 0.2)'
],
borderColor: [
'rgba(255, 99, 132, 1)',
'rgba(54, 162, 235, 1)',
'rgba(255, 206, 86, 1)',
'rgba(75, 192, 192, 1)',
'rgba(100, 203, 192, 1)',
'rgba(100, 255, 189, 1)',
'rgba(200, 87, 50, 1)',
'rgba(120, 85, 12, 1)',
'rgba(225, 98, 130, 1)',
'rgba(54, 162, 255, 1)',
'rgba(75, 96, 128, 1)',
'rgba(125, 200, 150, 1)'
],
borderWidth: 1
}
]
},
options: {
scales: {
y: {
beginAtZero: true
}
}
}
};
}
var loginChart = new Chart(ctx, getChartOptions(values));
	</script>
	<script type="text/javascript" src="{{ asset('assets/js/admindashboard.js') }}"></script>
{% endblock %}
