<div class="form-actions">
    <button type="submit" name="save" class="btn btn-primary"> <i class="fa fa-check"></i> Modifier</button>
    <a  href="{{ app.request.headers.get('referer') }}" class="btn btn-white  m-l-15"> Annuler</a>
</div>