<div class="m-t-20">
    <button type="submit" name="save" class="btn btn-primary"> <i class="fa fa-check"></i> Modifier</button>
    <button type="submit" name="saveAndAdd" class="btn btn-success"> <i class="fa fa-check"></i> Modifier et Nouveau</button>
    <a  href="{{ app.request.headers.get('referer') }}" class="btn btn-white  m-l-15"> Annuler</a>
</div>