{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}
	Liste des messages
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 50px;">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Messages</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-9">
			<h3 class="text-center">Liste des message</h3>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-md-12">
			<div class="card-box">
				<div class="card-block">
					<div class="table-responsive">
						<table class="table table-bordered mb-0" id="datatable">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom
									</th>
									<th>Objet</th>
									<th>Email</th>
									<th>Message</th>
									<th>Date
									</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if contacts %}
									{% for contact in contacts %}
										<tr>
											<td>{{ loop.index }}</td>
											<td>{{ contact.nom }}</td>
											<td>{{ contact.objet }}</td>

											<td>
												<a href="mailto:{{ contact.email }}" target="_blank">
													{{ contact.email }}</a>


											</td>
											<td>
												<b>{{ contact.message }}</b>
											</td>
											<td>{{ contact.createdAt | date("d/m/Y H:i:s") }}</td>
											<td>
												<a class="btn btn-info" style="color:white !important;" href="{{ path('admin_contacts_show', {id : contact.id}) }}" title="Détails">
													<i class="fa fa-eye"></i>
												</a>
												<a class="btn btn-danger ajax-contact-delete" style="color:white !important;" href="javascript:void(0)" data-id="{{ contact.id }}" data-url="{{ path('admin_contacts_delete', {id : contact.id}) }}" title="Supprimer">
													<i class="fa fa-trash"></i>
												</a>
											</td>

										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td colspan="5" style="text-align: center">
											<h4>Aucun pré-contact Enregistrée</h4>
										</td>
									</tr>
								{% endif %}
							</tbody>
						</td>
					</tr>
				</td>
			</tr>
		</tbody>
	</table>
</tbody></div></div></div></div></div><script src="{{ asset('assets/js/contact.js') }}"></script>{% endblock %}
