{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}
	Liste des messages
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 50px;">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('admin_contacts_index') }}">Messages</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Détails</li>
				</ol>
			</nav>
		</div>
	</div>

	<h2 class="text-center">Détails d'un message</h2>
	<div class="row">
		<div class="col-12">
			<fieldset>
				<legend>Détails
				</legend>
				<table class="table table-bordered">
					<tr>
						<th>Nom</th>
						<td>{{ contact.nom }}</td>
					</tr>
					<tr>
						<th>Objet</th>
						<td>{{ contact.objet }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>
							<a href="mailto:{{ contact.email }}" target="_blank">
								{{ contact.email }}</a>
						</td>
					</tr>
					<tr>
						<th>Message</th>
						<td>{{ contact.message }}</td>
					</tr>

					<tr>
						<th>Date</th>
						<td>{{ contact.createdAt | date("d/m/Y H:i:s")  }}</td>
					</tr>
				</table>
			</fieldset>
		</div>

	</div>
	<div class="form-group mt-3">
		<a class="btn btn-secondary" href="{{ path('admin_contacts_index') }}">Retour</a>
	</div>
	<script src="{{ asset('assets/js/contact.js') }}"></script>
{% endblock %}
