<div style="width: 600px;text-align: justify; border: 1px solid #094071;">
	<div style="padding: 5px;background: #95d9f73d;margin-bottom: 10px;color: darkblue;">
		<center><img height="75" src="https://www.cecosdaformation.com/web/assets/img/logo-cecosda-formation-small.png"></center>
		<h3 style="margin-top: -5px; margin-bottom: 0px;">
			<center>CECOSDAFormation - Au delà du diplôme, la compétence</center>
		</h3>
	</div>
	<div style="padding: 10px;">
		<p style="font-size: 18px;"> {% block body %}{% endblock %}
			</p>
			<hr>
			<span style="font-size: 12px;">Vous recevez cette email parce que vous venez de vous pré-inscrire sur cecosdaformation.com</span><br>
			<i style="color: orangered; font-size: 12px;">
				<b>Bon à savoir :</b>
				Si vous n'êtes pas à l'origine de cette demande, ne tenez pas compte de cet email.</i>
			<table style="font-size: 12px;">
				<tr>
					<td>
						<ul>
							<li style="padding: 2px;">
								<a style="text-decoration: none;" href="#">
									infos@cecosdaformation.com</a>
							</li>
							<li style="padding: 2px;">
								<a style="text-decoration: none;" href="#">cecosdaformation.com, Yaoundé, Montée-Jouvence
								</a>
							</li>
						</ul>
					</td>
					<td>
						<ul>
							<li style="padding: 2px;">
								<a style="text-decoration: none;" href="telto:">Tél: (+237) 222 311 875</a>
							</li>
							<li style="padding: 2px;">
								<a style="text-decoration: none;" href="telto:">Tél: (+237) 677 325 345</a>
							</li>
						</ul>
					</td>
				</tr>
			</table>
			<div style="background: #094071;color: white;padding: 10px;">
				<center>© 2021 cecosdaformation.com</center>
			</div>
		</div>
	</div>
