{% extends 'mail/mailTemplate.html.twig' %}
{% block body %}
	<b>Bonjour
		{{ user.nomPrenom | upper }},
	</b>
	<br><br>
	Vous venez juste de vous inscrire sur cecosdaformation.com. Nous vous remerçions d'avoir choisi notre Centre.
	<br>
	Confirmer votre inscription en joingnant le <b>reçu de paiement de 10.000XAF</b> correspondant aux frais d'inscription à la formation choisie.
	<br>

	Ci-jointes vos informations saisies :
	<br>
	<table border="0" style="border-collapse: collapse;">
		<tr>
			<td><b>Nom et Prénom</b></td>
			<td>{{ user.nomPrenom }}</td>
		</tr>
		<tr>
			<td><b>Téléphone</b></td>
			<td>{{ user.telephone }}</td>
		</tr>
		<tr>
			<td><b>Téléphone</b></td>
			<td>{{ user.langue }}</td>
		</tr>
		<tr>
			<td><b>Email</b></td>
			<td>{{ user.email }}</td>
		</tr>
		<tr>
			<td><b>Sexe</b></td>
			<td>{{ user.sexe }}</td>
		</tr>

	</table>
	<br>
{% endblock body %}
