{% extends 'mail/mailTemplate.html.twig' %}
{% block body %}
    <b>Bonjour
        {{ user.nomPrenom | upper }},
    </b>
    <br><br>
    Vous venez juste de soumettre votre candidature chez CECOSDAFormation. Nous vous remerçions pour l'intérêt.
    <br>
    Nous vous prions de compléter votre candidature en cliquant sur le lien ci-dessous.<br>

    <a href="https://docs.google.com/forms/d/13zVkC_OS_5Pn7lpoFYDkqRKKO-HEimhY06m60XWy3eE/edit?ts=61e53e9a">Accéder au formulaire ici

    </a><br>

            Merci d'avoir postulé à CECOSDAFormation en tant que formateur vacataire.<br>

            Cordialement.<br>
    <br><br>
    --------------------------------------------
    <br><br>
    You have just submitted your application to CECOSDAFormation.  We thank you for the interest.
    <br>
            We would like you to complete your application by clicking on the link below.<br>

    <a href="https://forms.gle/Ta12VM4Xdy9f9DeL9">click here

    </a><br>

            Thank you for applying to CECOSDAFormation as a temporary trainer.<br>

            Sincerely,<br>

{% endblock body %}
