{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}
	Liste des Vacataires
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 50px;">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Vacataires</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-9">
			<h3 class="text-center">Liste des vacataires</h3>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-md-12">
			<div class="card-box">
				<div class="card-block">
					<div class="table-responsive">
						<table class="table table-bordered mb-0" id="datatable">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom et Prénom</th>
									<th>Filière</th>
									<th>Téléphone</th>
									<th>Email</th>
									<th>Lettre de motivation</th>
									<th>CV</th>
									<th>Diplôme</th>
									<th>Date de création</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if rejoindres %}
									{% for rejoindre in rejoindres %}
										<tr>
											<td>{{ loop.index }}</td>
											<td>{{ rejoindre.nomPrenom }}</td>
											<td>{{ rejoindre.filiere.libelle }}</td>
											<td>{{ rejoindre.telephone }}</td>
											<td>{{ rejoindre.email }}</td>
											<td>
												{% if rejoindre.motivation %}
													<a target="_blank" href="{{ asset(rejoindre.motivation) }}">Voir</a>
												{% else %}
													<b>-</b>
														{% endif %}
													</td>
													<td>
														{% if rejoindre.cv %}
															<a target="_blank" href="{{ asset(rejoindre.cv) }}">Voir</a>
														{% else %}
															<b>-</b>
																{% endif %}
															</td>
															<td>
																{% if rejoindre.dernierDiplome %}
																	<a target="_blank" href="{{ asset(rejoindre.dernierDiplome) }}">Voir</a>
																{% else %}
																	<b>-</b>
																		{% endif %}
																	</td>
																	<td>{{ rejoindre.createdAt | date("d/m/Y H:i:s") }}</td>
																	<td>
																		<a class="btn btn-info" style="color:white !important;" href="{{ path('admin_rejoindre_show', {id : rejoindre.id}) }}" title="Détails">
																			<i class="fa fa-eye"></i>
																		</a>
																		<a class="btn btn-danger ajax-inscription-delete" style="color:white !important;" href="javascript:void(0)" data-id="{{ rejoindre.id }}" data-url="{{ path('admin_rejoindres_delete', {id : rejoindre.id}) }}" title="Supprimer">
																			<i class="fa fa-trash"></i>
																		</a>
																	</td>
																</tr>
															{% endfor %}
														{% else %}
															<tr>
																<td colspan="10" style="text-align: center">
																	<h4>Aucun Vacataire Enregistré !!</h4>
																</td>
															</tr>
														{% endif %}
													</td>
												</tr>
											</td>
										</tr>
									</tbody>
								</table>
							</tbody>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ asset('assets/js/inscription.js') }}"></script>
	{% endblock %}
