{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}
	Liste des pré-inscriptions
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 50px;">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('admin_rejoindres_index') }}">Vacataire</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Détails</li>
				</ol>
			</nav>
		</div>
	</div>

	<h2 class="text-center">Détails d'un vacataire</h2>
	<div class="row">
		<div class="col-6">
			<fieldset>
				<legend>Informations sur la personne</legend>
				<table class="table table-bordered">
					<tr>
						<th>Nom et prénom</th>
						<td>{{ rejoindre.nomPrenom }}</td>
					</tr>
					<tr>
						<th>Téléphone</th>
						<td>{{ rejoindre.telephone }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ rejoindre.email }}</td>
					</tr>
					<tr>
						<th>Sexe</th>
						<td>{{ rejoindre.sexe }}</td>
					</tr>
					<tr>
						<th>Personne à contacter</th>
						<td>{{ rejoindre.personContact }}</td>
					</tr>
					<tr>
						<th>Pays</th>
						<td>{{ rejoindre.pays }}</td>
					</tr>
					<tr>
						<th>Ville</th>
						<td>{{ rejoindre.ville }}</td>
					</tr>
					<tr>
						<th>Date de création</th>
						<td>{{ rejoindre.createdAt | date("d/m/Y H:i:s")  }}</td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div class="col-6">
			<fieldset>
				<legend>Curriculum</legend>
				<table class="table table-bordered">

					<tr>
						<th>Lettre de motivation</th>
						<td>
							{% if rejoindre.motivation %}
								<a target="_blank" href="{{ asset(rejoindre.motivation) }}">Voir</a>
							{% else %}
								<b>-<b>
									{% endif %}
								</td>
							</tr>
						</td>
					</tr>


					<tr>
						<th>Dernier diplôme</th>
						<td>
							{% if rejoindre.dernierDiplome %}
								<a target="_blank" href="{{ asset(rejoindre.dernierDiplome) }}">Voir</a>
							{% else %}
								<b>-<b>
									{% endif %}
								</td>
							</tr>
						</td>
					</tr>
					<tr>
						<th>CV</th>
						<td>
							{% if rejoindre.cv %}
								<a target="_blank" href="{{ asset(rejoindre.cv) }}">Voir</a>
							{% else %}
								<b>-<b>
									{% endif %}
								</td>
							</tr>
						</td>
					</tr>

					<tr>
						<th>Filière</th>
						<td>{{ rejoindre.filiere.libelle }}</td>
					</tr>
					<tr>
						<th>Type</th>
						<td>{{ rejoindre.type }}</td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div class="p-3"></div>
		</div><div class="form-group mt-3">
<a class="btn btn-secondary" href="{{ path('admin_rejoindres_index') }}">Retour</a></div><script src="{{ asset('assets/js/inscription.js') }}"></script>{% endblock %}
