{{ form_start(form) }}
{{ form_row(form._token) }}
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			{{ form_label(form.titre) }}<span class="text-danger">*</span>
			{{ form_widget(form.titre) }}
			{{ form_errors(form.titre) }}
		</div>
	</div>
  <div class="col-md-4">
		<div class="form-group">
			{{ form_label(form.category) }}<span class="text-danger">*</span>
			{{ form_widget(form.category) }}
			{{ form_errors(form.category) }}
		</div>
	</div>
   <div class="col-md-4">
		<div class="form-group">
			{{ form_label(form.href) }}<span class="text-danger">*</span>
			{{ form_widget(form.href) }}
			{{ form_errors(form.href) }}
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.description) }}<span class="text-danger">*</span>
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.searchIndex) }}<span class="text-danger">*</span>
            {{ form_widget(form.searchIndex) }}
            {{ form_errors(form.searchIndex) }}
        </div>
    </div>
</div>

{% if searchindex.id %}
	{% include 'partials/buttons/button_update.html.twig' %}
{% else %}
	{% include 'partials/buttons/button_save.html.twig' %}
{% endif %}
{{ form_rest(form) }}
{{ form_end(form) }}
