{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}Liste des index de recherche
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 50px;">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Index de recherche</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-9">
			<h3 class="text-center">Liste des index de recherche</h3>
		</div>
		<div class="col-sm-4 col-3 text-right m-b-20">
			<a href="{{ path('admin_searchindexes_new') }}" class="btn btn-primary float-right btn-rounded">
				<i class="fa fa-plus"></i>
				Nouvelle index</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-md-12">
			<div class="card-box">
				<div class="card-block">
					<div class="table-responsive">
						<table class="table table-bordered mb-0">
							<thead>
								<tr>
									<th>#</th>
									<th>Titre</th>
                  <th>Description</th>
                  <th>Catégorie</th>
                  <th>Lien</th>
									<th>Date de création</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% if searchindexes %}
									{% for searchindex in searchindexes %}
										<tr>
											<td>{{ loop.index }}</td>
											<td>
											  {{ searchindex.titre }}
											</td>
                      <td>
											  {{ searchindex.description|slice(0, 50) }} ... 
											</td>
                       <td>
											  {{ searchindex.category }}
											</td>
                       <td>
											 	<a target="_blank" class="btn btn-success" href="{{ searchindex.href }}" title="Afficher">
													Afficher
												</a>
											</td>
											<td>{{ searchindex.createdAt | date("d/m/Y H:i:s") }}</td>
											<td>
												<a class="btn btn-success" href="{{ path('admin_searchindexes_edit', {id : searchindex.id}) }}" title="Modifier">
													<i class="fa fa-edit"></i>
												</a>
												<a class="btn btn-danger ajax-searchindex-delete" style="color:white !important;" href="javascript:void(0)" data-id="{{ searchindex.id }}" data-url="{{ path('admin_searchindexes_delete', {id : searchindex.id}) }}" title="Supprimer">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td colspan="7" style="text-align: center">
											<h4>Aucun index de recherche Enregistrée</h4>
										</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ asset('assets/js/searchindex.js') }}"></script>
{% endblock %}
