{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }}Liste des emails{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="margin-top: 50px;">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liste des emails</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <h3 class="text-center">Liste des emails</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-md-12">
            <div class="card-box">
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Objet</th>
                                    <th>Email Destinataire</th>
                                    <th>Catégorie Destinataire</th>
                                    <th>Contenu</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for email in emails %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ email.date|date('d-m-Y') }}</td>
                                        <td>{{ email.objectMail }}</td>
                                        <td>{{ email.emailDestinataire }}</td>
                                        <td>{{ email.categorieDestinataire }}</td>
                                        <td>
                                            <a class="btn btn-success mt-2" data-target="#contenu-mail-modal-{{ email.id }}" data-toggle="modal" href="#">Visualiser</a>
                                            {% include 'partials/modals/fichier_mail.html.twig' %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/styles/datatables.css.html.twig' %}
{% endblock %}