{{ form_start(form) }}
{{ form_row(form._token) }}
<div class="row">
  <div class="col-sm-3">
        <div class="form-group">
            {{ form_label(form.nom) }}<span class="text-danger">*</span>
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}
        </div>
    </div>
  <div class="col-sm-3">
        <div class="form-group">
            {{ form_label(form.langue) }}<span class="text-danger">*</span>
            {{ form_widget(form.langue) }}
            {{ form_errors(form.langue) }}
        </div>
    </div>
      
</div>


{% if categorie.id %}
    {% include 'partials/buttons/button_update.html.twig' %}
{% else %}
    {% include 'partials/buttons/button_save.html.twig' %}
{% endif %}
{{ form_rest(form) }}
{{ form_end(form) }}

