{% extends 'admin/base.html.twig' %}
{% block title %}
    {{ parent() }} Créer une nouvelle catégorie d'article
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="margin-top: 50px;">
                    <li class="breadcrumb-item">
                        <a href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Catégories</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-9">
            <h3 class="text-center">Liste des catégories</h3>
        </div>
        <div class="col-sm-4 col-3 text-right m-b-20">
            <a href="{{ path('admin_categories_new') }}" class="btn btn-primary float-right btn-rounded">
                <i class="fa fa-plus"></i>
                Nouvelle catégorie</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-md-12">
            <div class="card-box">
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0" id="datatable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>                                
                                <th>Langue</th>
                             
                            </tr>
                            </thead>
                            <tbody>
                            {% if categories %}
                                {% for categorie in categories %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                         <td>
                                            {{ categorie.nom }}
                                        </td>
                                        <td>
                                            {{ categorie.langue }}
                                        </td>
                                    
                                        <td>
                                            <a class="btn btn-success" href="{{ path('admin_categories_edit', {id : categorie.id}) }}" title="Modifier">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger ajax-categorie-delete " style="color:white !important;" href="javascript:void(0)" data-id="{{ categorie.id }}" data-url="{{ path('admin_categorie_delete', {id : categorie.id}) }}" title="Supprimer">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" style="text-align: center">
                                        <h4>Aucune catégorie Enregistrée</h4>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/categorie.js') }}"></script>
{% endblock %}
