{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}Ajout|Modification d'une Categorie
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb" style="margin-top: 50px;">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Categories</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			{% if not categorie.id %}
				<h3 class="text-center">Ajout d'une categorie</h3>
			{% else %}
				<h3 class="text-center">Modification d'une categorie</h3>
			{% endif %}
		</div>
	</div>
	{% include 'admin/categories/_form.html.twig' %}
{% endblock %}
