{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }}Liste des catégories de destinataires pour les emails{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb"  style="margin-top: 50px;">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Destinataire</li>
                    </ol>
                </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <h3 class="text-center">Liste des catégories de destinataires pour les emails</h3>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 text-right m-b-20">
            <a href="{{ path('admin_destinataires_new') }}" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Nouveau destinataire</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-md-12">
            <div class="card-box">
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0" id="datatable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if destinataires %}
                                {% for destinataire in destinataires %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ destinataire.nom }}</td>
                                        <td>
                                            <a class="btn btn-success" href="{{ path('admin_destinataires_edit', {id : destinataire.id, slug: destinataire.slug}) }}" title="Modifier"><i class="fa fa-edit"></i></a>
                                            <a style="color:white !important;" class="ajax-destinataire-delete btn btn-danger" href="javascript:void(0)"
                                               data-url="{{ path('admin_destinataires_delete', {id : destinataire.id}) }}"
                                               data-id="{{ destinataire.id }}" title="Supprimer"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="4" style="text-align: center"><h4>Aucun destinataire Enregistré</h4></td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/destinataire.js') }}"></script>
{% endblock %}
