{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }}Ajout|Modification d'un destinataire{% endblock %}
{% block body %}
    <div class="row"  style="margin-top: 50px;">
        <div class="col-lg-10 offset-lg-1">
            {% if not destinataire.id %}
                <h3 class="text-center">Ajout d'un destinataire</h3>
            {% else %}
                <h3 class="text-center">Modification d'un destinataire</h3>
            {% endif %}
        </div>
    </div>
    {% include 'admin/destinataire/_form.html.twig' %}
{% endblock %}