{% extends 'admin/base.html.twig' %}
{% block title %}
	{{ parent() }}
	Liste des pré-inscriptions
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 50px;">
					<li class="breadcrumb-item">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('admin_inscriptions_index') }}">Pré-inscriptions</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Détails</li>
				</ol>
			</nav>
		</div>
	</div>

	<h2 class="text-center">Détails d'une pré-inscription</h2>
	<div class="row">
		<div class="col-6">
			<fieldset>
				<legend>Informations sur la personne</legend>
				<table class="table table-bordered">
					<tr>
						<th>Nom et prénom</th>
						<td>{{ inscription.nomPrenom }}</td>
					</tr>
					<tr>
						<th>Téléphone</th>
						<td>{{ inscription.telephone }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ inscription.email }}</td>
					</tr>
					<tr>
						<th>Sexe</th>
						<td>{{ inscription.sexe }}</td>
					</tr>
					<tr>
						<th>Personne à contacter</th>
						<td>{{ inscription.personContact }}</td>
					</tr>
					<tr>
						<th>Pays</th>
						<td>{{ inscription.pays }}</td>
					</tr>
					<tr>
						<th>Ville</th>
						<td>{{ inscription.ville }}</td>
					</tr>
					<tr>
						<th>Date de création</th>
						<td>{{ inscription.createdAt | date("d/m/Y H:i:s")  }}</td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div class="col-6">
			<fieldset>
				<legend>Fichiers & Informations sur la formations</legend>
				<table class="table table-bordered">

					<tr>
						<th>CNI</th>
						<td>
							{% if inscription.cni %}
								<a target="_blank" href="{{ asset(inscription.cni) }}">Voir</a>
							{% else %}
								<b>-<b>
									{% endif %}
								</td>
							</tr>
						</td>
					</tr>


					<tr>
						<th>Dernier diplôme</th>
						<td>
							{% if inscription.dernierDiplome %}
								<a target="_blank" href="{{ asset(inscription.dernierDiplome) }}">Voir</a>
							{% else %}
								<b>-<b>
									{% endif %}
								</td>
							</tr>
						</td>
					</tr>
					<tr>
						<th>CV</th>
						<td>
							{% if inscription.cv %}
								<a target="_blank" href="{{ asset(inscription.cv) }}">Voir</a>
							{% else %}
								<b>-<b>
									{% endif %}
								</td>
							</tr>
						</td>
					</tr>
					<tr>
						<th>Option d'apprentissage</th>
						<td>{{ inscription.optionApprentissage.libelle }}</td>
					</tr>
					<tr>
						<th>Filière</th>
						<td>{{ inscription.filiere.libelle }}</td>
					</tr>
					<tr>
						<th>Type</th>
						<td>{{ inscription.type }}</td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div class="p-3"></div>
		<div class="col-12">
			<fieldset>
				<legend>Autres Informations</legend>
				<table class="table table-bordered">
					<tr>
						<th>J'ai au minimun BAC+2</th>
						<td>
							{% if inscription.minBacPlus2 %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>J'ai un équipement de travail à la maison</th>
						<td>
							{% if inscription.hasEquipement %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>J'ai une connexion internet propre</th>
						<td>
							{% if inscription.hasInternet %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>J'ai un smart phone</th>
						<td>
							{% if inscription.hasPhone %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>J'ai une connaissance des outils offices</th>
						<td>
							{% if inscription.hasTool %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Je travaille déjà</th>
						<td>
							{% if inscription.hasWork %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>
				</td>
			</tr>
		</table>
	</fieldset>
</div></div><div class="form-group mt-3">
<a class="btn btn-secondary" href="{{ path('admin_inscriptions_index') }}">Retour</a></div><script src="{{ asset('assets/js/inscription.js') }}"></script>{% endblock %}
