{{ form_start(form) }}
{{ form_row(form._token) }}
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			{{ form_label(form.libelle) }}<span class="text-danger">*</span>
			{{ form_widget(form.libelle) }}
			{{ form_errors(form.libelle) }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			{{ form_label(form.formation) }}<span class="text-danger">*</span>
			{{ form_widget(form.formation) }}
			{{ form_errors(form.formation) }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			{{ form_label(form.mode) }}<span class="text-danger">*</span>
			{{ form_widget(form.mode) }}
			{{ form_errors(form.mode) }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			{{ form_label(form.description) }}<span class="text-danger">*</span>
			{{ form_widget(form.description) }}
			{{ form_errors(form.description) }}
		</div>
	</div>
</div>

{% if filiere.id %}
	{% include 'partials/buttons/button_update.html.twig' %}
{% else %}
	{% include 'partials/buttons/button_save.html.twig' %}
{% endif %}
{{ form_rest(form) }}
{{ form_end(form) }}
